<form name="form" class="row form-horizontal" novalidate>

    <div class="col-xs-0 col-lg-2"></div>

    <div class="col-xs-12 col-lg-8 box-typical box-typical-padding">

        <h5 class="with-border" >{{mainController.title | translate}}</h5>

        <div class="row">
            <div class="col-sm-8 col-md-10">
                <fieldset class="form-group"
                          ng-class="{ 'form-group-error': form.title.$invalid && form.title.$dirty }">
                    <label class="form-label required"
                           for="title">
                        {{'News title' | translate}}
                    </label>
                    <input ng-model="news.model.title"
                           placeholder="{{'Title' | translate}}"
                           pattern=".{1,255}"
                           name="title"
                           type="text"
                           id="title"
                           class="form-control"
                           required>
                    <small class="text-muted"
                           ng-if="form.reason.$invalid && form.reason.$dirty">
                        {{'Title is required (max length: 255)' | translate}}
                    </small>
                </fieldset>
            </div>

            <div class="col-sm-4 col-md-2">
                <fieldset class="form-group"
                          ng-class="{ 'form-group-error': form.title.$invalid && form.title.$dirty }">
                    <label class="form-label required"
                           for="type">
                        {{'Type' | translate}}
                    </label>

                    <select ng-model="news.model.type"
                            name="type"
                            id="type"
                            class="form-control"
                            required
                            ng-options="type.id as (type.title + '_news' | translate) for type in news.newsTypes">
                    </select>

                </fieldset>
            </div>
        </div>

        <fieldset class="form-group">
            <label class="form-label required"
                   for="content">
                {{'Content' | translate}}
            </label>
            <div ckeditor="news.ckEditorOptions"
                 ng-model="news.model.content"
                 name="content"
                 id="content"
                 required>
            </div>
        </fieldset>

        <fieldset class="form-group">
            <label class="form-label required"
                   for="excerpt">
                {{'Excerpt' | translate}}
            </label>
            <div ckeditor="news.ckEditorOptions"
                 ng-model="news.model.excerpt"
                 name="excerpt"
                 id="excerpt"
                 required>
            </div>
        </fieldset>

        <div class="row text-center">

            <button ng-if="news.action == news.actions.UPDATE"
                    ng-click="news.update()"
                    ng-disabled="!form.$valid || !form.$dirty"
                    class="btn btn-primary">
                {{ news.action | translate }}
            </button>

            <button ng-if="news.action == news.actions.CREATE"
                    ng-click="news.create()"
                    ng-disabled="!form.$valid"
                    class="btn btn-success">
                {{ news.action | translate }}
            </button>

        </div>

    </div>

    <div class="col-xs-0 col-lg-2"></div>

</form>