<div class="row">

    <div class="news-list-page col-sm-12 col-lg-10 col-lg-offset-1">

        <a href="/news/create"
           class="btn btn-primary list-create-btn"
           auth-can="news.create">
            {{'Create' | translate}}
        </a>

        <div ng-repeat="n in news.list">
            <div class="card-grid-col">
                <article class="card-typical">
                    <div class="card-typical-section">
                        <div class="user-card-row">
                            <div class="tbl-row">
                                <div class="tbl-cell tbl-cell-photo">
                                    <a href="/user/{{n.author.id}}">
                                        <img src="{{n.author.profile.profileImageFullPath}}" alt="">
                                    </a>
                                </div>
                                <div class="tbl-cell">
                                    <p class="user-card-row-name">
                                        <a href="/user/{{n.author.id}}">{{n.author.fullName}}</a>
                                    </p>
                                    <p class="color-blue-grey-lighter">
                                        {{n.created_at}}
                                    </p>
                                </div>
                                <div class="tbl-cell tbl-cell-status">
                                    <a href="#"
                                       ng-if="n.type == news.types.Important"
                                       ng-class="{ 'active':  n.isUnread }"
                                       title="{{'Important_news' | translate}}"
                                       class="font-icon glyphicon glyphicon-exclamation-sign">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-typical-section card-typical-content">
                        <header class="title">
                            <a href="/news/{{n.id}}">{{n.title}}</a>
                        </header>
                        <p ng-bind-html="n.excerpt"></p>
                        <a href="/news/{{n.id}}" class="read-more-btn">
                            {{'Read more...' | translate}}
                        </a>
                    </div>
                    <div class="card-typical-section">
                        <a href="#" class="card-typical-likes">
                            <i class="font-icon font-icon-comment"></i>
                            {{n.commentsCount}} {{'News_comments_count' | translate}}
                        </a>
                    </div>
                </article><!--.card-typical-->
            </div><!--.card-grid-col-->
            <br/>
        </div>


    </div>

</div>
