<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{'Add comment' | translate}}</h4>
            </div>
            <div class="modal-body">
                <form name="commentForm"  novalidate>

                    <fieldset class="form-group"
                              ng-if="news.modalScenario == 'create'">
                        <label class="form-label required"
                               for="newComment">
                            {{'Comment' | translate}}
                        </label>
                        <div ckeditor="news.ckEditorOptions"
                             ng-model="news.newCommentModel.message"
                             name="message"
                             id="newComment"
                             required>
                        </div>
                    </fieldset>

                    <fieldset class="form-group"
                              ng-if="news.modalScenario == 'update'">
                        <label class="form-label required"
                               for="editableComment">
                            {{'Comment' | translate}}
                        </label>
                        <div ckeditor="news.ckEditorOptions"
                             ng-model="news.editableCommentModel.message"
                             name="message"
                             id="editableComment"
                             required>
                        </div>
                    </fieldset>

                </form>
            </div>
            <div class="modal-footer text-center">

                <button type="button"
                        ng-if="news.modalScenario == 'create'"
                        ng-disabled="!commentForm.$valid || !commentForm.$dirty"
                        ng-click="news.createNewComment()"
                        class="btn btn-success">
                    {{'Save' | translate}}
                </button>

                <button type="button"
                        ng-if="news.modalScenario == 'update'"
                        ng-disabled="!commentForm.$valid || !commentForm.$dirty"
                        ng-click="news.updateOldComment()"
                        class="btn btn-success">
                    {{'Save' | translate}}
                </button>

            </div>
        </div>
    </div>
</div>

<div class="news-page">
    <div class="row">

        <div class="news-list-page col-sm-12 col-lg-10 col-lg-offset-1">
            <div class="card-grid-col">
                <article class="card-typical">
                    <div class="card-typical-section">
                        <div class="user-card-row">
                            <div class="tbl-row">
                                <div class="tbl-cell tbl-cell-photo">
                                    <a href="/user/{{news.model.author.id}}">
                                        <img src="{{news.model.author.profile.profileImageFullPath}}" alt="">
                                    </a>
                                </div>
                                <div class="tbl-cell">
                                    <p class="user-card-row-name">
                                        <a href="/user/{{news.model.author.id}}">{{news.model.author.fullName}}</a>
                                    </p>
                                    <p class="color-blue-grey-lighter">
                                        {{news.model.created_at}}
                                    </p>
                                </div>
                                <div class="tbl-cell tbl-cell-status action-btn">
                                    <a href="/news/{{news.model.id}}/update"
                                       auth-can="news.update"
                                       title="{{'Update' | translate}}"
                                       class="glyphicon glyphicon-pencil">
                                    </a>
                                    <a href=""
                                       auth-can="news.delete"
                                       ng-click="news.delete(news.model.id)"
                                       title="{{'Delete' | translate}}"
                                       class="glyphicon glyphicon-trash">
                                    </a>
                                    <a href="#"
                                       ng-if="news.model.type == news.newsTypes.Important"
                                       ng-class="{ 'active':  n.isUnread }"
                                       title="{{'Important_news' | translate}}"
                                       class="glyphicon glyphicon-exclamation-sign">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-typical-section card-typical-content">
                        <header class="title">
                            <a href="">{{news.model.title}}</a>
                        </header>
                        <p ng-bind-html="news.model.content" class="news-content"></p>
                    </div>
                    <div class="card-typical-section">
                        <div class="card-typical-linked">
                            <a href=""
                               ng-click="news.openCreateCommentModal()" >
                                {{'Add comment' | translate}}
                            </a>
                        </div>
                        <a href="#" class="card-typical-likes">
                            <i class="font-icon font-icon-comment"></i>
                            {{news.model.commentsCount}} {{'News_comments_count' | translate}}
                        </a>
                    </div>
                </article><!--.card-typical-->
            </div><!--.card-grid-col-->
        </div>

    </div>

    <div class="row comment-block"
         ng-repeat="comment in news.comments">

        <div class="news-list-page col-sm-12 col-lg-10 col-lg-offset-1">
            <div class="card-grid-col">
                <article class="card-typical">
                    <div class="card-typical-section">
                        <div class="user-card-row">
                            <div class="tbl-row">
                                <div class="tbl-cell tbl-cell-photo">
                                    <a href="/user/{{comment.user.id}}">
                                        <img src="{{comment.user.profile.profileImageFullPath}}" alt="">
                                    </a>
                                </div>
                                <div class="tbl-cell">
                                    <p class="user-card-row-name">
                                        <a href="/user/{{comment.user.id}}">{{comment.user.fullName}}</a>
                                    </p>
                                    <p class="color-blue-grey-lighter">
                                        {{comment.created_at}}
                                        <i ng-if="comment.created_at != comment.updated_at">
                                            &nbsp;
                                            ({{'updated' | translate}}
                                            {{comment.updated_at}})
                                        </i>
                                    </p>
                                </div>
                                <div class="tbl-cell tbl-cell-status action-btn">
                                    <a href=""
                                       ng-if="comment.isEditable"
                                       ng-click="news.openUpdateCommentModal(comment)"
                                       title="{{'Update' | translate}}"
                                       class="glyphicon glyphicon-pencil">
                                    </a>
                                    <a href=""
                                       ng-if="comment.isDeletable"
                                       ng-click="news.deleteComment(comment.id)"
                                       title="{{'Delete' | translate}}"
                                       class="glyphicon glyphicon-trash">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-typical-section card-typical-content">
                        <p ng-bind-html="comment.message" class="comment-content"></p>
                    </div>
                </article><!--.card-typical-->
            </div><!--.card-grid-col-->
        </div>

    </div>
</div>