<form name="form" class="row form-horizontal" novalidate>
    <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 box-typical box-typical-padding">

        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.title.$invalid && form.title.$dirty }">
            <label class="form-label required"
                   for="title">
                {{'Title' | translate}}
            </label>
            <div class="typeahead-container">
                <div class="typeahead-field">
                    <span class="typeahead-query">
                        <input ng-model="project.model.title"
                            placeholder="{{'Title' | translate}}"
                            id="title"
                            class="form-control"
                            type="search"
                            autocomplete="off"
                            required>
                    </span>
                </div>
            </div>

            <small class="text-muted"
                   ng-if="form.title.$invalid && form.title.$dirty">
                {{'Title is required (max length: 255)' | translate}}
            </small>
        </fieldset>

        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.description.$invalid && form.description.$dirty }">
            <label class="form-label required">
                {{'Description' | translate}}
            </label>
            <div ckeditor="options" ng-model="project.model.description" ready="onReady()" required></div>
            <small class="text-muted"
                   ng-if="form.description.$invalid && form.description.$dirty">
                {{'Description is required (max length: 255)' | translate}}
            </small>
        </fieldset>

        <div class="row">
            <div class="col-xs-12 col-sm-6">

                <fieldset class="form-group">
                    <label class="form-label"
                           for="start_date">
                        {{'Start date' | translate}}
                    </label>
                    <div class='input-group date'>
                        <input ng-model="project.model.start_date"
                               type='text'
                               pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                               name="start_date"
                               id="start_date"
                               date-time-picker
                               dtp-locale="{{mainController.currentLang}}"
                               class="form-control"
                                />
                        <span class="input-group-addon">
                            <i class="font-icon font-icon-calend"></i>
                        </span>
                    </div>
                    <small class="text-muted"
                           ng-if="form.start_date.$invalid && form.start_date.$dirty">
                        {{'Start date is required (pattern: ____-__-__)' | translate}}
                    </small>
                </fieldset>

                <fieldset class="form-group"
                          ng-class="{ 'form-group-error': form.internal_price.$invalid && form.internal_price.$dirty }">
                    <label class="form-label"
                           for="internal_price">
                        {{'Internal price' | translate}} ($)
                    </label>
                    <input ng-model="project.model.internal_price"
                           placeholder="{{'Internal price' | translate}}"
                           type="number"
                           name="internal_price"
                           id="internal_price"
                           class="form-control"
                           min="0">
                    <small class="text-muted"
                           ng-if="form.internal_price.$invalid && form.internal_price.$dirty">
                        {{'Internal price must be valid' | translate}}
                    </small>
                </fieldset>

                <fieldset class="form-group"
                          ng-class="{ 'form-group-error': form.hours_developers.$invalid && form.hours_developers.$dirty }">
                    <label class="form-label"
                           for="hours_developers">
                        {{'Number of programmers working hours' | translate}}
                    </label>
                    <input ng-model="project.model.hours_developers"
                           placeholder="{{'Number of programmers working hours' | translate}}"
                           type="number"
                           name="hours_developers"
                           id="hours_developers"
                           class="form-control"
                           min="0">
                    <small class="text-muted"
                           ng-if="form.hours_developers.$invalid && form.hours_developers.$dirty">
                        {{'Number of programmers working hours must be valid' | translate}}
                    </small>
                </fieldset>

                <fieldset class="form-group"
                          ng-class="{ 'form-group-error': form.hours_sales.$invalid && form.hours_sales.$dirty }">
                    <label class="form-label"
                           for="hours_sales">
                        {{'Number of sales working hours' | translate}}
                    </label>
                    <input ng-model="project.model.hours_sales"
                           placeholder="{{'Number of sales working hours' | translate}}"
                           type="number"
                           name="hours_sales"
                           id="hours_sales"
                           class="form-control"
                           min="0">
                    <small class="text-muted"
                           ng-if="form.hours_sales.$invalid && form.hours_sales.$dirty">
                        {{'Number of sales working hours must be valid' | translate}}
                    </small>
                </fieldset>

                <fieldset class="form-group"
                          ng-class="{ 'form-group-error': form.payment_sum.$invalid && form.payment_sum.$dirty }">
                    <label class="form-label"
                           for="payment_sum">
                        {{'Payment sum' | translate}} ($)
                    </label>
                    <input ng-model="project.model.payment_sum"
                           placeholder="{{'Payment sum' | translate}}"
                           type="number"
                           name="payment_sum"
                           id="payment_sum"
                           class="form-control"
                           min="0">
                    <small class="text-muted"
                           ng-if="form.payment_sum.$invalid && form.payment_sum.$dirty">
                        {{'Payment sum must be valid' | translate}}
                    </small>
                </fieldset>

                <fieldset class="form-group">
                    <label class="form-label">
                        {{'Technologies' | translate}}
                    </label>
                    <div class="list-checkboxes-350">
                        <div class="checkbox-bird grey" ng-repeat="technology in project.technologiesList">
                            <input type="checkbox"
                                   id="technology-{{technology}}"
                                   name="technologiesIds[]"
                                   checklist-model="project.model.technologiesIds"
                                   checklist-value="technology.id"/>
                            <label for="technology-{{technology}}">{{technology.name}}</label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="col-xs-12 col-sm-6">
                <fieldset class="form-group">
                    <label class="form-label"
                           for="end_date">
                        {{'End date' | translate}}
                    </label>
                    <div class='input-group date'>
                        <input ng-model="project.model.end_date"
                               type='text'
                               pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                               date-time-picker
                               dtp-locale="{{mainController.currentLang}}"
                               name="end_date"
                               id="end_date"
                               class="form-control"
                                />
                        <span class="input-group-addon">
                            <i class="font-icon font-icon-calend"></i>
                        </span>
                    </div>
                    <small class="text-muted"
                           ng-if="form.end_date.$invalid && form.end_date.$dirty">
                        {{'End date is required (pattern: ____-__-__)' | translate}}
                    </small>
                </fieldset>

                <fieldset class="form-group"
                          ng-class="{ 'form-group-error': form.external_price.$invalid && form.external_price.$dirty }">
                    <label class="form-label"
                           for="external_price">
                        {{'External price' | translate}} ($)
                    </label>
                    <input ng-model="project.model.external_price"
                           placeholder="{{'External price' | translate}}"
                           type="number"
                           name="external_price"
                           id="external_price"
                           class="form-control"
                           min="0">
                    <small class="text-muted"
                           ng-if="form.external_price.$invalid && form.external_price.$dirty">
                        {{'External price must be valid' | translate}}
                    </small>
                </fieldset>

                <fieldset class="form-group"
                          ng-class="{ 'form-group-error': form.hours_pm.$invalid && form.hours_pm.$dirty }">
                    <label class="form-label"
                           for="hours_pm">
                        {{'Number of PMs working hours' | translate}}
                    </label>
                    <input ng-model="project.model.hours_pm"
                           placeholder="{{'Number of PMs working hours' | translate}}"
                           type="number"
                           name="hours_pm"
                           id="hours_pm"
                           class="form-control"
                           min="0">
                    <small class="text-muted"
                           ng-if="form.hours_pm.$invalid && form.hours_pm.$dirty">
                        {{'Number of PMs working hours must be valid' | translate}}
                    </small>
                </fieldset>

                <fieldset class="form-group"
                          ng-class="{ 'form-group-error': form.hours_qa.$invalid && form.hours_qa.$dirty }">
                    <label class="form-label"
                           for="hours_qa">
                        {{'Number of QAs working hours' | translate}}
                    </label>
                    <input ng-model="project.model.hours_qa"
                           placeholder="{{'Number of QAs working hours' | translate}}"
                           type="number"
                           name="hours_qa"
                           id="hours_qa"
                           class="form-control"
                           min="0">
                    <small class="text-muted"
                           ng-if="form.hours_qa.$invalid && form.hours_qa.$dirty">
                        {{'Number of QAs working hours must be valid' | translate}}
                    </small>
                </fieldset>

                <fieldset class="form-group"
                          ng-class="{ 'form-group-error': form.time_spent.$invalid && form.time_spent.$dirty }">
                    <label class="form-label"
                           for="time_spent">
                        {{'Time spent' | translate}}
                    </label>
                    <input ng-model="project.model.time_spent"
                           placeholder="{{'Time spent' | translate}}"
                           type="number"
                           name="time_spent"
                           id="time_spent"
                           class="form-control"
                           min="0">
                    <small class="text-muted"
                           ng-if="form.time_spent.$invalid && form.time_spent.$dirty">
                        {{'Time spent must be valid' | translate}}
                    </small>
                </fieldset>

                <fieldset class="form-group" ng-if="project.action == project.actions.UPDATE">
                    <label class="form-label required"
                           for="payment_method">
                        {{'Payment method' | translate}}
                    </label>
                    <select ng-model="project.model.payment_method"
                            name="payment_method" id="payment_method" class="form-control"
                            ng-required="true"
                            >
                        <option ng-repeat="item in project.paymentMethods" value = "{{item.id}}">{{item.title | translate}}</option>
                    </select>
                </fieldset>

                <fieldset class="form-group" ng-if="project.action == project.actions.UPDATE">
                    <label class="form-label"
                           for="status">
                        {{'Status' | translate}}
                    </label>
                    <select ng-model="project.model.status"
                            name="status" id="status" class="form-control"
                            ng-required="true"
                            >
                        <option ng-repeat="item in project.statuses" value = "{{item.id}}">{{item.title | translate}}</option>
                    </select>
                </fieldset>

                <fieldset class="form-group" ng-if="project.action == project.actions.CREATE">
                    <label class="form-label required"
                           for="payment_method">
                        {{'Payment method' | translate}}
                    </label>
                    <select ng-model="project.model.payment_method"
                            name="payment_method"
                            id="payment_method"
                            class="form-control"
                            required
                            ng-options="payment_method.id as (payment_method.title | translate) for payment_method in project.paymentMethods">
                    </select>
                </fieldset>

                <fieldset class="form-group" ng-if="project.action == project.actions.CREATE">
                    <label class="form-label required"
                           for="status">
                        {{'Status' | translate}}
                    </label>
                    <select ng-model="project.model.status"
                            name="status"
                            id="status"
                            class="form-control"
                            required
                            ng-options="status.id as (status.title | translate) for status in project.statuses">
                    </select>
                </fieldset>



                <fieldset class="form-group"
                          ng-class="{ 'form-group-error': form.client.$invalid && form.client.$dirty }">
                    <label class="form-label"
                           for="client">
                        {{'Client' | translate}}
                    </label>
                    <div class="typeahead-container">
                        <div class="typeahead-field">
                            <span class="typeahead-query">
                                <input ng-model="project.model.client"
                                       placeholder="{{'Select client name, or write your...' | translate}}"
                                       id="client"
                                       class="form-control"
                                       type="search"
                                       autocomplete="off">
                            </span>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="form-group"
                          ng-class="{ 'form-group-error': form.name.$invalid && form.name.$dirty }">
                    <label for="title"
                           class="control-label form-label">
                        {{'Client feedback' | translate}}
                    </label>
                    <input ng-model="project.model.client_feedback"
                           placeholder="{{'Client feedback' | translate}}"
                           type="text"
                           pattern=".{1,255}"
                           name="client_feedback"
                           id="client_feedback"
                           class="form-control" />
                    <small class="text-muted"
                           ng-if="form.client_feedback.$invalid && form.client_feedback.$dirty">
                        {{'Client feedback' | translate}}
                    </small>
                </fieldset>

                <fieldset class="form-group" >
                    <label calss="form-label" for="quality">
                        {{'Quality of execution' | translate}}
                    </label>
                    <jk-rating-stars max-rating="10" rating="project.model.quality" id="quality" name="quality"></jk-rating-stars>
                </fieldset>
            </div>
        </div>

        <fieldset class="form-group">
            <label class="form-label"
                   for="files">
                {{'File' | translate}}
            </label>
            <input type="file"
                   class="filestyle"
                   file-model="files"
                   id="files"
                   name="files"
                   multiple/>
        </fieldset>



        <section class="proj-page-section" ng-if="project.model.fullPathFileAttachments">
            <header class="proj-page-subtitle">
                <h3>{{'Attachments' | translate}}</h3>
            </header>
            <div class="proj-page-attach"
                 ng-repeat="file in project.model.fullPathFileAttachments"
                 ng-if="project.deletedFiles.indexOf(file.name) === -1">
                <div>
                    <i class="font-icon font-icon-page"></i>
                    <p class="name">{{file.name}}</p>
                    <p class="date">{{project.model.publish_date}}</p>
                    <p>
                        <a href="{{file.path}}" target="_self" download>{{'Download' | translate}}</a>
                        <a><span ng-click="project.deleteAttachedFile(project.model.id, file.name)"
                                 class="glyphicon glyphicon-remove action-icon"
                                 title = "{{'Delete attached file' | translate}}">
                        </span></a>
                    </p>
                </div>
            </div>
        </section><!--.proj-page-attach-section-->

        <div class="row text-center">

            <button ng-if="project.action == project.actions.CREATE"
                    ng-click="project.create()"
                    ng-disabled="!form.$valid"
                    class="btn btn-success">
                {{ project.action | translate }}
            </button>

            <button ng-if="project.action == project.actions.UPDATE"
                    ng-click="project.update()"
                    ng-disabled="!form.$valid || !form.$dirty"
                    class="btn btn-primary">
                {{ 'Update' | translate }}
            </button>
        </div>

    </div>
    <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2"></div>
</form>


