<div>
    <a href="/myProjects/archived"
       class="btn btn-danger list-create-btn"
       auth-can="project.read">
        {{'In archive' | translate}}
    </a>

    <div class="box-typical table-wrapper">
        <div class="dropdown table-columns-dropdown">
            <span class="icon glyphicon glyphicon-th-list " data-toggle="dropdown" title="{{'Columns' | translate}}"></span>
            <ul class="dropdown-menu dropdown-menu-right keep-open-on-click">
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="project.columns[1].show"/> {{project.columns[1].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="project.columns[2].show"/> {{project.columns[2].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="project.columns[3].show"/> {{project.columns[3].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="project.columns[4].show"/> {{project.columns[4].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="project.columns[5].show"/> {{project.columns[5].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="project.columns[6].show"/> {{project.columns[6].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="project.columns[7].show"/> {{project.columns[7].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="project.columns[8].show"/> {{project.columns[8].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="project.columns[9].show"/> {{project.columns[9].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="project.columns[10].show"/> {{project.columns[10].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="project.columns[11].show"/> {{project.columns[11].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="project.columns[12].show"/> {{project.columns[12].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="project.columns[13].show"/> {{project.columns[13].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="project.columns[14].show"/> {{project.columns[14].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="project.columns[15].show"/> {{project.columns[15].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="project.columns[16].show"/> {{project.columns[16].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="project.columns[17].show"/> {{project.columns[17].title()}}
                    </label>
                </li>
            </ul>
        </div>

        <table ng-table="project.tableParams"
               ng-table-columns-binding="project.columns"
               template-pagination="/frontend/views/common/table-pagination-template.html"
               class="table table-bordered table-hover clicked-table-projects"
               show-filter="true">
            <tr ng-repeat="t in $data" data-key="{{t.id}}" class="general-row-project">
                <td title="'№'" class="td-col-5 text-center">
                    {{ ((project.tableParams.page() - 1) * project.tableParams.count()) + $index + 1 }}
                </td>
                <td data-title="'Title' | translate" filter="{ title: 'text'}" sortable="'title'" ng-if="true">
                    <span ng-if="t.title">
                        {{t.title}}
                    </span>
                    <span ng-if="!t.title"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>

                <td data-title="'Technologies' | translate"
                    filter="{ technologiesIds: '/frontend/views/common/multi-select-template.html' }"
                    filter-data="project.getTechnologiesFilter()"
                    ng-if="true">
                    <span ng-if="t.technologies.length">
                        <span ng-repeat="technology in t.technologies" class="label label-default m-r-sm">
                            {{technology.name}}
                        </span>
                    </span>
                    <span ng-if="!t.technologies.length"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>
                <td data-title="'Creation Date' | translate" filter="{ publish_date: 'text'}" sortable="'publish_date'" ng-if="true">
                    <span ng-if="t.publish_date">
                        {{t.publish_date}}
                        <i class="font-icon gray-icon font-icon-clock"></i>
                    </span>
                    <span ng-if="!t.publish_date"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>
                <td data-title="'Status' | translate" filter="{ status: 'select'}" filter-data="project.getProjectStatusesFilter()" sortable="'status'" ng-if="true">
                    <span class="label label-{{t.statusAsObject.labelName}}">
                        {{ t.statusAsObject.name | translate}}
                    </span>
                </td>
                <td data-title="'Client' | translate" filter="{ client: 'text'}" sortable="'client'" ng-if="false">
                    <span ng-if="t.client">
                        {{t.client}}
                    </span>
                    <span ng-if="!t.client"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>
                <td data-title="'Number of programmers working hours' | translate" filter="{ hours_developers: 'text'}" sortable="'hours_developers'" ng-if="false">
                    <span ng-if="t.hours_developers">
                        {{t.hours_developers}}
                    </span>
                    <span ng-if="!t.hours_developers"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>
                <td data-title="'Number of sales working hours' | translate" filter="{ hours_sales: 'text'}" sortable="'hours_sales'" ng-if="false">
                    <span ng-if="t.hours_sales">
                        {{t.hours_sales}}
                    </span>
                    <span ng-if="!t.hours_sales"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>
                <td data-title="'Number of PMs working hours' | translate" filter="{ hours_pm: 'text'}" sortable="'hours_pm'" ng-if="false">
                    <span ng-if="t.hours_pm">
                        {{t.hours_pm}}
                    </span>
                    <span ng-if="!t.hours_pm"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>
                <td data-title="'Number of QAs working hours' | translate" filter="{ hours_qa: 'text'}" sortable="'hours_qa'" ng-if="false">
                    <span ng-if="t.hours_qa">
                        {{t.hours_qa}}
                    </span>
                    <span ng-if="!t.hours_qa"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>
                <td data-title="'Payment sum' | translate" filter="{ payment_sum: 'text'}" sortable="'payment_sum'" ng-if="false">
                    <span ng-if="t.payment_sum">
                        {{t.payment_sum}}
                    </span>
                    <span ng-if="!t.payment_sum"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>
                <td data-title="'Payment method' | translate" filter="{ payment_method: 'select'}" filter-data="project.getPaymentMethodsFilter()" sortable="'payment_method'" ng-if="false">
                    <span ng-if="t.paymentAsString">
                        {{t.paymentAsString | translate}}
                    </span>
                    <span ng-if="!t.paymentAsString"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>
                <td data-title="'Start' | translate" filter="{ start_date: 'text'}" sortable="'start_date'" ng-if="false">
                    <span ng-if="t.start_date">
                        {{t.start_date}}
                    </span>
                    <span ng-if="!t.start_date"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>
                <td data-title="'End' | translate" filter="{ end_date: 'text'}" sortable="'end_date'" ng-if="false">
                    <span ng-if="t.end_date">
                        {{t.end_date}}
                    </span>
                    <span ng-if="!t.end_date"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>
                <td data-title="'Time spent' | translate" filter="{ time_spent: 'text'}" sortable="'time_spent'" ng-if="false">
                    <span ng-if="t.time_spent">
                        {{t.time_spent}}
                    </span>
                    <span ng-if="!t.time_spent"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>
                <td data-title="'Quality' | translate" filter="{ quality: 'text'}" sortable="'quality'" ng-if="false">
                    <span ng-if="t.quality">
                        {{t.quality}}
                    </span>
                    <span ng-if="!t.quality"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>
                <td data-title="'Last comment' | translate" ng-if="false">
                    <span ng-if="t.lastCommentMessage">
                        <div ng-bind-html="t.lastCommentMessage"></div>
                    </span>
                    <span ng-if="!t.lastCommentMessage"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>
                <td data-title="'Client feedback' | translate" filter="{ client_feedback: 'text'}" sortable="'client_feedback'" ng-if="false">
                    <span ng-if="t.client_feedback">
                        <div ng-bind-html="t.client_feedback"></div>
                    </span>
                    <span ng-if="!t.client_feedback"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>

                <td title="'Actions' | translate" class="td-col-7 text-center actions">
                    <a href="/project/{{ t.id }}"
                       class="action-icon"
                       id="{{'project-view-' + t.id}}"
                       auth-can="project.read">
                        <i class="glyphicon glyphicon-eye-open" aria-hidden="true" title="{{'View' | translate}}"></i>
                    </a>
                    <a href="/project/{{ t.id }}/versions"
                       class="action-icon"
                       auth-can="project.read">
                        <i class="fa fa-history" aria-hidden="true" title="{{'History' | translate}}"></i>
                    </a>
                    <a href="/project/{{ t.id }}/update"
                       class="action-icon"
                       auth-can="project.update">
                        <i class="glyphicon glyphicon-pencil" aria-hidden="true" title="{{'Update' | translate}}"></i>
                    </a>
                    <a href=""
                       class="action-icon"
                       ng-click="project.moveToArchive(t.id)"
                       auth-can="project.delete">
                        <i class="font-icon font-icon-archive" aria-hidden="true" title="{{'To archive' | translate}}"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
