<div ng-include="'views/modules/project/project/modals/commentModal.html'"></div>
<div ng-include="'views/modules/project/project/modals/rateProjectModal.html'"></div>
<div ng-include="'views/modules/project/project/modals/rejectProjectModal.html'"></div>
<div ng-include="'views/modules/project/project/modals/changeStatusModal.html'"></div>
<div ng-include="'views/modules/project/project/modals/passProjectModal.html'"></div>
<div ng-include="'views/modules/project/project/modals/addDevelopersModal.html'"></div>

<div class="row">
    <div class="col-xxl-9 col-lg-12 col-xl-8 col-md-8">
        <section class="box-typical proj-page">
            <section class="proj-page-section proj-page-header">
                <div class="title">
                    {{project.model.title}}
                    <a auth-can="project.manage" type="button" href="/project/{{project.model.id}}/update" class="comment-row-item-action edit">
                        <i class="font-icon font-icon-pencil"></i>
                    </a>
                </div>
                <div class="project">
                    {{'Technologies' | translate}}:
                    <span ng-if="project.model.technologies.length != 0">
                        <span ng-repeat="technology in project.model.technologies" class="label label-default m-r-sm">
                            {{technology.name}}
                        </span>
                    </span>
                    <span ng-if="project.model.technologies.length == 0" class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </div>
            </section><!--.proj-page-section-->

            <section class="proj-page-section">
                <div class="tbl proj-page-team">
                    <div class="tbl-row">
                        <div class="tbl-cell tbl-cell-admin">
                            <div class="avatar-preview avatar-preview-32">
                                <a href="/user/{{project.model.id_sales}}">
                                    <img src="{{project.model.author.profile.profileImageFullPath}}" alt="" title="{{project.model.author.fullName}}">
                                </a>
                            </div>
                        </div>
                        <div class="tbl-cell tbl-cell-divider" ng-if="project.model.developersIds.length != 0">
                            <i class="font-icon font-icon-arrow-right"></i>
                        </div>
                        <div class="tbl-cell" ng-if="project.model.developersIds.length != 0">
                            <div ng-repeat="developer in project.model.developers" class="avatar-preview avatar-preview-32">
                                <a href="/user/{{developer.id}}">
                                    <img src="{{developer.profile.profileImageFullPath}}" alt="" title="{{developer.fullName}}">
                                </a>
                            </div>
                        </div>
                        <div class="tbl-cell tbl-cell-date">{{project.model.publish_date}} ({{project.getDaysAgo()}} days ago)</div>
                    </div>
                </div>
            </section><!--.proj-page-section-->

            <section class="proj-page-section">
                <div class="proj-page-main-controls" ng-if = "project.authPermissions.indexOf('project.all') !== -1 || project.loggedUserId == project.model.id_sales">
                    <div class="proj-page-main-controls-left">
                        <button type="button"
                                data-toggle="modal"
                                data-target="#addDevelopersModal"
                                title = "{{'Add developers' | translate}}"
                                ng-if="project.model.status != project.statuses.In_archive"
                                class="btn btn-select">
                            {{'Add developers' | translate}}
                        </button>
                        <button type="button"
                                data-toggle="modal"
                                data-target="#passProjectModal"
                                title = "{{'Pass' | translate}}"
                                ng-if="project.model.status != project.statuses.In_archive"
                                class="btn btn-select">
                            {{'Pass' | translate}}
                        </button>

                        <button type="button"
                                title="{{'Refresh' | translate}}"
                                class="btn btn-select"
                                ng-click="project.refresh()">
                            {{'Refresh' | translate}}
                        </button>
                    </div>
                    <div class="proj-page-main-controls-right">
                        <button type="button" class="btn btn-select"
                                ng-if="project.model.status != project.statuses.In_work && project.model.status != project.statuses.In_archive"
                                ng-click="project.changeStatus(project.statuses.In_work)">
                            {{'Start project' | translate}}
                        </button>
                        <button type="button" class="btn btn-select" ng-if="project.model.status == project.statuses.In_work" ng-click="project.changeStatus(project.statuses.Completed)">
                            {{'Complete Project' | translate}}
                        </button>
                        <a ng-if = "project.ShowDiscussionButton"
                           ng-href= "dialogs/{{project.model.dialog_id}}"
                           class="btn btn-select">
                            {{ 'Discussion' | translate }}
                        </a>
                    </div>
                </div>

                <div class="proj-page-main-controls" auth-can="project.select"
                     ng-if="!project.isValuatedByCurrentUser && !project.isCurrentUserAssigned">
                    <div class="proj-page-main-controls-left">
                        <button data-toggle="modal"
                                data-target="#rateProjectModal"
                                title = "{{'Rate the project' | translate}}"
                                class = "btn btn btn-success">
                            <span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;{{ "Rate the project" | translate }}
                        </button>

                        <button data-toggle="modal"
                                data-target="#rejectProjectModal"
                                title = "{{'Reject the project' | translate}}"
                                class="btn btn btn-danger">
                            <span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;{{ "Reject the project" | translate }}
                        </button>
                    </div>

                    <div class="proj-page-main-controls-right">
                        <a ng-if = "project.ShowDiscussionButton"
                           ng-href= "dialogs/{{project.model.dialog_id}}"
                           class="btn btn-select">
                            {{ 'Discussion' | translate }}
                        </a>
                    </div>
                </div>

                <div class="proj-page-txt">
                    <header class="proj-page-subtitle">
                        <h3>{{'Description' | translate}}</h3>
                    </header>
                    <p ng-bind-html="project.model.description"></p>
                </div>
            </section><!--.proj-page-section-->

            <section class="proj-page-section" ng-if="project.model.fullPathFileAttachments">
                <header class="proj-page-subtitle">
                    <h3>{{'Attachments' | translate}}</h3>
                </header>
                <div class="proj-page-attach" ng-repeat="file in project.model.fullPathFileAttachments">
                    <i class="font-icon font-icon-page"></i>
                    <p class="name">{{file.name}}</p>
                    <p class="date">{{project.model.publish_date}}</p>
                    <p>
                        <a href="{{file.path}}" target="_self" download>{{'Download' | translate}}</a>
                    </p>
                </div>
            </section><!--.proj-page-attach-section-->

            <section class="proj-page-section" ng-if="project.model.developersMarks.length != 0">
                <header class="proj-page-subtitle">
                    <h3>{{'Project marks' | translate}}</h3>
                </header>
                <div ng-repeat="mark in project.model.developersMarks" class="proj-page-mark alert alert-avatar alert-no-border" ng-class="{'alert-success': mark.evaluate == 1, 'alert-danger': mark.evaluate == 0}">
                    <div class="avatar-preview avatar-preview-32">
                        <a href="/user/{{mark.user.id}}">
                            <img src="{{mark.user.profile.profileImageFullPath}}" alt="">
                        </a>
                    </div>
                    <a href="/user/{{mark.user.id}}"><strong>{{mark.user.fullName}}</strong></a><br>
                    <span ng-if="mark.evaluate == 1">
                        {{'Appreciated project in' | translate}} {{mark.time}} {{'hours' | translate}}
                    </span>
                    <span ng-if="mark.evaluate == 0">
                        {{'Reject project' | translate}}: {{mark.reject_reason}}
                    </span>

                    <div class="alert-btns">
                        <button auth-can="project.manage"
                                type="button"
                                class="btn btn-rounded"
                                ng-click="project.assignDeveloper(mark.id)"
                                ng-if="mark.evaluate == 1 && (project.loggedUserId == project.model.id_sales || project.authPermissions.indexOf('project.all') !== -1) && !mark.isAssigned">
                            {{'Assign' | translate}}
                        </button>
                        <button type="button"
                                class="btn btn-rounded"
                                ng-click="project.deleteRate(mark.id)"
                                ng-if="(project.loggedUserId == mark.id_user && !project.isCurrentUserAssigned) || project.authPermissions.indexOf('project.all') !== -1">{{'Remove mark' | translate}}</button>
                    </div>
                </div>
            </section><!--.proj-page-attach-section-->

            <section class="proj-page-section">
                <header class="proj-page-subtitle">
                    <h3>
                        {{'Comments' | translate}}
                        <a href=""
                           ng-click="project.openCreateCommentModal()"
                           ng-show="project.model.status != project.statuses.In_archive">
                            ({{'Add comment' | translate}})
                        </a>
                    </h3>
                </header>

                <div class="news-page" ng-if="project.comments.length == 0">
                    {{'Be the first to comment' | translate}}
                </div>
            </section>
        </section>

        <div class="row comment-block news-page"
             ng-repeat="comment in project.comments"
             ng-if="project.comments.length != 0">

            <div class="news-list-page col-sm-12 m-b-md">
                <div class="card-grid-col">
                    <article class="card-typical">
                        <div class="card-typical-section">
                            <div class="user-card-row">
                                <div class="tbl-row">
                                    <div class="tbl-cell tbl-cell-photo">
                                        <a href="/user/{{comment.user.id}}">
                                            <img src="{{comment.user.profile.profileImageFullPath}}" alt="">
                                        </a>
                                    </div>
                                    <div class="tbl-cell">
                                        <p class="user-card-row-name">
                                            <a href="/user/{{comment.user.id}}">{{comment.user.fullName}}</a>
                                        </p>
                                        <p class="color-blue-grey-lighter">
                                            {{comment.created_at}}
                                            <i ng-if="comment.created_at != comment.updated_at">
                                                &nbsp;
                                                ({{'updated' | translate}}
                                                {{comment.updated_at}})
                                            </i>
                                        </p>
                                    </div>
                                    <div class="tbl-cell tbl-cell-status m-r-3">
                                        <a href=""
                                           ng-if="comment.isEditable"
                                           ng-click="project.openUpdateCommentModal(comment)"
                                           title="{{'Update' | translate}}"
                                           class="glyphicon glyphicon-pencil action-icon">
                                        </a>
                                        <a href=""
                                           ng-if="comment.isDeletable"
                                           ng-click="project.deleteComment(comment.id)"
                                           title="{{'Delete' | translate}}"
                                           class="glyphicon glyphicon-trash action-icon">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-typical-section card-typical-content">
                            <p ng-bind-html="comment.message" class="comment-content"></p>
                        </div>
                    </article><!--.card-typical-->
                </div><!--.card-grid-col-->
            </div>

        </div>
    </div>

    <div class="col-xxl-3 col-lg-12 col-xl-4 col-md-4">
        <section class="box-typical proj-page">
            <section class="proj-page-section proj-page-labels">
                <header class="proj-page-subtitle padding-sm status-area">
                    <h3>
                        <div class="title">
                            {{'Status' | translate}}
                            <a auth-can="project.manage" type="button" data-toggle="modal" data-target="#changeStatusModal" class="comment-row-item-action edit">
                                <i class="font-icon font-icon-pencil"></i>
                            </a>
                        </div>
                    </h3>
                </header>
                <span class="label label-{{project.model.statusAsObject.labelName}}">
                    {{ project.model.statusAsObject.name | translate}}
                </span>
            </section><!--.proj-page-section-->

            <section class="proj-page-section proj-page-time-info" ng-if="(project.authPermissions.indexOf('project.all') !== -1 || project.loggedUserId == project.model.id_sales) && (project.model.client || project.model.client_feedback)">
                <header class="proj-page-subtitle padding-sm">
                    <h3>{{'Information about client' | translate}}</h3>
                </header>
                <div class="tbl">
                    <div class="tbl-row">
                        <div class="tbl-cell">{{'Client' | translate}}</div>
                        <div class="tbl-cell tbl-cell-time">{{project.model.client}}</div>
                    </div>
                    <div class="tbl-row">
                        <div class="tbl-cell">{{'Client feedback' | translate}}</div>
                        <div class="tbl-cell tbl-cell-time">{{project.model.client_feedback}}</div>
                    </div>
                </div>
            </section><!--.proj-page-section-->

            <section class="proj-page-section proj-page-time-info" ng-if="(project.authPermissions.indexOf('project.all') !== -1 || project.loggedUserId == project.model.id_sales) && project.model.quality">
                <header class="proj-page-subtitle padding-sm">
                    <h3>{{'Quality' | translate}}</h3>
                </header>
                <div class="progress-with-amount progress-compact-style">
                    <progress class="progress progress-success" value="{{project.model.quality}}" max="10">{{project.model.quality}} / 10</progress>
                    <div class="progress-with-amount-number">{{project.model.quality}} / 10</div>
                </div>
            </section><!--.proj-page-section-->

            <section class="proj-page-section proj-page-time-info">
                <header class="proj-page-subtitle padding-sm">
                    <h3>{{'Payment' | translate}}</h3>
                </header>
                <div class="tbl">
                    <div class="tbl-row">
                        <div class="tbl-cell">{{'Payment method' | translate}}</div>
                        <div class="tbl-cell tbl-cell-time">{{project.model.paymentAsString | translate}}</div>
                    </div>
                    <div class="tbl-row" ng-if="project.model.payment_sum && (project.authPermissions.indexOf('project.all') !== -1 || project.loggedUserId == project.model.id_sales)">
                        <div class="tbl-cell">{{'Payment sum' | translate}}</div>
                        <div class="tbl-cell tbl-cell-time">{{project.model.payment_sum}} USD</div>
                    </div>
                    <div class="tbl-row" ng-if="project.model.internal_price">
                        <div class="tbl-cell">{{'Internal price' | translate}}</div>
                        <div class="tbl-cell tbl-cell-time">{{project.model.internal_price}} USD</div>
                    </div>
                    <div class="tbl-row" ng-if="project.model.external_price && (project.authPermissions.indexOf('project.all') !== -1 || project.loggedUserId == project.model.id_sales)">
                        <div class="tbl-cell">{{'External price' | translate}}</div>
                        <div class="tbl-cell tbl-cell-time">{{project.model.external_price}} USD</div>
                    </div>
                </div>
            </section><!--.proj-page-section-->

            <section class="proj-page-section proj-page-time-info"
                     ng-if="(project.authPermissions.indexOf('project.all') !== -1 || project.loggedUserId == project.model.id_sales)
                     && (project.model.hours_developers
                     || project.model.hours_sales
                     || project.model.hours_pm
                     || project.model.hours_qa
                     || project.model.time_spent)">
                <header class="proj-page-subtitle padding-sm">
                    <h3>{{'Work time' | translate}}</h3>
                </header>
                <div class="tbl">
                    <div class="tbl-row" ng-if="project.model.hours_developers">
                        <div class="tbl-cell">{{'Number of programmers working hours' | translate}}</div>
                        <div class="tbl-cell tbl-cell-time">{{project.model.hours_developers}} {{'hours' | translate}}</div>
                    </div>
                    <div class="tbl-row" ng-if="project.model.hours_sales">
                        <div class="tbl-cell">{{'Number of sales working hours' | translate}}</div>
                        <div class="tbl-cell tbl-cell-time">{{project.model.hours_sales}} {{'hours' | translate}}</div>
                    </div>
                    <div class="tbl-row" ng-if="project.model.hours_pm">
                        <div class="tbl-cell">{{'Number of PMs working hours' | translate}}</div>
                        <div class="tbl-cell tbl-cell-time">{{project.model.hours_pm}} {{'hours' | translate}}</div>
                    </div>
                    <div class="tbl-row" ng-if="project.model.hours_qa">
                        <div class="tbl-cell">{{'Number of QAs working hours' | translate}}</div>
                        <div class="tbl-cell tbl-cell-time">{{project.model.hours_qa}} {{'hours' | translate}}</div>
                    </div>
                    <div class="tbl-row" ng-if="project.model.time_spent">
                        <div class="tbl-cell">{{'Time spent' | translate}}</div>
                        <div class="tbl-cell tbl-cell-time">{{project.model.time_spent}} {{'hours' | translate}}</div>
                    </div>
                </div>
            </section><!--.proj-page-section-->

            <section class="proj-page-section proj-page-assigned">
                <header class="proj-page-subtitle padding-sm">
                    <h3>{{'Author' | translate}}</h3>
                </header>
                <div class="user-card-row">
                    <div class="tbl-row">
                        <div class="tbl-cell tbl-cell-photo">
                            <a href="/user/{{project.model.id_sales}}">
                                <img src="{{project.model.author.profile.profileImageFullPath}}" alt="">
                            </a>
                        </div>
                        <div class="tbl-cell">
                            <p class="user-card-row-name"><a href="/user/{{project.model.id_sales}}">{{project.model.author.fullName}}</a></p>
                            <p class="color-blue-grey-lighter">{{project.model.author.rolesAsString}}</p>
                        </div>
                    </div>
                </div>
            </section><!--.proj-page-section-->

            <section class="proj-page-section proj-page-assigned" ng-if="project.model.developers.length != 0">
                <header class="proj-page-subtitle padding-sm">
                    <h3>{{'Assigned to' | translate}}</h3>
                </header>
                <div ng-repeat="developer in project.model.developers" class="user-card-row">
                    <div class="tbl-row">
                        <div class="tbl-cell tbl-cell-photo">
                            <a href="/user/{{developer.id}}">
                                <img src="{{developer.profile.profileImageFullPath}}" alt="">
                            </a>
                        </div>
                        <div class="tbl-cell">
                            <p class="user-card-row-name"><a href="/user/{{developer.id}}">{{developer.fullName}}</a></p>
                            <p class="color-blue-grey-lighter">{{developer.rolesAsString}}</p>
                        </div>
                        
                        <a auth-can="project.manage"
                              class="glyphicon glyphicon-remove action-icon"
                                ng-click="project.deassignDeveloper(developer.id)"
                                ng-if="(project.authPermissions.indexOf('project.all') !== -1 || project.loggedUserId == project.model.id_sales)"
                                title="{{'Deassign' | translate}}">
                        </a>
                    </div>
                </div>
            </section><!--.proj-page-section-->

            <section class="proj-page-section proj-page-dates">
                <header class="proj-page-subtitle padding-sm">
                    <h3>{{'Dates' | translate}}</h3>
                </header>
                <div class="tbl">
                    <div class="tbl-row" ng-if="project.model.start_date">
                        <div class="tbl-cell tbl-cell-lbl">{{'Start date' | translate}}:</div>
                        <div class="tbl-cell">{{project.model.start_date}}</div>
                    </div>
                    <div class="tbl-row" ng-if="project.model.end_date">
                        <div class="tbl-cell tbl-cell-lbl">{{'End date' | translate}}:</div>
                        <div class="tbl-cell">
                            <span class="label label-{{project.getEndDateColor()}}">
                                {{project.model.end_date}}
                            </span>
                        </div>
                    </div>
                    <div class="tbl-row">
                        <div class="tbl-cell tbl-cell-lbl">{{'Created' | translate}}:</div>
                        <div class="tbl-cell">{{project.model.publish_date}}</div>
                    </div>
                    <div class="tbl-row" ng-if="project.model.updated_at">
                        <div class="tbl-cell tbl-cell-lbl">{{'Updated' | translate}}:</div>
                        <div class="tbl-cell">{{project.model.updated_at}}</div>
                    </div>
                </div>
            </section><!--.proj-page-section-->
            
            <section class="proj-page-section">
                <ul class="proj-page-actions-list">
                    <li>
                        <a href="/project/{{project.model.id}}/versions"
                           title = "{{'Versions of the project' | translate}}">
                            <i class="font-icon fa fa-history"></i>
                            {{ 'Versions of the project' | translate }}
                        </a>
                    </li>
                    <li ng-if="project.model.status == project.statuses.In_archive">
                        <a ng-click="changeStatus(project.statuses.Active)"
                           title = "{{'Delete' | translate}}">
                            <i class="glyphicon glyphicon-share-alt"></i>
                            {{'Activate' | translate}}
                        </a>
                    </li>
                    <li ng-if="project.model.status != project.statuses.In_archive">
                        <a ng-click="project.changeStatus(project.statuses.In_archive)"
                           title = "{{'Move to archive' | translate}}">
                            <i class="font-icon font-icon-archive"></i>
                            {{ 'Move to archive' | translate }}
                        </a>
                    </li>
                    <li>
                        <a ng-click="project.delete(project.model.id)"
                           title = "{{'Delete' | translate}}">
                            <i class="font-icon font-icon-trash"></i>
                            {{ 'Delete' | translate }}
                        </a>
                    </li>
                </ul>
            </section><!--.proj-page-section-->
        </section><!--.proj-page-->
    </div>
</div><!--.row-->