<div>
    <a href="/projects"
       class="btn btn-success list-create-btn"
       auth-can="project.read">
        {{'To all projects' | translate}}
    </a>
    <a href="/project/{{project.originalModel.id}}"
       class="btn btn-primary list-create-btn"
       auth-can="project.read">
        {{'To project' | translate}} &nbsp; "{{ project.originalModel.title }}" (№ {{ project.originalModel.id }})
    </a>
    <a href="/project/{{project.originalModel.id}}/versions"
       class="btn btn-warning list-create-btn"
       auth-can="project.manage">
        {{'To versions of project' | translate}} &nbsp; "{{ project.originalModel.title }}" (№ {{ project.originalModel.id }})
    </a>
</div>
<div class="row">
    <div class="col-xxl-12 col-lg-12">
        <section class="box-typical proj-page">
            <section class="proj-page-section proj-page-header">
                <div class="title">
                    <!--title-->
                    <span ng-if="project.originalModel.title == project.oldModel.title">
                        {{project.originalModel.title}}
                    </span>
                    <span ng-if="project.originalModel.title != project.oldModel.title">
                        {{project.oldModel.title}} <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{ project.originalModel.title }}
                    </span>
                </div>
                <div class="project">
                    {{'Technologies' | translate}}:
                    <!--setted->setted-->
                    <span ng-if="project.originalModel.technologies.length && project.oldModel.technologies.length">
                        <span ng-if="project.originalModel.technologiesAsString != project.oldModel.technologiesAsString">
                            <span ng-repeat="technology in project.oldModel.technologies" class="label label-default m-r-sm">
                                {{technology.name}}
                            </span>
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            <span ng-repeat="technology in project.originalModel.technologies" class="label label-default m-r-sm">
                                {{technology.name}}
                            </span>
                        </span>
                        <span ng-if="project.originalModel.technologiesAsString == project.oldModel.technologiesAsString">
                            <span ng-repeat="technology in project.originalModel.technologies" class="label label-default m-r-sm">
                                {{technology.name}}
                            </span>
                        </span>
                    </span>

                    <!--setted->not_set-->
                    <span ng-if="!project.originalModel.technologies.length && project.oldModel.technologies.length">
                        <span ng-repeat="technology in project.oldModel.technologies" class="label label-default m-r-sm">
                            {{technology.name}}
                        </span>
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        <span class="not-set">
                            ({{'Not set' | translate}})
                        </span>
                    </span>

                    <!--not_set->setted-->
                    <span ng-if="project.originalModel.technologies.length && !project.oldModel.technologies.length">
                        <span class="not-set">
                            ({{'Not set' | translate}})
                        </span>
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        <span ng-repeat="technology in project.originalModel.technologies" class="label label-default m-r-sm">
                            {{technology.name}}
                        </span>
                    </span>

                    <!--not_set->not_set-->
                    <span ng-if="!project.originalModel.technologies.length && !project.oldModel.technologies.length" class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </div>
            </section><!--.proj-page-section-->

            <section class="proj-page-section proj-page-assigned">
                <header class="proj-page-subtitle padding-sm">
                    <h3>{{'Author' | translate}}</h3>
                </header>
                <div class="user-card-row">
                    <div class="tbl-row">
                        <div class="tbl-cell tbl-cell-admin">
                            <div class="tbl-cell tbl-cell-photo">
                                <a href="/user/{{project.originalModel.id_sales}}">
                                    <img src="{{project.originalModel.author.profile.profileImageFullPath}}" alt="">
                                </a>
                            </div>
                            <div class="tbl-cell">
                                <p class="user-card-row-name"><a href="/user/{{project.originalModel.id_sales}}">{{project.oldModel.author.fullName}}</a></p>
                                <p class="color-blue-grey-lighter">{{project.oldModel.author.rolesAsString}}</p>
                            </div>
                        </div>
                        <div class="tbl-cell tbl-cell-divider td-col-20 text-center" ng-if="project.originalModel.id_sales != project.oldModel.id_sales">
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </div>
                        <div class="tbl-cell tbl-cell-admin float-right" ng-if="project.originalModel.id_sales != project.oldModel.id_sales">
                            <div class="tbl-cell tbl-cell-photo">
                                <a href="/user/{{project.originalModel.id_sales}}">
                                    <img src="{{project.originalModel.author.profile.profileImageFullPath}}" alt="">
                                </a>
                            </div>
                            <div class="tbl-cell">
                                <p class="user-card-row-name"><a href="/user/{{project.originalModel.id_sales}}">{{project.originalModel.author.fullName}}</a></p>
                                <p class="color-blue-grey-lighter">{{project.originalModel.author.rolesAsString}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--.proj-page-section-->

            <section class="proj-page-section">
                <div class="proj-page-txt">
                    <div class="row" ng-if="project.oldModel.description == project.originalModel.description">
                        <div class="col-xs-12">
                            <header class="proj-page-subtitle">
                                <h3>{{'Description' | translate}}</h3>
                            </header>
                            <p ng-bind-html="project.oldModel.description"></p>
                        </div>
                    </div>

                    <div class="row" ng-if="project.oldModel.description != project.originalModel.description">
                        <div class="col-xs-6">
                            <header class="proj-page-subtitle">
                                <h3>{{'Old description' | translate}}</h3>
                            </header>
                            <p ng-bind-html="project.oldModel.description"></p>
                        </div>
                        <div class="col-xs-6">
                            <header class="proj-page-subtitle">
                                <h3>{{'Current description' | translate}}</h3>
                            </header>
                            <p ng-bind-html="project.originalModel.description"></p>
                        </div>
                    </div>
                </div>
            </section><!--.proj-page-section-->

            <section class="proj-page-section">

                <!--setted->setted-->
                <div class="row" ng-if="project.originalModel.fullPathFileAttachments.length && project.oldModel.fullPathFileAttachments.length">
                    <div ng-if="project.originalModel.fullPathFileAttachments !== project.oldModel.fullPathFileAttachments">
                        <div class="col-xs-6">
                            <header class="proj-page-subtitle">
                                <h3>{{'Old attachments' | translate}}</h3>
                            </header>
                            <div class="proj-page-attach" ng-repeat="file in project.oldModel.fullPathFileAttachments">
                                <i class="font-icon font-icon-page"></i>
                                <p class="name">{{file.name}}</p>
                                <p class="date">{{project.oldModel.publish_date}}</p>
                                <p>
                                    <a href="{{file.path}}" target="_self" download>{{'Download' | translate}}</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <header class="proj-page-subtitle">
                                <h3>{{'Current attachments' | translate}}</h3>
                            </header>
                            <div class="proj-page-attach" ng-repeat="file in project.originalModel.fullPathFileAttachments">
                                <i class="font-icon font-icon-page"></i>
                                <p class="name">{{file.name}}</p>
                                <p class="date">{{project.originalModel.publish_date}}</p>
                                <p>
                                    <a href="{{file.path}}" target="_self" download>{{'Download' | translate}}</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div ng-if="project.originalModel.fullPathFileAttachments === project.oldModel.fullPathFileAttachments">
                        <div class="col-xs-12">
                            <header class="proj-page-subtitle">
                                <h3>{{'Attachments' | translate}}</h3>
                            </header>
                            <div class="proj-page-attach" ng-repeat="file in project.oldModel.fullPathFileAttachments">
                                <i class="font-icon font-icon-page"></i>
                                <p class="name">{{file.name}}</p>
                                <p class="date">{{project.oldModel.publish_date}}</p>
                                <p>
                                    <a href="{{file.path}}" target="_self" download>{{'Download' | translate}}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--not_set->setted-->
                <div class="row" ng-if="project.originalModel.fullPathFileAttachments.length && !project.oldModel.fullPathFileAttachments.length">
                    <div class="col-xs-6">
                        <header class="proj-page-subtitle">
                            <h3>{{'Old attachments' | translate}}</h3>
                        </header>
                        <p class="color-blue-grey-lighter">
                            {{'No attached files found' | translate}}
                        </p>
                    </div>
                    <div class="col-xs-6">
                        <header class="proj-page-subtitle">
                            <h3>{{'Current attachments' | translate}}</h3>
                        </header>
                        <div class="proj-page-attach" ng-repeat="file in project.originalModel.fullPathFileAttachments">
                            <i class="font-icon font-icon-page"></i>
                            <p class="name">{{file.name}}</p>
                            <p class="date">{{project.originalModel.publish_date}}</p>
                            <p class="color-blue-grey-lighter">
                                <a href="{{file.path}}" target="_self" download>{{'Download' | translate}}</a>
                            </p>
                        </div>
                    </div>
                </div>

                <!--setted->not_set-->
                <div class="row" ng-if="!project.originalModel.fullPathFileAttachments.length && project.oldModel.fullPathFileAttachments.length">
                    <div class="col-xs-6">
                        <header class="proj-page-subtitle">
                            <h3>{{'Old attachments' | translate}}</h3>
                        </header>
                        <div class="proj-page-attach" ng-repeat="file in project.oldModel.fullPathFileAttachments">
                            <i class="font-icon font-icon-page"></i>
                            <p class="name">{{file.name}}</p>
                            <p class="date">{{project.oldModel.publish_date}}</p>
                            <p>
                                <a href="{{file.path}}" target="_self" download>{{'Download' | translate}}</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <header class="proj-page-subtitle">
                            <h3>{{'Current attachments' | translate}}</h3>
                        </header>
                        <p class="color-blue-grey-lighter">
                            {{'No attached files found' | translate}}
                        </p>
                    </div>
                </div>

                <!--not_set-->
                <div class="row" ng-if="!project.oldModel.fullPathFileAttachments.length && !project.originalModel.fullPathFileAttachments.length">
                    <div class="col-xs-12">
                        <header class="proj-page-subtitle">
                            <h3>{{'Attachments' | translate}}</h3>
                        </header>
                        <p class="color-blue-grey-lighter">
                            {{'No attached files found' | translate}}
                        </p>
                    </div>
                </div>
            </section><!--.proj-page-attach-section-->

            <section class="proj-page-section">
                <div class="row">
                    <div class="col-xs-4">
                        <header class="proj-page-subtitle padding-sm status-area">
                            <h3>
                                <div class="title">
                                    {{'Status' | translate}}
                                </div>
                            </h3>
                        </header>

                        <span class="label label-{{project.oldModel.statusAsObject.labelName}}">
                            {{ project.oldModel.statusAsObject.name | translate}}
                        </span>

                        <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true" ng-if="project.originalModel.statusAsObject.value != project.oldModel.statusAsObject.value"></i>

                        <span class="label label-{{project.originalModel.statusAsObject.labelName}}" ng-if="project.originalModel.statusAsObject.value != project.oldModel.statusAsObject.value">
                            {{ project.originalModel.statusAsObject.name | translate}}
                        </span>
                    </div>

                    <div class="col-xs-4">
                        <header class="proj-page-subtitle padding-sm">
                            <h3>{{'Quality' | translate}}</h3>
                        </header>
                        <span ng-if="project.oldModel.quality">{{project.oldModel.quality}} / 10</span>
                        <span ng-if="!project.oldModel.quality" class="not-set">({{'Not set' | translate}})</span>

                        <i ng-if="project.oldModel.quality != project.originalModel.quality" class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>

                        <span ng-if="project.oldModel.quality != project.originalModel.quality">{{project.originalModel.quality}} / 10</span>
                    </div>

                    <div class="col-xs-4">
                        <header class="proj-page-subtitle padding-sm">
                            <h3>{{'Dates' | translate}}</h3>
                        </header>
                        <div class="tbl">
                            <div class="tbl-row">
                                <div class="tbl-cell tbl-cell-lbl">{{'Start date' | translate}}:</div>
                                <div class="tbl-cell">
                                    <!--setted->setted-->
                                    <span ng-if="project.oldModel.start_date && project.originalModel.start_date">
                                        <span ng-if="project.oldModel.start_date != project.originalModel.start_date">
                                            {{project.oldModel.start_date}}
                                            <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                            {{project.originalModel.start_date}}
                                        </span>
                                        <span ng-if="project.oldModel.start_date == project.originalModel.start_date">
                                            {{project.oldModel.start_date}}
                                        </span>
                                    </span>
                                    <!--setted->not_set-->
                                    <span ng-if="project.oldModel.start_date && !project.originalModel.start_date">
                                        {{project.oldModel.start_date}}
                                        <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                        <span class="not-set">({{'Not set' | translate}})</span>
                                    </span>
                                    <!--not_set->setted-->
                                    <span ng-if="!project.oldModel.start_date && project.originalModel.start_date">
                                        <span class="not-set">({{'Not set' | translate}})</span>
                                        <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                        {{project.originalModel.start_date}}
                                    </span>
                                    <!--not_set->not_set-->
                                    <span ng-if="!project.oldModel.start_date && !project.originalModel.start_date" class="not-set">({{'Not set' | translate}})</span>
                                </div>
                            </div>
                            <div class="tbl-row">
                                <div class="tbl-cell tbl-cell-lbl">{{'End date' | translate}}:</div>
                                <div class="tbl-cell">
                                    <!--setted->setted-->
                                    <span ng-if="project.oldModel.end_date && project.originalModel.end_date">
                                        <span ng-if="project.oldModel.end_date != project.originalModel.end_date">
                                            {{project.oldModel.end_date}}
                                            <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                            {{project.originalModel.end_date}}
                                        </span>
                                        <span ng-if="project.oldModel.end_date == project.originalModel.end_date">
                                            {{project.oldModel.end_date}}
                                        </span>
                                    </span>
                                    <!--setted->not_set-->
                                    <span ng-if="project.oldModel.end_date && !project.originalModel.end_date">
                                        {{project.oldModel.end_date}}
                                        <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                        <span class="not-set">({{'Not set' | translate}})</span>
                                    </span>
                                    <!--not_set->setted-->
                                    <span ng-if="!project.oldModel.end_date && project.originalModel.end_date">
                                        <span class="not-set">({{'Not set' | translate}})</span>
                                        <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                        {{project.originalModel.end_date}}
                                    </span>
                                    <!--not_set->not_set-->
                                    <span ng-if="!project.oldModel.end_date && !project.originalModel.end_date" class="not-set">({{'Not set' | translate}})</span>
                                </div>
                            </div>
                            <div class="tbl-row">
                                <div class="tbl-cell tbl-cell-lbl">{{'Created' | translate}}:</div>
                                <div class="tbl-cell">
                                    {{project.originalModel.publish_date}}
                                </div>
                            </div>
                            <div class="tbl-row">
                                <div class="tbl-cell tbl-cell-lbl">{{'Updated' | translate}}:</div>
                                <div class="tbl-cell">
                                    <span ng-if="project.originalModel.updated_date != project.oldModel.updated_date">
                                        <span class="modified">{{ project.oldModel.updated_date }}</span> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{ project.originalModel.updated_date }}
                                    </span>
                                    <span ng-if="project.originalModel.updated_date == project.oldModel.updated_date">
                                        {{ project.originalModel.updated_date }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--.proj-page-section-->

            <section class="proj-page-section">
                <div class="row">
                    <div class="col-xs-6">
                        <header class="proj-page-subtitle padding-sm">
                            <h3>{{'Payment' | translate}}</h3>
                        </header>
                        <div class="tbl">
                            <div class="tbl-row">
                                <div class="tbl-cell">{{'Payment method' | translate}}</div>
                                <div class="tbl-cell tbl-cell-time">
                                    {{project.oldModel.paymentAsString | translate}}

                                    <i ng-if="project.oldModel.paymentAsString != project.originalModel.paymentAsString" class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>

                                    <span ng-if="project.oldModel.paymentAsString != project.originalModel.paymentAsString">
                                        {{project.originalModel.paymentAsString | translate}}
                                    </span>
                                </div>
                            </div>
                            <div class="tbl-row">
                                <div class="tbl-cell">{{'Payment sum' | translate}}</div>
                                <div class="tbl-cell tbl-cell-time">
                                    <!--setted->setted-->
                                    <span ng-if="project.oldModel.payment_sum && project.originalModel.payment_sum">
                                        <span ng-if="project.oldModel.payment_sum != project.originalModel.payment_sum">
                                            {{project.oldModel.payment_sum}} USD
                                            <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                            {{project.originalModel.payment_sum}} USD
                                        </span>
                                        <span ng-if="project.oldModel.payment_sum == project.originalModel.payment_sum">
                                            {{project.oldModel.payment_sum}} USD
                                        </span>
                                    </span>
                                    <!--setted->not_set-->
                                    <span ng-if="project.oldModel.payment_sum && !project.originalModel.payment_sum">
                                        {{project.oldModel.payment_sum}} USD
                                        <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                        <span class="not-set">({{'Not set' | translate}})</span>
                                    </span>
                                    <!--not_set->setted-->
                                    <span ng-if="!project.oldModel.payment_sum && project.originalModel.payment_sum">
                                        <span class="not-set">({{'Not set' | translate}})</span>
                                        <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                        {{project.originalModel.payment_sum}} USD
                                    </span>
                                    <!--not_set->not_set-->
                                    <span ng-if="!project.oldModel.payment_sum && !project.originalModel.payment_sum" class="not-set">({{'Not set' | translate}})</span>
                                </div>
                            </div>
                            <div class="tbl-row">
                                <div class="tbl-cell">{{'Internal price' | translate}}</div>
                                <div class="tbl-cell tbl-cell-time">
                                    <!--setted->setted-->
                                    <span ng-if="project.oldModel.internal_price && project.originalModel.internal_price">
                                        <span ng-if="project.oldModel.internal_price != project.originalModel.internal_price">
                                            {{project.oldModel.internal_price}} USD
                                            <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                            {{project.originalModel.internal_price}} USD
                                        </span>
                                        <span ng-if="project.oldModel.internal_price == project.originalModel.internal_price">
                                            {{project.oldModel.internal_price}} USD
                                        </span>
                                    </span>
                                    <!--setted->not_set-->
                                    <span ng-if="project.oldModel.internal_price && !project.originalModel.internal_price">
                                        {{project.oldModel.internal_price}} USD
                                        <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                        <span class="not-set">({{'Not set' | translate}})</span>
                                    </span>
                                    <!--not_set->setted-->
                                    <span ng-if="!project.oldModel.internal_price && project.originalModel.internal_price">
                                        <span class="not-set">({{'Not set' | translate}})</span>
                                        <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                        {{project.originalModel.internal_price}} USD
                                    </span>
                                    <!--not_set->not_set-->
                                    <span ng-if="!project.oldModel.internal_price && !project.originalModel.internal_price" class="not-set">({{'Not set' | translate}})</span>
                                </div>
                            </div>
                            <div class="tbl-row">
                                <div class="tbl-cell">{{'External price' | translate}}</div>
                                <div class="tbl-cell tbl-cell-time">
                                    <!--setted->setted-->
                                    <span ng-if="project.oldModel.external_price && project.originalModel.external_price">
                                        <span ng-if="project.oldModel.external_price != project.originalModel.external_price">
                                            {{project.oldModel.external_price}} USD
                                            <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                            {{project.originalModel.external_price}} USD
                                        </span>
                                        <span ng-if="project.oldModel.external_price == project.originalModel.external_price">
                                            {{project.oldModel.external_price}} USD
                                        </span>
                                    </span>
                                    <!--setted->not_set-->
                                    <span ng-if="project.oldModel.external_price && !project.originalModel.external_price">
                                        {{project.oldModel.external_price}} USD
                                        <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                        <span class="not-set">({{'Not set' | translate}})</span>
                                    </span>
                                    <!--not_set->setted-->
                                    <span ng-if="!project.oldModel.external_price && project.originalModel.external_price">
                                        <span class="not-set">({{'Not set' | translate}})</span>
                                        <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                        {{project.originalModel.external_price}} USD
                                    </span>
                                    <!--not_set->not_set-->
                                    <span ng-if="!project.oldModel.external_price && !project.originalModel.external_price" class="not-set">({{'Not set' | translate}})</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <header class="proj-page-subtitle padding-sm">
                            <h3>{{'Work time' | translate}}</h3>
                        </header>
                        <div class="tbl">
                            <div class="tbl-row">
                                <div class="tbl-cell">{{'Number of programmers working hours' | translate}}</div>
                                <div class="tbl-cell tbl-cell-time">
                                    <!--setted->setted-->
                                    <span ng-if="project.oldModel.hours_developers && project.originalModel.hours_developers">
                                        <span ng-if="project.oldModel.hours_developers != project.originalModel.hours_developers">
                                            {{project.oldModel.hours_developers}} {{'hours' | translate}}
                                            <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                            {{project.originalModel.hours_developers}} {{'hours' | translate}}
                                        </span>
                                        <span ng-if="project.oldModel.hours_developers == project.originalModel.hours_developers">
                                            {{project.oldModel.hours_developers}} {{'hours' | translate}}
                                        </span>
                                    </span>
                                    <!--setted->not_set-->
                                    <span ng-if="project.oldModel.hours_developers && !project.originalModel.hours_developers">
                                        {{project.oldModel.hours_developers}} {{'hours' | translate}}
                                        <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                        <span class="not-set">({{'Not set' | translate}})</span>
                                    </span>
                                    <!--not_set->setted-->
                                    <span ng-if="!project.oldModel.hours_developers && project.originalModel.hours_developers">
                                        <span class="not-set">({{'Not set' | translate}})</span>
                                        <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                        {{project.originalModel.hours_developers}} {{'hours' | translate}}
                                    </span>
                                    <!--not_set->not_set-->
                                    <span ng-if="!project.oldModel.hours_developers && !project.originalModel.hours_developers" class="not-set">({{'Not set' | translate}})</span>
                                </div>
                            </div>
                            <div class="tbl-row">
                                <div class="tbl-cell">{{'Number of sales working hours' | translate}}</div>
                                <div class="tbl-cell tbl-cell-time">
                                    <!--setted->setted-->
                                    <span ng-if="project.oldModel.hours_sales && project.originalModel.hours_sales">
                                        <span ng-if="project.oldModel.hours_sales != project.originalModel.hours_sales">
                                            {{project.oldModel.hours_sales}} {{'hours' | translate}}
                                            <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                            {{project.originalModel.hours_sales}} {{'hours' | translate}}
                                        </span>
                                        <span ng-if="project.oldModel.hours_sales == project.originalModel.hours_sales">
                                            {{project.oldModel.hours_sales}} {{'hours' | translate}}
                                        </span>
                                    </span>
                                    <!--setted->not_set-->
                                    <span ng-if="project.oldModel.hours_sales && !project.originalModel.hours_sales">
                                        {{project.oldModel.hours_sales}} {{'hours' | translate}}
                                        <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                        <span class="not-set">({{'Not set' | translate}})</span>
                                    </span>
                                    <!--not_set->setted-->
                                    <span ng-if="!project.oldModel.hours_sales && project.originalModel.hours_sales">
                                        <span class="not-set">({{'Not set' | translate}})</span>
                                        <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                        {{project.originalModel.hours_sales}} {{'hours' | translate}}
                                    </span>
                                    <!--not_set->not_set-->
                                    <span ng-if="!project.oldModel.hours_sales && !project.originalModel.hours_sales" class="not-set">({{'Not set' | translate}})</span>
                                </div>
                            </div>
                            <div class="tbl-row">
                                <div class="tbl-cell">{{'Number of PMs working hours' | translate}}</div>
                                <div class="tbl-cell tbl-cell-time">
                                    <!--setted->setted-->
                                    <span ng-if="project.oldModel.hours_pm && project.originalModel.hours_pm">
                                        <span ng-if="project.oldModel.hours_pm != project.originalModel.hours_pm">
                                            {{project.oldModel.hours_pm}} {{'hours' | translate}}
                                            <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                            {{project.originalModel.hours_pm}} {{'hours' | translate}}
                                        </span>
                                        <span ng-if="project.oldModel.hours_pm == project.originalModel.hours_pm">
                                            {{project.oldModel.hours_pm}} {{'hours' | translate}}
                                        </span>
                                    </span>
                                    <!--setted->not_set-->
                                    <span ng-if="project.oldModel.hours_pm && !project.originalModel.hours_pm">
                                        {{project.oldModel.hours_pm}} {{'hours' | translate}}
                                        <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                        <span class="not-set">({{'Not set' | translate}})</span>
                                    </span>
                                    <!--not_set->setted-->
                                    <span ng-if="!project.oldModel.hours_pm && project.originalModel.hours_pm">
                                        <span class="not-set">({{'Not set' | translate}})</span>
                                        <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                        {{project.originalModel.hours_pm}} {{'hours' | translate}}
                                    </span>
                                    <!--not_set->not_set-->
                                    <span ng-if="!project.oldModel.hours_pm && !project.originalModel.hours_pm" class="not-set">({{'Not set' | translate}})</span>
                                </div>
                            </div>
                            <div class="tbl-row">
                                <div class="tbl-cell">{{'Number of QAs working hours' | translate}}</div>
                                <div class="tbl-cell tbl-cell-time">
                                    <!--setted->setted-->
                                    <span ng-if="project.oldModel.hours_qa && project.originalModel.hours_qa">
                                        <span ng-if="project.oldModel.hours_qa != project.originalModel.hours_qa">
                                            {{project.oldModel.hours_qa}} {{'hours' | translate}}
                                            <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                            {{project.originalModel.hours_qa}} {{'hours' | translate}}
                                        </span>
                                        <span ng-if="project.oldModel.hours_qa == project.originalModel.hours_qa">
                                            {{project.oldModel.hours_qa}} {{'hours' | translate}}
                                        </span>
                                    </span>
                                    <!--setted->not_set-->
                                    <span ng-if="project.oldModel.hours_qa && !project.originalModel.hours_qa">
                                        {{project.oldModel.hours_qa}} {{'hours' | translate}}
                                        <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                        <span class="not-set">({{'Not set' | translate}})</span>
                                    </span>
                                    <!--not_set->setted-->
                                    <span ng-if="!project.oldModel.hours_qa && project.originalModel.hours_qa">
                                        <span class="not-set">({{'Not set' | translate}})</span>
                                        <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                        {{project.originalModel.hours_qa}} {{'hours' | translate}}
                                    </span>
                                    <!--not_set->not_set-->
                                    <span ng-if="!project.oldModel.hours_qa && !project.originalModel.hours_qa" class="not-set">({{'Not set' | translate}})</span>
                                </div>
                            </div>
                            <div class="tbl-row">
                                <div class="tbl-cell">{{'Time spent' | translate}}</div>
                                <div class="tbl-cell tbl-cell-time">
                                    <!--setted->setted-->
                                    <span ng-if="project.oldModel.time_spent && project.originalModel.time_spent">
                                        <span ng-if="project.oldModel.time_spent != project.originalModel.time_spent">
                                            {{project.oldModel.time_spent}} {{'hours' | translate}}
                                            <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                            {{project.originalModel.time_spent}} {{'hours' | translate}}
                                        </span>
                                        <span ng-if="project.oldModel.time_spent == project.originalModel.time_spent">
                                            {{project.oldModel.time_spent}} {{'hours' | translate}}
                                        </span>
                                    </span>
                                    <!--setted->not_set-->
                                    <span ng-if="project.oldModel.time_spent && !project.originalModel.time_spent">
                                        {{project.oldModel.time_spent}} {{'hours' | translate}}
                                        <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                        <span class="not-set">({{'Not set' | translate}})</span>
                                    </span>
                                    <!--not_set->setted-->
                                    <span ng-if="!project.oldModel.time_spent && project.originalModel.time_spent">
                                        <span class="not-set">({{'Not set' | translate}})</span>
                                        <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                        {{project.originalModel.time_spent}} {{'hours' | translate}}
                                    </span>
                                    <!--not_set->not_set-->
                                    <span ng-if="!project.oldModel.time_spent && !project.originalModel.time_spent" class="not-set">({{'Not set' | translate}})</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="proj-page-section">
                <div class="row">
                    <div class="col-xs-6">
                        <header class="proj-page-subtitle padding-sm">
                            <h3>{{'Information about client' | translate}}</h3>
                        </header>
                        <div class="tbl">
                            <div class="tbl-row">
                                <div class="tbl-cell">{{'Client' | translate}}</div>
                                <div class="tbl-cell tbl-cell-time">
                                    <!--setted->setted-->
                                    <span ng-if="project.oldModel.client && project.originalModel.client">
                                        <span ng-if="project.oldModel.client != project.originalModel.client">
                                            {{project.oldModel.client}}
                                            <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                            {{project.originalModel.client}}
                                        </span>
                                        <span ng-if="project.oldModel.client == project.originalModel.client">
                                            {{project.oldModel.client}}
                                        </span>
                                    </span>
                                    <!--setted->not_set-->
                                    <span ng-if="project.oldModel.client && !project.originalModel.client">
                                        {{project.oldModel.client}}
                                        <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                        <span class="not-set">({{'Not set' | translate}})</span>
                                    </span>
                                    <!--not_set->setted-->
                                    <span ng-if="!project.oldModel.client && project.originalModel.client">
                                        <span class="not-set">({{'Not set' | translate}})</span>
                                        <i class="fa fa-long-arrow-right color-light-gray" aria-hidden="true"></i>
                                        {{project.originalModel.client}}
                                    </span>
                                    <!--not_set->not_set-->
                                    <span ng-if="!project.oldModel.client && !project.originalModel.client" class="not-set">({{'Not set' | translate}})</span>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-xs-12">
                            <!--setted->setted-->
                            <div ng-class="{'col-xs-6': project.oldModel.client_feedback != project.originalModel.client_feedback, 'col-xs-12': project.oldModel.client_feedback == project.originalModel.client_feedback}" class="no-padding">
                                <p>
                                    <span ng-if="project.oldModel.client_feedback != project.originalModel.client_feedback">
                                        {{'Old client feedback' | translate}}
                                    </span>
                                    <span ng-if="project.oldModel.client_feedback == project.originalModel.client_feedback">
                                        {{'Client feedback' | translate}}
                                    </span>
                                    </br>

                                    <span ng-if="project.oldModel.client_feedback">
                                        {{project.oldModel.client_feedback}}
                                    </span>
                                    <span ng-if="!project.oldModel.client_feedback">
                                        <span class="not-set">({{'Not set' | translate}})</span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-xs-6 no-margin"
                                 ng-hide="(!project.oldModel.client_feedback && !project.originalModel.client_feedback) ||
                                 (project.oldModel.client_feedback == project.originalModel.client_feedback)
                                 ">
                                <p>{{'Current client feedback' | translate}} </br>
                                    <span ng-if="project.originalModel.client_feedback">
                                        {{project.originalModel.client_feedback}}
                                    </span>
                                    <span ng-if="!project.originalModel.client_feedback">
                                        <span class="not-set">({{'Not set' | translate}})</span>
                                    </span>
                                </p>
                            </div>
                    </div>
                </div>
            </section>
        </section><!--.proj-page-->
    </div>
</div><!--.row-->