<form name="form" class="row form-horizontal" novalidate>

    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 box-typical box-typical-padding">

        <h5 class="with-border" >{{mainController.title | translate}}</h5>

        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.ownerAsObject.$invalid && form.ownerAsObject.$dirty }">
            <label class="form-label required">
                {{'Owner' | translate}}
            </label>
            <div class="custom-typeahead">
                <div class="input-group">
                    <input type="text"
                           ng-model="billingCard.ownerAsObject"
                           ng-model-options="{ debounce: 500 }"
                           placeholder="{{'Choose user from list' | translate}}"
                           uib-typeahead="user as user.fullName for user in billingCard.getUsersByName($viewValue)"
                           typeahead-popup-template-url="/frontend/views/common/typeahead-popup-template.html"
                           typeahead-editable="false"
                           typeahead-on-select="billingCard.updateBillingCardCurrencies()"
                           class="form-control">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </div>
                </div>
            </div>
            <small class="text-muted"
                   ng-if="form.ownerAsObject.$invalid && form.ownerAsObject.$dirty">
                {{'Owner is required' | translate}}
            </small>
        </fieldset>

        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.number.$invalid && form.number.$dirty }">
            <label class="form-label required"
                   for="number">
                {{'Number' | translate}}
            </label>
            <input ng-model="billingCard.model.number"
                   type="text"
                   pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}"
                   name="number"
                   id="number"
                   class="form-control"
                   unique-field="number"
                   unique-field-url-check="/api/billingCard/check-billing-card-unique-field"
                   unique-field-except="{{billingCard.oldModel.number}}"
                   required>
            <small class="text-muted"
                   ng-if="form.number.$invalid && form.number.$dirty">
                {{'Number is required and must be an unique' | translate}}
            </small>
        </fieldset>

        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.currency_id.$invalid && form.currency_id.$dirty }">
            <label class="form-label required"
                   for="currency_id">
                {{'Currency' | translate}}
            </label>
            <select ng-model="billingCard.model.currency_id"
                    name="currency_id" id="currency_id" class="form-control"
                    ng-options="currency.id as currency.name for currency in billingCard.newCardCurrencies"
                    required>
            </select>
            <small class="text-muted"
                   ng-if="form.currency_id.$invalid && form.currency_id.$dirty">
                {{'Currency is required' | translate}}
            </small>
        </fieldset>

        <fieldset class="form-group">
            <label class="form-label required"
                   for="expiration_date">
                {{'Expiration date' | translate}}
            </label>
            <div class='input-group date'>
                <input ng-model="billingCard.model.expiration_date"
                       type='text'
                       date-time-picker
                       dtp-date-format="YYYY-MM-DD"
                       dtp-locale="{{mainController.currentLang}}"
                       pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                       name="expiration_date"
                       id="expiration_date"
                       class="form-control"
                       required />
                <span class="input-group-addon">
                    <i class="font-icon font-icon-calend"></i>
                </span>
            </div>
            <small class="text-muted"
                   ng-if="form.expiration_date.$invalid && form.expiration_date.$dirty">
                {{'Expiration date is required and must be valid' | translate}}
            </small>
        </fieldset>

        <div class="row text-center">
            <button ng-if="billingCard.action == billingCard.actions.UPDATE"
                    ng-click="billingCard.update()"
                    ng-disabled="!form.$valid || !form.$dirty"
                    class="btn btn-primary">
                {{ billingCard.action | translate }}
            </button>

            <button ng-if="billingCard.action == billingCard.actions.CREATE"
                    ng-click="billingCard.create()"
                    class="btn btn-success"
                    ng-disabled="!form.$valid || !form.$dirty">
                {{ billingCard.action | translate }}
            </button>

        </div>
    </div>

    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

</form>