<div>

    <a href="/billingCard/create"
       class="btn btn-primary list-create-btn"
       auth-can="billingCard.create">
        {{'Create' | translate}}
    </a>

    <div class="box-typical table-wrapper">

        <table ng-table="billingCard.tableParams"
               template-pagination="/frontend/views/common/table-pagination-template.html"
               class="table table-bordered table-hover"
               show-filter="true">
            <tr ng-repeat="c in $data">
                <td title="'№'" class="td-col-8 text-center">
                    {{ ((billingCard.tableParams.page() - 1) * billingCard.tableParams.count()) + $index + 1 }}
                </td>

                <td data-title="'Owner' | translate" filter="{ ownerFullName : 'text'}" sortable="'ownerFullName'" class="actions">
                    <span class="user-item">
                        <a href="/user/{{c.owner.id}}">
                            <img class="user-image" src="{{c.owner.profile.profileImageFullPath}}">
                            {{c.owner.fullName}}
                        </a>
                    </span>
                </td>

                <td data-title="'Number' | translate" filter="{ number: 'text'}" sortable="'number'">
                    {{c.number}}
                </td>

                <td data-title="'Currency' | translate" filter="{ currencyId: 'select'}" filter-data="billingCard.getCurrenciesFilter()" sortable="'currencyName'" class="text-center">
                    {{c.currency.name}}
                </td>

                <td data-title="'Expiration date' | translate" filter="{ expiration_date: 'text' }" sortable="'expiration_date'" class="text-center">
                    <span ng-if="c.expiration_date">
                        <span class="label label-success" ng-if="c.state == billingCard.states.Active">
                            {{c.expiration_date | date: "dd-MM-yyyy"}}
                        </span>
                        <span class="label label-warning"
                              ng-if="c.state == billingCard.states.Warning">
                            {{c.expiration_date | date: "dd-MM-yyyy"}}
                        </span>
                        <span class="label label-danger" ng-if="c.state == billingCard.states.Inactive">
                              {{c.expiration_date | date: "dd-MM-yyyy"}}
                        </span>
                    </span>
                    <span ng-if="!c.expiration_date" class="not-set">({{'Not set' | translate}})</span>
                </td>

                <td title="'Actions' | translate" class="td-col-20 text-center actions">
                    <a href="/billingCard/{{ c.id }}"
                       class="action-icon"
                       auth-can="billingCard.read">
                        <i class="glyphicon glyphicon-eye-open" aria-hidden="true" title="{{'View' | translate}}"></i>
                    </a>
                    <a href="/billingCard/{{ c.id }}/update"
                       class="action-icon"
                       auth-can="billingCard.update">
                        <i class="glyphicon glyphicon-pencil" aria-hidden="true" title="{{'Update' | translate}}"></i>
                    </a>
                    <a href=""
                       class="action-icon"
                       ng-click="billingCard.delete(c.id)"
                       auth-can="billingCard.delete">
                        <i class="glyphicon glyphicon-trash" aria-hidden="true" title="{{'Delete' | translate}}"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
