<div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 box-typical box-typical-padding">

    <table class="table table-hover">
        <thead>
            <tr>
                <th colspan="2">№ {{ billingCard.model.number }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ 'Owner' | translate }}
                </td>
                <td class="color-blue-grey-lighter actions">
                    <span class="user-item">
                        <a href="/user/{{billingCard.model.owner.id}}">
                            <img class="user-image" src="{{billingCard.model.owner.profile.profileImageFullPath}}">
                            {{billingCard.model.owner.fullName}}
                        </a>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    {{ 'Number' | translate }}
                </td>
                <td class="color-blue-grey-lighter">{{ billingCard.model.number }}</td>
            </tr>
            <tr>
                <td>
                    {{ 'Currency' | translate }}
                </td>
                <td class="color-blue-grey-lighter">{{ billingCard.model.currency.name }}</td>
            </tr>
            <tr>
                <td>
                    {{ 'Expiration date' | translate }}
                </td>
                <td>
                    <span ng-if="billingCard.model.expiration_date">
                        <span class="label label-success" ng-if="billingCard.model.state == billingCard.states.Active">
                            {{billingCard.model.expiration_date | date: "dd-MM-yyyy"}}
                        </span>
                        <span class="label label-warning"
                              ng-if="billingCard.model.state == billingCard.states.Warning">
                            {{billingCard.model.expiration_date | date: "dd-MM-yyyy"}}
                        </span>
                        <span class="label label-danger" ng-if="billingCard.model.state == billingCard.states.Inactive">
                              {{billingCard.model.expiration_date | date: "dd-MM-yyyy"}}
                        </span>
                    </span>
                    <span ng-if="!billingCard.model.expiration_date" class="not-set">({{'Not set' | translate}})</span>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>