<!DOCTYPE html>
<html ng-app="svApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Supervisor | {{title | translate}}</title>

    <!-- Base url for angular routing -->
    <base href="/">

    <!-- Ng table-->
    <link href="vendor/bower/ng-table/dist/ng-table.min.css" rel="stylesheet">

    <link href="vendor/bower/angular-jk-rating-stars/dist/jk-rating-stars.css" rel="stylesheet" type="text/css" />

    <!-- Custom styles -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/td-col.css">

    <link href="theme/img/favicon.144x144.png" rel="apple-touch-icon" type="image/png" sizes="144x144">
    <link href="theme/img/favicon.114x114.png" rel="apple-touch-icon" type="image/png" sizes="114x114">
    <link href="theme/img/favicon.72x72.png" rel="apple-touch-icon" type="image/png" sizes="72x72">
    <link href="theme/img/favicon.57x57.png" rel="apple-touch-icon" type="image/png">
    <link href="theme/img/favicon.png" rel="icon" type="image/png">
    <link href="theme/img/favicon.ico" rel="shortcut icon">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="vendor/bower/html5shiv/dist/html5shiv.min.js"></script>
    <script src="vendor/bower/respond/dest/respond.min.js"></script>
    <![endif]-->

    <script src="vendor/bower/moment/min/moment.min.js"></script>
    <script src="vendor/bower/moment/locale/ru.js"></script>
    <script src="vendor/bower/moment/locale/uk.js"></script>
    <script src="theme/js/plugins.js"></script>
    <script src="theme/js/lib/gstatic-charts/loader.js" type="text/javascript"></script>
    <script src="theme/js/app.js"></script>

    <link rel="stylesheet" href="theme/css/lib/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="theme/css/main.css">
    <link rel="stylesheet" href="theme/css/lib/bootstrap-table/bootstrap-table.min.css">

    <!-- Loading bar -->
    <link rel='stylesheet' href='vendor/bower/angular-loading-bar/build/loading-bar.min.css' type='text/css' media='all' />
</head>
<body ng-class="(mainController.user === null) ? '' : 'with-side-menu ' + mainController.currentTheme.class"
      ng-controller="mainController as mainController">

    <!-- Change employment status modal -->
    <div ng-include="'views/modules/user/user/modals/changeEmploymentStatusModal.html'"
         auth-can="user.haveEmploymentStatus">
    </div>

    <!-- Display header, if user is logged -->
    <header class="site-header" ng-show="mainController.user !== null">
        <div class="container-fluid">
            <a href="/" class="site-logo">
                <img class="hidden-md-down" src="{{mainController.currentTheme.logo}}" alt="">
                <img class="hidden-lg-up" src="{{mainController.currentTheme.logoMobile}}" alt="">
            </a>
            <button class="hamburger hamburger--htla">
                <span>toggle menu</span>
            </button>
            <div class="site-header-content">
                <div class="site-header-content-in">
                    <div class="site-header-shown">

                        <div class="dropdown dropdown-notification">
                            <i class="fa fa-paint-brush right-menu-icon"
                               title="{{'Change theme' | translate}}"
                               id="theme-changer"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                            </i>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="theme-changer">
                                <a class="dropdown-item"
                                   ng-repeat="(key, properties) in mainController.themes"
                                   ng-click="mainController.changeTheme(key)"
                                   ng-class="{ 'current': (mainController.currentTheme.title == properties.title) }"
                                   href="">
                                    {{properties.title}}
                                </a>
                            </div>
                        </div>

                        <div class="dropdown dropdown-notification">
                            <i class="fa fa-user right-menu-icon"
                               title="{{'Online users' | translate}}"
                               id="online-users"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                            </i>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="online-users">
                                <a class="dropdown-item"
                                   ng-repeat="(id, name) in mainController.user.counters.onlineUsers"
                                   ng-if="id != mainController.user.id"
                                   href="/user/{{id}}">
                                    {{name}}
                                </a>
                                <a class="dropdown-item"
                                   ng-if="mainController.user.counters.onlineUsersCount == 0"
                                   href="">
                                    {{'No users online' | translate}}
                                </a>
                            </div>
                        </div>

                        <div class="dropdown dropdown-lang"
                             id="main-language-selector">
                            <button class="dropdown-toggle"
                                    title="{{'Change language' | translate}}"
                                    type="button"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <span class="flag-icon flag-icon-{{ mainController.getCurrentLanguageFlag() }}"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-menu-col">
                                    <div ng-repeat="lang in mainController.langs">
                                        <a href="#"
                                           ng-class="{true: 'dropdown-item current', false: 'dropdown-item'}[mainController.currentLang == lang.key]"
                                           ng-click="mainController.changeLanguage(lang.key)">
                                            <span class="flag-icon flag-icon-{{ lang.flag }}"></span>
                                            {{ lang.title | translate }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dropdown user-menu">
                            <button class="dropdown-toggle" id="dd-user-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{{mainController.user.profile.profileImageFullPath}}" alt="">
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd-user-menu">
                                <a class="dropdown-item" href="user/{{mainController.user.id}}"><span class="font-icon glyphicon glyphicon-user"></span>{{mainController.user.username}}</a>
                                <a class="dropdown-item"
                                   href=""
                                   data-toggle="modal"
                                   data-target="#changeEmploymentStatusModal"
                                   auth-can="user.haveEmploymentStatus">
                                    <span class="font-icon glyphicon glyphicon-hourglass"></span>
                                    {{'Employment' | translate}}
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="" ng-click="mainController.logout()"><span class="font-icon glyphicon glyphicon-log-out"></span>{{'Logout' | translate}}</a>
                            </div>
                        </div>

                        <button type="button" class="burger-right">
                            <i class="font-icon-menu-addl"></i>
                        </button>
                    </div><!--.site-header-shown-->

                    <div class="mobile-menu-right-overlay"></div>
                    <div class="site-header-collapsed">
                        <div class="site-header-collapsed-in">

                            <!--<div class="dropdown dropdown-typical">-->
                                <!--<a href="/news-list" class="dropdown-toggle no-arr">-->
                                    <!--<span class="font-icon glyphicon glyphicon-blackboard"></span>-->
                                    <!--<span class="lbl">{{'News' | translate}}</span>-->
                                    <!--<span class="label label-pill label-danger"-->
                                          <!--ng-show="mainController.user.counters.importantUnreadNewsCounter > 0">-->
                                        <!--{{mainController.user.counters.importantUnreadNewsCounter}}-->
                                    <!--</span>-->
                                <!--</a>-->
                            <!--</div>-->

                            <div class="dropdown dropdown-typical top-menu-tickets-block">
                                <a class="dropdown-toggle"
                                   id="dd-header-social"
                                   data-target="#"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    <span class="font-icon glyphicon glyphicon-tags"></span>
                                    <span class="lbl">{{'Tickets' | translate}}</span>
                                    <span class="label label-pill label-danger"
                                          ng-show="mainController.user.counters.allTicketsCounter > 0">
                                        {{mainController.user.counters.allTicketsCounter}}
                                    </span>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dd-header-social">
                                    <a class="dropdown-item" href="/sentTickets">
                                        <!--<span class="font-icon font-icon-home"></span>-->
                                        {{'Sent tickets' | translate}}
                                        <span class="label label-pill sub-counter label-danger"
                                              ng-show="mainController.user.counters.newSentTicketsCounter > 0">
                                            {{mainController.user.counters.newSentTicketsCounter}}
                                        </span>
                                    </a>
                                    <a class="dropdown-item" href="/receivedTickets">
                                        <!--<span class="font-icon font-icon-cart"></span>-->
                                        {{'Received tickets' | translate}}
                                        <span class="label label-pill sub-counter label-danger"
                                              ng-show="mainController.user.counters.newTicketsCounter > 0">
                                            {{mainController.user.counters.newTicketsCounter}}
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="dropdown dropdown-typical">
                                <a href="/dialogs" class="dropdown-toggle no-arr">
                                    <span class="font-icon font-icon-comments"></span>
                                    <span class="lbl">{{'Messages' | translate}}</span>
                                    <span class="label label-pill label-danger"
                                          ng-show="mainController.user.counters.unreadMessagesCounter > 0">
                                        {{mainController.user.counters.unreadMessagesCounter}}
                                    </span>
                                </a>
                            </div>

                        </div><!--.site-header-collapsed-in-->
                    </div><!--.site-header-collapsed-->
                </div><!--site-header-content-in-->
            </div><!--.site-header-content-->
        </div><!--.container-fluid-->
    </header><!--.site-header-->

    <!-- Display menu, if user is logged -->
    <div ng-show="mainController.user !== null">
        <div class="mobile-menu-left-overlay"></div>
        <nav class="side-menu" >
            <!-- list of main menu items -->
            <ul class="side-menu-list">
                <li ng-repeat="menuItem in mainController.menu"
                    class="{{menuItem.color}}"
                    ng-click="mainController.test(menuItem)"
                    ng-class="{'opened' : menuItem.active, 'with-sub': menuItem.items}"
                    ng-show="menuItem.visible">

                    <a href="{{menuItem.url}}"
                       class="label-right"
                       ng-if="!menuItem.items">
                        <span class="{{menuItem.icon}}"></span>
                        <span class="lbl">{{ menuItem.title | translate }}</span>
                        <span class="label label-custom label-pill label-danger"
                              ng-show="(menuItem.counter.value && (menuItem.counter.value > 0))"
                              title="{{menuItem.counter.title | translate}}">
                            {{menuItem.counter.value}}
                        </span>
                    </a>

                    <!-- if menu have sub items, display drop down menu-->
                    <span ng-if="menuItem.items">
                        <i class="{{menuItem.icon}}"></i>
                        <span class="lbl">{{ menuItem.title | translate }}</span>
                    </span>

                    <ul ng-class="{'d-block': menuItem.active}">
                        <li ng-repeat="subItem in menuItem.items"
                            ng-show="subItem.visible">
                            <a href="{{subItem.url}}"
                               class="label-right">
                                <span class="lbl">{{ subItem.title | translate }}</span>
                                <span class="label label-custom label-pill label-danger"
                                      ng-show="(subItem.counter.value && (subItem.counter.value > 0))"
                                      title="{{subItem.counter.title | translate}}">
                                    {{subItem.counter.value}}
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav><!--.side-menu-->
    </div>

    <div class="page-content">

        <div class="container-fluid">
            <!-- page breadcrumbs -->
            <div ng-show="mainController.breadcrumbs != null">
                <ol class="breadcrumb" id="breadcrumbs">
                    <li ng-repeat="bc in mainController.breadcrumbs" ng-class="bc.active ? 'active' : ''">
                        <a href="{{bc.url}}" ng-if="!bc.active">{{bc.title | translate}}</a>
                        <span ng-if="bc.active">{{bc.title | translate}}</span>
                    </li>
                </ol>
            </div>
            <!-- page title -->
            <!--<h3>{{mainController.title | translate}}</h3>-->
        </div>

        <div class="container-fluid" ng-view>

        </div><!--.container-fluid-->
    </div><!--.page-content-->

    <!--Progress bar-->
    <!--<div class="circle-progress-bar pieProgress" role="progressbar" data-goal="100" data-barcolor="#ac6bec" data-barsize="10" aria-valuemin="0" aria-valuemax="100">-->
    <!--<span class="pie_progress__number">0%</span>-->
    <!--</div>-->

    <!-- Angular js files -->
    <script src="vendor/bower/angular/angular.min.js"></script>
    <script src="vendor/bower/angular-route/angular-route.min.js"></script>
    <script src="vendor/bower/angular-animate/angular-animate.min.js"></script>
    <script src="vendor/bower/angular-cookies/angular-cookies.min.js"></script>

    <!-- Angular-translate -->
    <script src="vendor/bower/angular-translate/angular-translate.js"></script>
    <script src="vendor/bower/angular-sanitize/angular-sanitize.js"></script>
    <script src="vendor/bower/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>

    <script src="vendor/bower/ckeditor/ckeditor.js"></script>
    <script src="vendor/bower/angular-ckeditor/angular-ckeditor.js"></script>

    <script src="vendor/bower/angular-jk-rating-stars/dist/jk-rating-stars.js"></script>

    <!--File Saver-->
    <script src="vendor/bower/file-saver/FileSaver.min.js"></script>

    <!-- Ng table-->
    <script src="vendor/bower/ng-table/dist/ng-table.min.js"></script>

    <!-- Project js files -->
    <script src="js/app/supervisorApp.js"></script>
    <script src="js/app/config.js"></script>
    <script src="js/app/constants.js"></script>
    <script src="js/app/mainController.js"></script>

    <!-- Technology module -->
    <script src="js/app/modules/technology/technology/controllers/technologyListController.js"></script>
    <script src="js/app/modules/technology/technology/controllers/technologyViewController.js"></script>
    <script src="js/app/modules/technology/technology/controllers/technologyUpdateController.js"></script>
    <script src="js/app/modules/technology/technology/controllers/technologyCreateController.js"></script>
    <script src="js/app/modules/technology/technology/models/technology.js"></script>

    <!-- Department module -->
    <script src="js/app/modules/department/department/controllers/departmentListController.js"></script>
    <script src="js/app/modules/department/department/controllers/departmentViewController.js"></script>
    <script src="js/app/modules/department/department/controllers/departmentUpdateController.js"></script>
    <script src="js/app/modules/department/department/controllers/departmentCreateController.js"></script>
    <script src="js/app/modules/department/department/models/department.js"></script>

    <!-- EnglishLanguageLevel module -->
    <script src="js/app/modules/englishLanguageLevel/englishLanguageLevel/controllers/englishLanguageLevelListController.js"></script>
    <script src="js/app/modules/englishLanguageLevel/englishLanguageLevel/controllers/englishLanguageLevelViewController.js"></script>
    <script src="js/app/modules/englishLanguageLevel/englishLanguageLevel/controllers/englishLanguageLevelUpdateController.js"></script>
    <script src="js/app/modules/englishLanguageLevel/englishLanguageLevel/controllers/englishLanguageLevelCreateController.js"></script>
    <script src="js/app/modules/englishLanguageLevel/englishLanguageLevel/models/englishLanguageLevel.js"></script>

    <!-- Ticket module -->
    <script src="js/app/modules/ticket/ticket/controllers/ticketSentListController.js"></script>
    <script src="js/app/modules/ticket/ticket/controllers/ticketReceivedListController.js"></script>
    <script src="js/app/modules/ticket/ticket/controllers/ticketViewController.js"></script>
    <script src="js/app/modules/ticket/ticket/controllers/ticketUpdateController.js"></script>
    <script src="js/app/modules/ticket/ticket/controllers/ticketCreateController.js"></script>
    <script src="js/app/modules/ticket/ticket/models/ticket.js"></script>

    <!-- Hr module -->
    <script src="js/app/modules/hr/hrContact/controllers/hrContactListController.js"></script>
    <script src="js/app/modules/hr/hrContact/controllers/hrContactViewController.js"></script>
    <script src="js/app/modules/hr/hrContact/controllers/hrContactUpdateController.js"></script>
    <script src="js/app/modules/hr/hrContact/controllers/hrContactCreateController.js"></script>
    <script src="js/app/modules/hr/hrContact/models/hrContact.js"></script>
    <script src="js/app/modules/hr/hrBlackList/controllers/hrBlackListController.js"></script>
    <script src="js/app/modules/hr/hrBlackList/controllers/hrBlackListViewController.js"></script>
    <script src="js/app/modules/hr/hrBlackList/controllers/hrBlackListUpdateController.js"></script>
    <script src="js/app/modules/hr/hrBlackList/controllers/hrBlackListCreateController.js"></script>
    <script src="js/app/modules/hr/hrBlackList/models/hrBlackList.js"></script>
    <script src="js/app/modules/hr/hrMailing/controllers/hrMailingListController.js"></script>
    <script src="js/app/modules/hr/hrMailing/controllers/hrMailingViewController.js"></script>
    <script src="js/app/modules/hr/hrMailing/controllers/hrMailingCreateController.js"></script>
    <script src="js/app/modules/hr/hrMailing/models/hrMailing.js"></script>

    <!-- Project -->
    <script src="js/app/modules/project/project/controllers/projectListController.js"></script>
    <script src="js/app/modules/project/project/controllers/projectViewController.js"></script>
    <script src="js/app/modules/project/project/controllers/projectUpdateController.js"></script>
    <script src="js/app/modules/project/project/controllers/projectCreateController.js"></script>
    <script src="js/app/modules/project/project/controllers/projectArchivedController.js"></script>
    <script src="js/app/modules/project/project/controllers/projectVersionsController.js"></script>
    <script src="js/app/modules/project/project/controllers/projectMyListController.js"></script>
    <script src="js/app/modules/project/project/controllers/projectMyArchivedController.js"></script>
    <script src="js/app/modules/project/project/controllers/projectViewVersionController.js"></script>
    <script src="js/app/modules/project/project/models/project.js"></script>

    <!--Payment module-->
    <script src="js/app/modules/payment/currency/controllers/currencyListController.js"></script>
    <script src="js/app/modules/payment/currency/controllers/currencyViewController.js"></script>
    <script src="js/app/modules/payment/currency/controllers/currencyUpdateController.js"></script>
    <script src="js/app/modules/payment/currency/controllers/currencyCreateController.js"></script>
    <script src="js/app/modules/payment/currency/models/currency.js"></script>

    <script src="js/app/modules/payment/billingCard/controllers/billingCardListController.js"></script>
    <script src="js/app/modules/payment/billingCard/controllers/billingCardViewController.js"></script>
    <script src="js/app/modules/payment/billingCard/controllers/billingCardUpdateController.js"></script>
    <script src="js/app/modules/payment/billingCard/controllers/billingCardCreateController.js"></script>
    <script src="js/app/modules/payment/billingCard/models/billingCard.js"></script>

    <script src="js/app/modules/payment/payment/controllers/paymentListController.js"></script>
    <script src="js/app/modules/payment/payment/controllers/paymentViewController.js"></script>
    <script src="js/app/modules/payment/payment/controllers/paymentUpdateController.js"></script>
    <script src="js/app/modules/payment/payment/controllers/paymentVersionsController.js"></script>
    <script src="js/app/modules/payment/payment/controllers/paymentViewVersionController.js"></script>
    <script src="js/app/modules/payment/payment/controllers/paymentCreateController.js"></script>
    <script src="js/app/modules/payment/payment/controllers/paymentCreateListController.js"></script>
    <script src="js/app/modules/payment/payment/controllers/paymentUpdateListController.js"></script>
    <script src="js/app/modules/payment/payment/models/payment.js"></script>

    <!-- User module -->
    <script src="js/app/modules/user/auth.js"></script>
    <script src="js/app/modules/user/user/controllers/loginController.js"></script>
    <script src="js/app/modules/user/user/controllers/userListController.js"></script>
    <script src="js/app/modules/user/user/controllers/userCreateController.js"></script>
    <script src="js/app/modules/user/user/controllers/userViewController.js"></script>
    <script src="js/app/modules/user/user/controllers/userUpdateController.js"></script>
    <script src="js/app/modules/user/user/controllers/employmentController.js"></script>
    <script src="js/app/modules/user/user/models/user.js"></script>
    <script src="js/app/modules/user/rank/controllers/rankListController.js"></script>
    <script src="js/app/modules/user/rank/controllers/rankViewController.js"></script>
    <script src="js/app/modules/user/rank/controllers/rankUpdateController.js"></script>
    <script src="js/app/modules/user/rank/controllers/rankCreateController.js"></script>
    <script src="js/app/modules/user/rank/models/rank.js"></script>
    <script src="js/app/modules/user/user/controllers/homeController.js"></script>

    <!-- Complaint module -->
    <script src="js/app/modules/complaint/complaint/controllers/complaintListController.js"></script>
    <script src="js/app/modules/complaint/complaint/controllers/complaintViewController.js"></script>
    <script src="js/app/modules/complaint/complaint/controllers/complaintUpdateController.js"></script>
    <script src="js/app/modules/complaint/complaint/controllers/complaintCreateController.js"></script>
    <script src="js/app/modules/complaint/complaint/models/complaint.js"></script>

    <!-- News module -->
    <script src="js/app/modules/news/news/controllers/newsListController.js"></script>
    <script src="js/app/modules/news/news/controllers/newsViewController.js"></script>
    <script src="js/app/modules/news/news/controllers/newsUpdateController.js"></script>
    <script src="js/app/modules/news/news/controllers/newsCreateController.js"></script>
    <script src="js/app/modules/news/news/models/news.js"></script>

    <!-- Dialogs module -->
    <script src="js/app/modules/dialog/dialog/controllers/dialogsController.js"></script>
    <script src="js/app/modules/dialog/dialog/controllers/createDialogController.js"></script>
    <script src="js/app/modules/dialog/dialog/components/newDialogCreator.js"></script>
    <script src="js/app/modules/dialog/dialog/models/dialog.js"></script>

    <!-- Rbac module -->
    <script src="js/app/modules/rbac/permission/controllers/permissionViewController.js"></script>
    <script src="js/app/modules/rbac/permission/controllers/permissionCreateController.js"></script>
    <script src="js/app/modules/rbac/permission/controllers/permissionUpdateController.js"></script>
    <script src="js/app/modules/rbac/permission/controllers/permissionListController.js"></script>
    <script src="js/app/modules/rbac/permission/models/permission.js"></script>

    <script src="js/app/modules/rbac/rule/controllers/ruleViewController.js"></script>
    <script src="js/app/modules/rbac/rule/controllers/ruleCreateController.js"></script>
    <script src="js/app/modules/rbac/rule/controllers/ruleUpdateController.js"></script>
    <script src="js/app/modules/rbac/rule/controllers/ruleListController.js"></script>
    <script src="js/app/modules/rbac/rule/models/rule.js"></script>

    <script src="js/app/modules/rbac/route/controllers/routeListController.js"></script>
    <script src="js/app/modules/rbac/route/controllers/routeCreateController.js"></script>
    <script src="js/app/modules/rbac/route/models/route.js"></script>

    <script src="js/app/modules/rbac/role/controllers/roleViewController.js"></script>
    <script src="js/app/modules/rbac/role/controllers/roleCreateController.js"></script>
    <script src="js/app/modules/rbac/role/controllers/roleUpdateController.js"></script>
    <script src="js/app/modules/rbac/role/controllers/roleListController.js"></script>
    <script src="js/app/modules/rbac/role/models/role.js"></script>

    <script src="js/app/modules/rbac/assignment/controllers/assignmentViewController.js"></script>
    <script src="js/app/modules/rbac/assignment/controllers/assignmentListController.js"></script>
    <script src="js/app/modules/rbac/assignment/models/assignment.js"></script>

    <!-- Common resources -->
    <script src="js/app/common/notification.js"></script>
    <script src="js/app/common/filters/replaceFilter.js"></script>
    <script src="js/app/common/filters/humanizeFilter.js"></script>
    <script src="js/app/common/filters/capitalizeFilter.js"></script>
    <script src="js/app/common/helpers/arrayHelper.js"></script>
    <script src="js/app/common/helpers/requestHelper.js"></script>
    <script src="js/app/common/helpers/crudHelper.js"></script>
    <script src="js/app/common/helpers/localizationHelper.js"></script>
    <script src="js/app/common/directives/authCan.js"></script>
    <script src="js/app/common/directives/fileModel.js"></script>
    <script src="js/app/common/directives/uniqueField.js"></script>
    <script src="js/app/common/directives/dateValid.js"></script>
    <script src="js/app/common/directives/contenteditable.js"></script>
    <script src="js/app/common/directives/dateTimePicker.js"></script>
    <script src="js/app/common/directives/randomClass.js"></script>
    <script src="js/app/common/directives/progressIndicator.js"></script>
    <script src="js/app/common/menuBuilder.js"></script>
    <script src="js/app/common/themeSwitcher.js"></script>
    <script src="js/app/common/scripts.js"></script>
    <script src="js/app/common/componentsInit.js"></script>
    <script src="js/app/common/controllers/multiSelectController.js"></script>

    <script src="theme/js/lib/input-mask/jquery.mask.min.js"></script>
    <script src="theme/js/lib/input-mask/input-mask-init.js"></script>

    <script src="vendor/bower/checklist-model/checklist-model.js"></script>
    <script src="vendor/bower/angular-debounce/dist/angular-debounce.js"></script>
    <script src="vendor/bower/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script type="text/javascript" src="vendor/bower/angular-loading-bar/build/loading-bar.min.js"></script>

    <!-- File input style -->
    <script src="vendor/bower/bootstrap-filestyle/src/bootstrap-filestyle.min.js"></script>

</body>
</html>