<div class="createHrMailingPage">
    <form name="form" class="row form-horizontal" novalidate>

        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">

                <div class="box-typical box-typical-padding">
                    <h5 class="with-border" >{{'Contacts' | translate}}</h5>

                    <div class="row">

                        <div class="col-sm-12 col-md-6">
                            <div class="mailingContacts">
                                <div ng-repeat="contact in hrMailing.newMailingContacts">
                                    <div class="checkbox">
                                        <input type="checkbox" id="contact-{{$index}}" ng-model="contact.selected">
                                        <label for="contact-{{$index}}">
                                            {{$index + 1}}.
                                            {{contact.email}}
                                            <span ng-if="contact.info">{{contact.info}}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6">

                            <fieldset class="form-group">
                                <label class="form-label"
                                       for="mainTechnologyId">
                                    <strong>{{'Main technology' | translate}}</strong>
                                </label>
                                <select ng-model="hrMailing.filter.mainTechnologyId"
                                        name="mainTechnologyId"
                                        id="mainTechnologyId"
                                        class="form-control"
                                        ng-options="technology.id as technology.name for technology in hrMailing.technologies">
                                    <option value="">{{'Not set' | translate}}</option>
                                </select>
                            </fieldset>

                            <fieldset class="form-group">
                                <label class="form-label">
                                    <strong>{{'Additional technologies' | translate}}</strong>
                                </label>
                                <div class="additional-technologies">
                                    <div class="checkbox" ng-repeat="technology in hrMailing.technologies">
                                        <input type="checkbox"
                                               id="technology-{{$index}}"
                                               checklist-model="hrMailing.filter.additionalTechnologiesIds"
                                               checklist-value="technology.id" >
                                        <label for="technology-{{$index}}">{{technology.name}}</label>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="form-group">
                                <label class="form-label">
                                    <strong>{{'Except contacts from previous mailings' | translate}}</strong>
                                </label>
                                <div class="except-mailings">
                                    <div class="checkbox" ng-repeat="mailing in hrMailing.mailings">
                                        <input type="checkbox"
                                               id="mailing-{{$index}}"
                                               checklist-model="hrMailing.filter.exceptMailingsIds"
                                               checklist-value="mailing.id" >
                                        <label for="mailing-{{$index}}">{{mailing.info}}</label>
                                    </div>
                                </div>
                            </fieldset>

                            <div class="checkbox">
                                <input type="checkbox" id="exceptBlackListContacts" ng-model="hrMailing.filter.exceptBlackListContacts">
                                <label for="exceptBlackListContacts">
                                    {{'Except blacklist contacts' | translate}}
                                </label>
                            </div>

                            <fieldset class="form-group">
                                <label class="form-label"
                                       for="additionalEmails">
                                    <strong>{{'Additional emails' | translate}}</strong>
                                </label>
                                <textarea ng-model="hrMailing.filter.otherEmails"
                                       name="additionalEmails"
                                       rows="5"
                                       title="{{'List of email (one per line)' | translate}}"
                                       id="additionalEmails"
                                       class="form-control">
                                </textarea>
                            </fieldset>

                            <div class="text-center">
                                <button class="btn btn-success" ng-click="hrMailing.filtrateContacts()">
                                    {{'Filtrate' | translate}}
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">

                <div class="box-typical box-typical-padding">
                    <h5 class="with-border" >{{'Message' | translate}}</h5>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6">

                            <fieldset class="form-group"
                                      ng-class="{ 'form-group-error': form.description.$invalid && form.description.$dirty }">
                                <label class="form-label required"
                                       for="description">
                                    {{'Description' | translate}}
                                </label>
                                <input ng-model="hrMailing.model.description"
                                       placeholder="{{'Description' | translate}}"
                                       type="text"
                                       pattern=".{1,255}"
                                       name="description"
                                       id="description"
                                       class="form-control"
                                       required>
                            </fieldset>

                            <fieldset class="form-group"
                                      ng-class="{ 'form-group-error': form.subject.$invalid && form.subject.$dirty }">
                                <label class="form-label required"
                                       for="subject">
                                    {{'Mail subject' | translate}}
                                </label>
                                <input ng-model="hrMailing.model.subject"
                                       placeholder="{{'Mail subject' | translate}}"
                                       type="text"
                                       pattern=".{1,255}"
                                       name="subject"
                                       id="subject"
                                       class="form-control"
                                       required>
                            </fieldset>

                        </div>

                        <div class="col-xs-12 col-sm-6">

                            <fieldset class="form-group"
                                      ng-class="{ 'form-group-error': form.from_name.$invalid && form.from_name.$dirty }">
                                <label class="form-label required"
                                       for="from_name">
                                    {{'From name' | translate}}
                                </label>
                                <input ng-model="hrMailing.model.from_name"
                                       placeholder="{{'From name' | translate}}"
                                       type="text"
                                       pattern=".{1,255}"
                                       name="from_name"
                                       id="from_name"
                                       class="form-control"
                                       required>
                            </fieldset>

                            <fieldset class="form-group"
                                      ng-class="{ 'form-group-error': form.from_email.$invalid && form.from_email.$dirty }">
                                <label class="form-label required"
                                       for="from_email">
                                    {{'From email' | translate}}
                                </label>
                                <input ng-model="hrMailing.model.from_email"
                                       placeholder="{{'From email' | translate}}"
                                       type="email"
                                       ng-model-options="{ debounce: 1000 }"
                                       name="from_email"
                                       id="from_email"
                                       class="form-control"
                                       required>
                                <small class="text-muted from-email-alert">
                                    * {{'This field can be overwritten by mail server (depending on configuration)' | translate}}
                                </small>
                            </fieldset>

                        </div>
                    </div>

                    <fieldset class="form-group">
                        <label class="form-label required"
                               for="message">
                            {{'Message' | translate}}
                        </label>
                        <div ckeditor="hrMailing.ckEditorOptions"
                             ng-model="hrMailing.model.message"
                             name="message"
                             id="message"
                             required>
                        </div>
                    </fieldset>

                    <fieldset class="form-group">
                        <label class="form-label"
                               for="attachedFiles">
                            {{'Attached files' | translate}}
                        </label>
                        <input type="file"
                               class="filestyle"
                               file-model="attachedFiles"
                               id="attachedFiles"
                               name="attachedFiles"
                               multiple/>
                    </fieldset>

                    <div class="row text-center">
                        <button ng-if="hrMailing.action == hrMailing.actions.CREATE"
                                ng-click="hrMailing.create()"
                                ng-disabled="!form.$valid"
                                class="btn btn-success">
                            {{ hrMailing.action | translate }}
                        </button>
                    </div>

                </div>

            </div>
        </div>

    </form>
</div>