<div>
    <a href="/hrMailing/create"
       class="btn btn-primary list-create-btn"
       auth-can="hrMailing.create">
        {{'Create Mailing' | translate}}
    </a>

    <div class="box-typical table-wrapper">
        <table ng-table="hrMailing.tableParams"
               template-pagination="/frontend/views/common/table-pagination-template.html"
               class="table table-bordered table-hover"
               show-filter="true">
            <tr ng-repeat="t in $data">
                <td title="'№'"
                    class="td-col-5 text-center">
                    {{ ((hrMailing.tableParams.page() - 1) * hrMailing.tableParams.count()) + $index + 1 }}
                </td>
                <td data-title="'Description' | translate"
                    filter="{ description: 'text'}"
                    sortable="'description'">
                    {{t.description}}
                </td>
                <td data-title="'Mail subject' | translate"
                    filter="{ subject: 'text'}"
                    sortable="'subject'">
                    {{t.subject}}
                </td>
                <td data-title="'From' | translate"
                    filter="{ from: 'text'}"
                    sortable="'from'">
                    {{t.from_name}} ({{t.from_email}})
                </td>
                <td data-title="'Created at' | translate"
                    filter="{ created_at: 'text'}"
                    sortable="'created_at'">
                    {{t.created_at}}
                </td>
                <td data-title="'Created by' | translate"
                    filter="{ created_by: 'select'}"
                    filter-data="hrMailing.getMailingsCreatorsFilter()"
                    sortable="'created_by'"
                    class="actions">
                    <span class="user-item">
                        <a href="/user/{{t.createdBy.id}}">
                            <img class="user-image" src="{{t.createdBy.profile.profileImageFullPath}}">
                            {{t.createdBy.fullName}}
                        </a>
                    </span>
                </td>

                <td title="'Actions' | translate"
                    class="td-col-5 text-center actions">
                    <a href="/hrMailing/{{ t.id }}"
                       class="action-icon"
                       auth-can="hrMailing.read">
                        <i class="glyphicon glyphicon-eye-open"
                           aria-hidden="true"
                           title="{{'View' | translate}}">
                        </i>
                    </a>
                    <a href=""
                       class="action-icon"
                       ng-click="hrMailing.delete(t.id)"
                       auth-can="hrMailing.delete">
                        <i class="glyphicon glyphicon-trash"
                           aria-hidden="true"
                           title="{{'Delete' | translate}}">
                        </i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
