<div class="row unsubscribe-page">
    <div class="col-sm-12 col-md-6 col-md-offset-3">
        <div class="box-typical box-typical-padding text-center">
            <br/>
            <h4 ng-if="hrMailing.success" class="success">
                {{hrMailing.email}} {{'was successfully removed from mailing list' | translate}}
            </h4>
            <h4 ng-if="!hrMailing.success" class="fail">
                {{'Unsubscribe error' | translate}}
            </h4>
            <a href="/">{{'Go to the main page' | translate}}</a>
        </div>
    </div>
</div>