<div class="row mailing-view">
    <div class="col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
        <div class="card-grid-col">
            <article class="card-typical">
                <div class="card-typical-section">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell tbl-cell-photo">
                                <a href="/user/{{hrMailing.model.createdBy.id}}">
                                    <img src="{{hrMailing.model.createdBy.profile.profileImageFullPath}}" alt="">
                                </a>
                            </div>
                            <div class="tbl-cell">
                                <p class="user-card-row-name">
                                    <a href="/user/{{hrMailing.model.createdBy.id}}">{{hrMailing.model.createdBy.fullName}}</a>
                                </p>
                                <p class="color-blue-grey-lighter">{{hrMailing.model.created_at}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-typical-section card-typical-content">
                    <div>
                        <span class="title">{{'Description' | translate}}:</span>
                        <span class="value">{{hrMailing.model.description}}</span>
                    </div>
                    <div>
                        <span class="title">{{'Subject' | translate}}:</span>
                        <span class="value">{{hrMailing.model.subject}}</span>
                    </div>
                    <div>
                        <span class="title">{{'Mailing_from' | translate}}:</span>
                        <span class="value">{{hrMailing.model.from_name}} ({{hrMailing.model.from_email}})</span>
                    </div>
                    <br/>
                    <div>
                        <span class="title">{{'Message' | translate}}:</span>
                        <div class="value" ng-bind-html="hrMailing.model.message"></div>
                    </div>
                    <div ng-if="hrMailing.model.fullPathFileAttachments">
                        <br/>
                        <span class="title">{{'Attached files' | translate}}: </span>
                        <span ng-repeat="file in hrMailing.model.fullPathFileAttachments">
                            <a href="{{file.path}}" target="_self" download>{{file.name}}</a>&nbsp;
                        </span>
                    </div>
                </div>
                <div class="card-typical-section">
                    <span class="title">
                        <strong>{{'Mailing was sent to the next emails' | translate}}:</strong>
                    </span>
                    <div class="value emails-list">
                        <p ng-repeat="contact in hrMailing.model.mailingContacts">{{contact.email}}</p>
                    </div>
                </div>
            </article><!--.card-typical-->
        </div><!--.card-grid-col-->
    </div>
</div>