#breadcrumbs {
    margin-top: -20px;
    margin-bottom: 5px;
    padding-left: 0;
    background-color: transparent;
}
.d-block {
    display: block !important;
}
.d-none {
    display: none !important;
}

.table-custom-pagination .pagination-detail {
    font-size: 0.87rem;
}
.table-custom-pagination .pagination {
    font-size: 0.9rem;
}
.table-custom-pagination .pagination li a i {
    color: #c0c8ce;
}
.table-custom-pagination .pagination li a i:hover {
    color: #00a8ff;
}

.box-typical.table-wrapper {
    border-top: 0;
}

a.action-icon:hover{
    color: #00a8ff;
}

a.action-icon{
    padding-top: 5px;
    margin: 0 5px;
    line-height: 20px;
    display: inline-block;
    border: none;
    color: #adb7be;
    font-size: 1rem;
    text-align: center;
    position: static;
    top: 0;
}

.gray-icon{
    padding-top: 5px;
    margin: 0 5px;
    line-height: 20px;
    display: inline-block;
    border: none;
    color: #adb7be;
    font-size: 1rem;
    text-align: center;
    position: static;
    top: 0;
}

.gray-icon-without-margin{
    padding-top: 5px;
    line-height: 20px;
    display: inline-block;
    border: none;
    color: #adb7be;
    font-size: 1rem;
    text-align: center;
    position: static;
    top: 0;
}

.table th {
    box-sizing: border-box;
    line-height: 1.5;
    color: #6c7a86;
    padding: 8px;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table .actions a.action-icon {
    margin: 0;
}

table .actions a {
    border-bottom: 0;
}

table .view-actions a {
    border-bottom: 0;
}

.site-header #main-language-selector .dropdown-menu {
    width: initial;
}

.list-create-btn {
    margin-bottom: 20px;
}

.margin-top-minus-16 {
    margin-top: -16px !important;
}

.with-side-menu.white header .site-logo .hidden-md-down {
    margin-left: 25px;
}

header.site-header .right-menu-icon {
    margin-top: 8px;
    margin-left: 12px;
    cursor: pointer;
    color: #adb7be;
}
header.site-header .right-menu-icon:hover {
    color: #0082c6;
}
.theme-rebecca-purple header.site-header .right-menu-icon {
    color: #fff;
}
.theme-rebecca-purple header.site-header .right-menu-icon:hover {
    color: #fff;
}
.theme-picton-blue header.site-header .right-menu-icon {
    color: #fff;
}
.theme-picton-blue header.site-header .right-menu-icon:hover {
    color: #fff;
}
.theme-picton-blue-white-ebony header.site-header .right-menu-icon {
    color: #76838e;
}
.theme-picton-blue-white-ebony header.site-header .right-menu-icon:hover {
    color: #76838e;
}

.site-header .site-header-collapsed {
    width: initial !important;
}
.not-set {
    color: #c55;
    font-style: italic;
}

hr.no-marg {
    margin-top: 5px;
    margin-bottom: 0.75rem;
}

.table-custom-pagination .no-results {
    font-size: 0.87rem;
}

.user-image{
    width: 20px;
    height: 20px;
    left: -5px;
    top: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.form-label.required:after {
    content:" *";
    color: #e63022;
    position: absolute;
    margin: 1px 0 0 3px;
    font-size: 1.5rem;
    padding: 0 5px 0 0;
}

.list-checkboxes {
    height: 200px;
    overflow-y: scroll;
}

.form-group .bootstrap-filestyle.input-group {
    margin-top: -4px;
}

.padding-r-0 {
    padding-right: 0 !important;
}

.user-form .technologies {
    padding-top: 8px;
    padding-left: 20px;
    max-height: 700px;
    overflow-y: auto;
}

.user-form .technologies-checkboxes {
    max-width: 50%;
    display: inline-block;
    float: left;
}

.user-form .technologies-checkboxes .checkbox-bird {
    height: 40px;
    margin-bottom: 0;
    padding-top: 10px;
}

.user-form .technologies-rating {
    display: inline-block;
    float: left;
    padding-left: 50px;
}

.user-form .technologies-rating .form-control {
    font-size: 0.9rem;
}

.user-form .technologies-rating .form-group {
    margin-bottom: 5px;
}

.user-form .technologies-rating input[type=number] {
    min-width: 100px;
}

.new-billing-cards .actions {
    text-align: right;
    padding-right: 21px;
    cursor: pointer
}

.user-profile-page .write-message-btn {
    max-width: none !important;
    width: auto !important;
}

.user-profile-page .actions-btn {
    width: auto !important;
    min-width: 100px;
}

.user-profile-page .side-additional-block-content {
    padding: 10px 15px 10px 15px;
}

.user-profile-page .profile-technologies {
    padding: 5px 15px;
    width: 50%;
}

.user-profile-page .profile-technologies .title {
    display: block;
    margin-bottom: 8px;
}

.table-columns-dropdown {
    color: #707070;
    float: right;
    margin-top: -25px;
    margin-right: 1px;
}

.table-columns-dropdown .icon {
    cursor: pointer;
}

.table-columns-dropdown .dropdown-menu {
    padding: 5px 10px;
}

.action-icon .additional {
    margin-left: 4px;
}

.divider-top-15 {
    margin-top: 15px;
}

ul li.divider.top-marg-0 {
    margin-top: 0;
}

.user-profile-page span.title {
    font-weight: bold;
}

.user-profile-page span.content {
    padding-left: 3px;
}

.user-profile-page .profile-links-list.additional-info {
    padding: 0;
}

.news-list-page header.title a{
    font-size: 1.5rem;
    color: #337ab7 !important;
}

.news-list-page header.title a:hover{
    text-decoration: underline;
}

.news-list-page .read-more-btn {
    margin-top: 5px;
    display: block;
}

.news-page .action-btn .glyphicon {
    margin-right: 3px;
    font-size: 1rem;
    color: #adb7be;
}
.news-page .action-btn a:hover {
    color: #0082c6;
}

.news-page .news-content {
    font-size: 1rem;
    padding: 8px 10px;
}

.news-page header.title {
    padding: 3px 10px;
}

.news-page .comment-block {
    margin-top: 12px;
}

.news-page .comment-content {
    font-size: 1rem;
    padding: 5px 10px;
}

.active-row {
    background: #b3d4fc !important;
    font-weight: bold;
}

.clicked-table-projects {
    background-color: #f6f8fa;
}

.clicked-table-projects-versions {
    background-color: #f6f8fa;
}

.createHrMailingPage .mailingContacts {
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}

.createHrMailingPage .additional-technologies {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.createHrMailingPage .except-mailings {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.createHrMailingPage .from-email-alert {
    color: #eb0005
}

.mailing-view .emails-list {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

.unsubscribe-page .success {
    color: green;
}

.unsubscribe-page .fail {
    color: #eb0005;
}

.dialogs .dialog-last-msg {
    color: #919fa9;
}

.dialogs .dialog-subject {
    height: auto;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 20px;
}

.dialogs .mail-box-letter-item {
    background-color: transparent;
}

.dialogs .mail-box-letter-item.unread {
    background-color: #eceff4;
}

.dialogs .mail-box-letter-item-photo img {
    height: 100%;
}

.dialogs .dialog-users-btn {
    height: auto !important;
    margin-top: 10px !important;
}

.dialogs .dialog-attach {
    margin-right: 15px;
}

.dialogs .chat-list {
    width: 400px;
}

.dialogs .chat-area {
    margin-left: -400px;
}

.dialogs .chat-area-in {
    margin-left: 400px;
}

.dialogs .chat-list-item {
    cursor: pointer;
}

.dialogs .chat-list-item:hover {
    background-color: #e5ebee !important;
}

.dialogs .chat-list-in {
    overflow-x: hidden;
}

.dialogs .chat-list-item-header .subject {
    margin-top: 2px;
    font-size: .9375rem;
    line-height: 1.4;
    width: 100%;
    font-weight: normal;
    color: #343434;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.modified {
    color: #c55;
    text-decoration: underline;
}

.dialogs .chat-dialog-area {
    overflow-y: auto;
}

.dialogs .dialog-write-message.chat-list-item {
    padding: 0;
    min-height: inherit;
    margin-left: 40px;;
    margin-bottom: 6px;
    margin-top: -9px;
}


.dialogs .remove-btn {
    cursor: pointer;
    margin-right: 5px;
    color: #919fa9;
}

.dialogs .dialog-action-btn {
    margin-top: 10px !important;
    cursor: pointer;
    height: auto !important;
}

.dialogs .leave-btn {
    font-size: 1.2rem;
}

.dialogs .mgs-files {
    margin-top: 10px;
    border-left: solid 4px #d8e2e7;
    padding: 5px 10px;
}

.dialogs .attached-files {
    max-width: 350px;
    float: right;
}

.dialogs .attached-files .btn {
    margin-right: 0;
}

.dialogs .attached-files label {
    margin-top: 0;
}

.evaluated-project-valuate {
    background: #dff0d8;
    margin:4px;
    padding:6px;
}

.rejected-project-valuate {
    background: #f2dede;
    margin:4px;
    padding:6px;
}

.own-row-project {
    background: #f4ffe8;
    cursor: pointer;
}

.general-row-project {
    cursor: pointer;
}

.custom-typeahead .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: block;
    background-color: #f9f9f9;
}

.custom-typeahead .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
}

.custom-typeahead .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 2px 15px 10px 15px;
    font-size: 1rem;
}

.custom-typeahead .custom-popup-wrapper > .dropdown-menu > li {
    margin-top: 5px;
}

.custom-typeahead .custom-popup-wrapper > .dropdown-menu > li a {
    color: #343434;
}

.custom-typeahead .custom-popup-wrapper > .dropdown-menu > li a:hover {
    color: #00a8ff;
}

.custom-typeahead .custom-popup-wrapper > .dropdown-menu > li.active a{
    color: #00a8ff;
}

.dialogs.add-user-modal .modal-dialog {
    width: 400px !important;
}

.involved-developers {
    background: #ffffff;
    margin:4px;
    padding:6px;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url('for-star-rating.woff2') format('woff2');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.rbac-assign-page hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.rbac-assign-page .permissions-select {
    width: 100%;
    height: 100%;
    border: 1px solid #ededed;
    display: inline-block;
}

.rbac-assign-page .left-block {
    width: 46%;
    float: left;
}
.rbac-assign-page .middle-block {
    width: 7%;
    float: left;
}
.rbac-assign-page .right-block {
    width: 46%;
    float: left;
}

@media only screen and (max-width: 1400px) {
    .rbac-assign-page .left-block {
        width: 43%;
    }

    .rbac-assign-page .middle-block {
        width: 14%;
    }

    .rbac-assign-page .right-block {
        width: 43%;
    }
}

.rbac-assign-page .actions {
    padding-top: 35px;
}

.rbac-assign-page .actions button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rbac-assign-page input.filter {
    border: 1px solid #e7e7e7;
    margin-bottom: 5px;
    margin-left: 5px;
    border-radius: 5px;
    padding: 3px;
    color: #353535;
}

.permission-page .box-typical {
    min-height: 570px;
}

.rbac-assign-page .prop-block {
    margin-top: 5px;
}

.rbac-assign-page .prop-block .name {
    font-weight: bold;
    min-width: 75px;
    display: inline-block;
}

.permission-page .assignable-block {
    height: 300px;
}

.route-page .box-typical {
    min-height: 570px;
}

.route-page .assignable-block {
    height: 440px;
}

.route-page .action-icon {
    top: 3px;
    left: 2px;
}

.role-page .box-typical {
    min-height: 600px;
}

.role-page .assignable-block {
    height: 335px;
}

.assignment-page .assignable-block {
    height: 440px;
}

.assignment-page .box-typical {
    min-height: 570px;
}

.icon-danger{
    color: #fa424a;
}

.icon-primary{
    color: #adb7be;
}

.welcome-page-box-info{
    float: left;
    width: 100%;
    height: 314px;
    padding: 15px 20px;
    background: #304b58;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    color: #fff;
    position: relative;
    z-index: 5;
}

.color-blue{
    color: #00a8ff;
}

.font-weight-600{
    font-weight: 600;
}

.action-icon {
    color: #adb7be;
    cursor: pointer;
}

.action-icon:hover {
    color: #0082c6;
}

.project-info span.title {
    font-weight: bold;
}

.comment-project-author {
    background: #dcf5ff !important;
}

.add-developer {
    padding-left: 20px;
}

.pass-project {
    padding-left: 20px;
}

.general-row-ticket {
    cursor: pointer;
}

.clicked-table-tickets {
    background-color: #f6f8fa;
}

.profile-card .profile-card-photo img{
    height: 100%;
}

.widget-time-content {
    padding: 1rem !important;
}
.image-size img {
    max-width: 100%;
}

.image-size-in-table img {
    max-width: 50%;
}

.progress-compact-style-modified progress{
    background-color: #f6f8fa;
    height: 5px;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 0 0 .4rem;
}

.chat-list-item .chat-list-item-name .name a{
    color: #000;
}

.chat-area .user-item a{
    color: #000;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.proj-page-mark{
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
    position: relative;
    padding: 0 30px 0 60px;
    margin: 0 10px 0 0;
    font-size: .9375rem;
    line-height: 18px;
}

.proj-page-main-controls a.btn:hover {
    color: #343434;
}
.user-profile-page table a {
    border-bottom: 0;
}

.user-profile-page table .table-date {
    text-align: left;
    white-space: normal;
    width: auto;
}

.user-profile-page .complaints-table {
    max-height: 700px;
}

.user-profile-page .projects-table {
    max-height: 700px;
}

.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
    border-radius: 10px;
}

.status-area .title .font-icon {
    opacity: 0;
    color: #919fa9;
    font-size: .8125rem;
    margin: 0 0 0 5px;
}

.status-area .title :hover .font-icon{
    opacity: 1;
}

.list-checkboxes-350 {
    height: 350px;
    overflow-y: scroll;
}

.completed-project-tbl-row {
    background-color: #f2f2f2;
}

.table-hover .completed-project-tbl-row:hover {
    background-color: #ededed;
}

.deleted-project-tbl-row {
    background-color: #f2f2f2;
}

.table-hover .deleted-project-tbl-row:hover {
    background-color: #ededed;
}

.user-card-row .fa {
    color: #919fa9;
}

.color-light-gray {
    color: #919fa9;
}

.m-r-md{
    margin-right: 10px;
}

.m-r-sm{
    margin-right: 5px;
}

.m-t-sm{
    margin-top: 10px;
}

.label-brown{
    background-color: #7e442c !important;
}

.label-dark-green{
    background-color: #203f1f !important;
}

.label-cyan{
    background-color: #43a2a4 !important;
}

.label-sandstone{
    background-color: #a7967a !important;
}

.table-filter-multi-select .modal-body {
    padding-top: 20px;
}

.table-filter-multi-select .grouped .form-group {
    margin-bottom: 5px;
}

.table-filter-multi-select .grouped .form-group:last-child {
    margin-bottom: 0;
}

.table-filter-multi-select .grouped .form-label{
    margin-bottom: 8px;
}

.table-filter-multi-select .grouped .checkbox-bird {
    padding-left: 10px;
}

.table-filter-multi-select .modal-body .content {
    max-height: 300px;
    overflow-y: auto;
}

.m-r-3{
    margin-right: 3px;
}

.technology-page .header .title {
    margin-bottom: 0;
    padding-bottom: 0;
}

.top-menu-tickets-block .sub-counter {
    float: right;
    margin-left: 5px;
}

.top-menu-tickets-block .dropdown-menu {
    min-width: 200px !important;
}

.developer-item {
    height: 50px;
}