/* table columns width classes */
.td-col-1 {
    width: 1%;
}

.td-col-2 {
    width: 2%;
}

.td-col-3 {
    width: 3%;
}

.td-col-4 {
    width: 4%;
}

.td-col-5 {
    width: 5%;
}

.td-col-6 {
    width: 6%;
}

.td-col-7 {
    width: 7%;
}

.td-col-8 {
    width: 8%;
}

.td-col-9 {
    width: 9%;
}

.td-col-10 {
    width: 10%;
}

.td-col-11 {
    width: 11%;
}

.td-col-12 {
    width: 12%;
}

.td-col-13 {
    width: 13%;
}

.td-col-14 {
    width: 14%;
}

.td-col-15 {
    width: 15%;
}

.td-col-16 {
    width: 16%;
}

.td-col-17 {
    width: 17%;
}

.td-col-18 {
    width: 18%;
}

.td-col-19 {
    width: 19%;
}

.td-col-20 {
    width: 20%;
}

.td-col-21 {
    width: 21%;
}

.td-col-22 {
    width: 22%;
}

.td-col-23 {
    width: 23%;
}

.td-col-24 {
    width: 24%;
}

.td-col-25 {
    width: 25%;
}

.td-col-26 {
    width: 26%;
}

.td-col-27 {
    width: 27%;
}

.td-col-28 {
    width: 28%;
}

.td-col-29 {
    width: 29%;
}

.td-col-30 {
    width: 30%;
}

.td-col-31 {
    width: 31%;
}

.td-col-32 {
    width: 32%;
}

.td-col-33 {
    width: 33%;
}

.td-col-34 {
    width: 34%;
}

.td-col-35 {
    width: 35%;
}

.td-col-36 {
    width: 36%;
}

.td-col-37 {
    width: 37%;
}

.td-col-38 {
    width: 38%;
}

.td-col-39 {
    width: 39%;
}

.td-col-40 {
    width: 40%;
}

.td-col-41 {
    width: 41%;
}

.td-col-42 {
    width: 42%;
}

.td-col-43 {
    width: 43%;
}

.td-col-44 {
    width: 44%;
}

.td-col-45 {
    width: 45%;
}

.td-col-46 {
    width: 46%;
}

.td-col-47 {
    width: 47%;
}

.td-col-48 {
    width: 48%;
}

.td-col-49 {
    width: 49%;
}

.td-col-50 {
    width: 50%;
}

.td-col-51 {
    width: 51%;
}

.td-col-52 {
    width: 52%;
}

.td-col-53 {
    width: 53%;
}

.td-col-54 {
    width: 54%;
}

.td-col-55 {
    width: 55%;
}

.td-col-56 {
    width: 56%;
}

.td-col-57 {
    width: 57%;
}

.td-col-58 {
    width: 58%;
}

.td-col-59 {
    width: 59%;
}

.td-col-60 {
    width: 60%;
}

.td-col-61 {
    width: 61%;
}

.td-col-62 {
    width: 62%;
}

.td-col-63 {
    width: 63%;
}

.td-col-64 {
    width: 64%;
}

.td-col-65 {
    width: 65%;
}

.td-col-66 {
    width: 66%;
}

.td-col-67 {
    width: 67%;
}

.td-col-68 {
    width: 68%;
}

.td-col-69 {
    width: 69%;
}

.td-col-70 {
    width: 70%;
}

.td-col-71 {
    width: 71%;
}

.td-col-72 {
    width: 72%;
}

.td-col-73 {
    width: 73%;
}

.td-col-74 {
    width: 74%;
}

.td-col-75 {
    width: 75%;
}

.td-col-76 {
    width: 76%;
}

.td-col-77 {
    width: 77%;
}

.td-col-78 {
    width: 78%;
}

.td-col-79 {
    width: 79%;
}

.td-col-80 {
    width: 80%;
}

.td-col-81 {
    width: 81%;
}

.td-col-82 {
    width: 82%;
}

.td-col-83 {
    width: 83%;
}

.td-col-84 {
    width: 84%;
}

.td-col-85 {
    width: 85%;
}

.td-col-86 {
    width: 86%;
}

.td-col-87 {
    width: 87%;
}

.td-col-88 {
    width: 88%;
}

.td-col-89 {
    width: 89%;
}

.td-col-90 {
    width: 90%;
}

.td-col-91 {
    width: 91%;
}

.td-col-92 {
    width: 92%;
}

.td-col-93 {
    width: 93%;
}

.td-col-94 {
    width: 94%;
}

.td-col-95 {
    width: 95%;
}

.td-col-96 {
    width: 96%;
}

.td-col-97 {
    width: 97%;
}

.td-col-98 {
    width: 98%;
}

.td-col-99 {
    width: 99%;
}

.td-col-100 {
    width: 100%;
}
