<div class="modal fade" id="createComplaintModal"
     tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{'Complain' | translate}}</h4>
            </div>
            <div class="modal-body">
                <form name="newComplaintForm" novalidate>

                    <fieldset class="form-group">
                        <label class="form-label required"
                               for="reason">
                            {{'Reason' | translate}}
                        </label>
                        <textarea ng-model="user.newComplaint.reason"
                                  placeholder="{{'Reason' | translate}}"
                                  pattern=".{1,255}"
                                  name="reason"
                                  rows="5"
                                  id="reason"
                                  class="form-control"
                                  required>
                        </textarea>
                    </fieldset>

                </form>
            </div>
            <div class="modal-footer text-center">
                <button ng-click="user.complain()"
                        ng-disabled="(!user.newComplaint.reason || (user.newComplaint.reason.length == 0))"
                        class="btn btn-success">
                    {{ 'Complain' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>