<form name="form" class="row form-horizontal" novalidate>

    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 box-typical box-typical-padding">

        <h5 class="with-border" >{{mainController.title | translate}}</h5>

        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.name.$invalid && form.name.$dirty }">
            <label class="form-label required"
                   for="name">
                {{'Name' | translate}}
            </label>
            <input ng-model="rule.model.name"
                   placeholder="{{'Name' | translate}}"
                   type="text"
                   pattern=".{1,255}"
                   name="name"
                   id="name"
                   class="form-control"
                   required>
            <small class="text-muted"
                   ng-if="form.name.$invalid && form.name.$dirty">
                {{'Field is required' | translate}}
            </small>
        </fieldset>

        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.className.$invalid && form.className.$dirty }">
            <label class="form-label required"
                   for="className">
                {{'Class name' | translate}}
            </label>
            <input ng-model="rule.model.className"
                   placeholder="{{'Class name' | translate}}"
                   type="text"
                   pattern=".{1,255}"
                   name="className"
                   id="className"
                   class="form-control"
                   required>
            <small class="text-muted"
                   ng-if="form.className.$invalid && form.className.$dirty">
                {{'Field is required (class must exist)' | translate}}
            </small>
        </fieldset>

        <div class="row text-center">

            <button ng-if="rule.action == rule.actions.UPDATE"
                    ng-click="rule.update()"
                    ng-disabled="!form.$valid || !form.$dirty"
                    class="btn btn-primary">
                {{ rule.action | translate }}
            </button>

            <button ng-if="rule.action == rule.actions.CREATE"
                    ng-click="rule.create()"
                    ng-disabled="!form.$valid"
                    class="btn btn-success">
                {{ rule.action | translate }}
            </button>

        </div>

    </div>

    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

</form>