<div>

    <div class="box-typical table-wrapper">
        <table ng-table="assignment.tableParams"
               template-pagination="/frontend/views/common/table-pagination-template.html"
               class="table table-bordered table-hover"
               show-filter="true">
            <tr ng-repeat="a in $data">
                <td title="'№'" class="td-col-8 text-center">
                    {{ ((assignment.tableParams.page() - 1) * assignment.tableParams.count()) + $index + 1 }}
                </td>
                <!--<td title="'Id'" filter="{ id: 'number'}" sortable="'id'">-->
                <!--{{a.id}}-->
                <!--</td>-->

                <td data-title="'Name' | translate"
                    filter="{ name: 'text'}"
                    sortable="'name'"
                    class="td-col-40">
                    {{a.fullName}}
                </td>

                <td data-title="'Username' | translate"
                    filter="{ username: 'text'}"
                    sortable="'username'"
                    class="td-col-40">
                    {{a.username}}
                </td>

                <td title="'Actions' | translate"
                    class="td-col-20 text-center actions">
                    <a href="/rbac/assignment/{{ a.id }}"
                       class="action-icon"
                       auth-can="rbac.all">
                        <i class="glyphicon glyphicon-eye-open" aria-hidden="true" title="{{'View' | translate}}"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
