<div class="row rbac-assign-page assignment-page">

    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="box-typical box-typical-padding">

            <h5 class="with-border" >{{'Assignments' | translate}}: {{mainController.title | translate}}</h5>

            <div>
                <div class="left-block assignable-block">
                    <strong>{{'Available' | translate}}:</strong>
                    <input type="text"
                           ng-model="assignment.availableFilter"
                           ng-model-options="{ debounce: 1000 }"
                           ng-change="assignment.availableFilterChange()"
                           class="filter"
                           placeholder="{{'permission_filter_placeholder' | translate}}">
                    <select class="permissions-select custom-scroll"
                            ng-model="assignment.availableSelected"
                            multiple>

                        <optgroup label="{{'Roles' | translate}}"
                                  ng-if="assignment.available.Roles">
                            <option ng-repeat="(key, value) in assignment.available.Roles"
                                    value="{{key}}">
                                {{value}}
                            </option>
                        </optgroup>

                        <optgroup label="{{'Permissions' | translate}}"
                                  ng-if="assignment.available.Permissions">
                            <option ng-repeat="(key, value) in assignment.available.Permissions"
                                    value="{{key}}">
                                {{value}}
                            </option>
                        </optgroup>

                    </select>
                </div>
                <div class="middle-block text-center actions assignable-block">
                    <button class="btn btn-success"
                            ng-click="assignment.assign()">
                        &#187;
                    </button>
                    <button class="btn btn-danger"
                            ng-click="assignment.unbind()">
                        &#171;
                    </button>
                </div>
                <div class="right-block assignable-block">
                    <strong>{{'Assigned' | translate}}:</strong>
                    <input type="text"
                           ng-model="assignment.assignedFilter"
                           ng-model-options="{ debounce: 1000 }"
                           ng-change="assignment.assignedFilterChange()"
                           class="filter"
                           placeholder="{{'permission_filter_placeholder' | translate}}">
                    <select class="permissions-select custom-scroll"
                            ng-model="assignment.assignedSelected"
                            multiple>

                        <optgroup label="{{'Roles' | translate}}"
                                  ng-if="assignment.assigned.Roles">
                            <option ng-repeat="(key, value) in assignment.assigned.Roles"
                                    value="{{key}}">
                                {{value}}
                            </option>
                        </optgroup>

                        <optgroup label="{{'Permissions' | translate}}"
                                  ng-if="assignment.assigned.Permissions">
                            <option ng-repeat="(key, value) in assignment.assigned.Permissions"
                                    value="{{key}}">
                                {{value}}
                            </option>
                        </optgroup>

                    </select>
                </div>
            </div>

        </div>
    </div>
</div>