<form name="form" class="row form-horizontal" novalidate>

    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 box-typical box-typical-padding">

        <h5 class="with-border" >{{mainController.title | translate}}</h5>

        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.head_id.$invalid && form.head_id.$dirty }"
                    ng-hide="department.action == department.actions.CREATE">
            <label class="form-label">
                {{'Head' | translate}}
            </label>
            <div class="custom-typeahead">
                <div class="input-group">
                    <input type="text"
                           ng-model="department.headAsObject"
                           ng-model-options="{ debounce: 500 }"
                           placeholder="{{'Choose user from list' | translate}}"
                           uib-typeahead="user as user.fullName for user in department.getUsersByName($viewValue)"
                           typeahead-popup-template-url="/frontend/views/common/typeahead-popup-template.html"
                           class="form-control">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </div>
                </div>
            </div>
            <small class="text-muted"
                   ng-if="form.head_id.$invalid && form.head_id.$dirty">
                {{'Head is required' | translate}}
            </small>
        </fieldset>


        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.name.$invalid && form.name.$dirty }">
            <label class="form-label required"
                   for="name">
                {{'Title' | translate}}
            </label>
            <input ng-model="department.model.name"
                   placeholder="{{'Title' | translate}}"
                   type="text"
                   pattern=".{1,255}"
                   name="name"
                   id="name"
                   class="form-control"
                   required>
            <small class="text-muted"
                   ng-if="form.name.$invalid && form.name.$dirty">
                {{'Title is required (max length: 255)' | translate}}
            </small>
        </fieldset>

        <div class="row text-center">

            <button ng-if="department.action == department.actions.UPDATE"
                    ng-click="department.update()"
                    ng-disabled="!form.$valid || !form.$dirty"
                    class="btn btn-primary">
                {{ department.action | translate }}
            </button>

            <button ng-if="department.action == department.actions.CREATE"
                    ng-click="department.create()"
                    ng-disabled="!form.$valid"
                    class="btn btn-success">
                {{ department.action | translate }}
            </button>

        </div>

    </div>

    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

</form>
