<div>

    <a href="/department/create"
        class="btn btn-primary list-create-btn"
        auth-can="department.create">
            {{'Create' | translate}}
    </a>

    <div class="box-typical table-wrapper">
        <table ng-table="department.tableParams"
               template-pagination="/frontend/views/common/table-pagination-template.html"
               class="table table-bordered table-hover"
               show-filter="true">
            <tr ng-repeat="t in $data">
                <td title="'№'" class="td-col-8 text-center">
                    {{ ((department.tableParams.page() - 1) * department.tableParams.count()) + $index + 1 }}
                </td>
                <td data-title="'Title' | translate" filter="{ name: 'text'}" sortable="'name'">
                    {{t.name}}
                </td>
                <td data-title="'Head' | translate" filter="{ headAsString: 'text'}" sortable="'headAsString'" class="actions">
                    <span ng-if="t.headInfo">
                        <a href="/user/{{t.headInfo['id']}}">
                            <img class="user-image" src="{{t.headInfo['profileImageFullPath']}}">
                            {{t.headInfo['fullName']}}
                        </a>
                    </span>
                    <span ng-if="!t.headInfo" class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>
                <td title="'Actions' | translate" class="td-col-20 text-center actions">
                    <a href="/department/{{ t.id }}"
                        class="action-icon"
                        auth-can="department.read">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true" title="{{'View' | translate}}"></span>
                    </a>
                    <a href="/department/{{ t.id }}/update"
                        class="action-icon"
                        auth-can="department.update">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="{{'Update' | translate}}"></span>
                    </a>
                    <a href=""
                       class="action-icon"
                       ng-click="department.delete(t.id)"
                       auth-can="department.delete">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" title="{{'Delete' | translate}}"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

