<section class="box-typical proj-page">
    <section class="proj-page-section proj-page-header">
        <div class="title">
            {{ 'Department' | translate }}: {{department.model.name}}
            <a auth-can="department.update" type="button" href="/department/{{department.model.id}}/update" class="comment-row-item-action edit">
                <i class="font-icon font-icon-pencil"></i>
            </a>
        </div>
        <div class="project">{{ 'Head' | translate }}:
            <span ng-if="department.model.head.fullName">
                <span class="user-item">
                    <a href="/user/{{department.model.head.id}}">
                        <img class="user-image" src="{{department.model.head.profile.profileImageFullPath}}">
                        {{department.model.head.fullName}}
                    </a>
                    <span class="gray-icon">
                        (
                            <span ng-if="department.model.head.profile.rank">{{department.model.head.profile.rankAsString}}</span>
                            <span ng-if="department.model.head.rolesAsArray">{{department.model.head.rolesAsString}}</span>
                            <span ng-if="department.model.head.profile.rating"> - {{department.model.head.profile.rating}}/10</span>
                        )
                    </span>
                </span>
            </span>
            <span ng-if="!department.model.head.fullName"
                  class="not-set">
                ({{'Not set' | translate}})
            </span>
        </div>
    </section><!--.proj-page-section-->

    <section class="proj-page-section">
        <div class="proj-page-txt">
            <header class="proj-page-subtitle">
                <h3>{{'Statistics' | translate}}</h3>
            </header>
            <div class="row">
                <div class="col-lg-4 progress-compact-style-modified">
                    <p>{{department.statistic.employeesPercent  | number:2 }}% {{'employees working in this department' | translate}}</p>
                    <progress class="progress progress-success"
                              value="{{department.statistic.employeesPercent | number:0}}"
                              max="100">
                        {{department.statistic.employeesPercent | number:0}}
                    </progress>
                </div>
                <div class="col-lg-4 progress-compact-style-modified">
                    <p>{{department.statistic.busyEmployeesPercent  | number:2 }}% {{'employees in this department are engaged in projects' | translate}}</p>
                    <progress class="progress"
                              progress-indicator="department.statistic.busyEmployeesPercent"
                              value="{{department.statistic.busyEmployeesPercent | number:0}}"
                              max="100">
                        {{department.statistic.busyEmployeesPercent | number:0}}
                    </progress>
                </div>
                <div class="col-lg-4 progress-compact-style-modified">
                    <i class="font-icon gray-icon-without-margin font-icon-star"></i> {{'Best employee' | translate}}<br>
                        <span class="user-item">
                         <div class="tbl-cell tbl-cell-name">
                             <span ng-if="department.statistic.bestWorker">
                                 <a href="/user/{{department.statistic.bestWorker.id}}">
                                     <img class="user-image" src="{{department.statistic.bestWorker.profile.profileImageFullPath}}">
                                     {{department.statistic.bestWorker.fullName}}
                                 </a>
                                <span class="gray-icon">
                                    (
                                        <span ng-if="department.bestWorker.profile.rank">{{department.statistic.bestWorker.profile.rankAsString}}</span>
                                        <span ng-if="department.bestWorker.rolesAsArray">{{department.statistic.bestWorker.rolesAsString}}</span>
                                        <span ng-if="department.bestWorker.profile.rating"> - {{department.statistic.bestWorker.profile.rating}}/10</span>
                                    )
                                </span>
                             </span>
                             <span ng-if="department.statistic.employees.length == 0">
                                {{'This department has no employees' | translate}}
                             </span>
                         </div>
                        </span>
                </div>
            </div>
        </div>
    </section><!--.proj-page-section-->

    <section class="proj-page-section">
        <header class="proj-page-subtitle">
            <h3>{{ 'Employees' | translate }}</h3>
        </header>

        <div class="comment-rows-container scrollable-block">
            <div class="comment-row-item" ng-if="department.statistic.employees.length > 0" ng-repeat="employee in department.statistic.employees">
                <div class="avatar-preview avatar-preview-32">
                    <a href="/user/{{employee.id}}">
                        <img src="{{employee.profile.profileImageFullPath}}" alt="">
                    </a>
                </div>
                <div class="tbl comment-row-item-header">
                    <div class="tbl-row">
                        <div class="tbl-cell tbl-cell-name">
                            <a href="/user/{{employee.id}}">
                                {{employee.fullName}}
                            </a>
                            <span class="gray-icon">
                                (
                                    <span ng-if="employee.profile.rank">{{employee.profile.rankAsString}}</span>
                                    <span ng-if="employee.rolesAsArray">{{employee.rolesAsString}}</span>
                                    <span ng-if="employee.profile.rating"> - {{employee.profile.rating}}/10</span>
                                )
                            </span>
                        </div>
                        <div class="tbl-cell tbl-cell-date">{{'In company from' | translate}} {{employee.created_at | date: "DD-MM-yyyy"}}</div>
                    </div>
                </div>
                <div class="comment-row-item-content">
                    <p ng-if="employee.email">{{employee.email}}</p>
                    <span ng-if="employee.profile.status">
                        <span class="label label-primary" ng-if="employee.profile.status == department.employmentStatuses.Free">
                            {{employee.profile.statusAsString | translate}}
                        </span>
                        <span class="label label-danger" ng-if="employee.profile.status != department.employmentStatuses.Free">
                            {{employee.profile.statusAsString | translate}}
                        </span>
                    </span>
                    <a type="button" href="/user/{{employee.id}}" class="comment-row-item-action edit">
                        <i class="font-icon font-icon-eye"></i>
                    </a>
                </div>
            </div><!--.comment-row-item-->
            <div class="comment-row-item" ng-if="department.statistic.employees.length == 0">
                {{'This department has no employees' | translate}}
            </div>
        </div><!--.comment-rows-container-->
    </section><!--.proj-page-attach-section-->
</section><!--.proj-page-->