<div class="page-center">
    <div class="container-fluid">
        <div class="page-error-box">
            <div class="error-code">404</div>
            <div class="error-title">{{'Page not found' | translate}}</div>
            <a href="/" class="btn btn-rounded">{{'Home page' | translate}}</a>
        </div>
    </div>
</div><!--.page-center-->