<div class="table-filter-multi-select"
     ng-controller="multiSelectController as msc">

    <!-- Modal -->
    <div class="modal fade" id="{{msc.modalId}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{'Select parameters' | translate}}</h4>
                </div>
                <div class="modal-body">

                    <div class="content custom-scroll">
                        <!-- filter data have next format -->
                        <!--    {                          -->
                        <!--        "group1": [{           -->
                        <!--            "id": 1,           -->
                        <!--            "title": "..."     -->
                        <!--        }, {                   -->
                        <!--            "id": 2,           -->
                        <!--            "title": "..."     -->
                        <!--        }],                    -->
                        <!--    "group2": [{               -->
                        <!--            "id": 3,           -->
                        <!--            "title": "..."     -->
                        <!--        }, {                   -->
                        <!--            "id": 4,           -->
                        <!--            "title": "..."     -->
                        <!--        }]                     -->
                        <!--    }                          -->
                        <div ng-if="msc.isDataGrouped" class="grouped">

                            <fieldset class="form-group"
                                      ng-repeat="(groupKey, groupElements) in $column.data">
                                <label class="form-label text-left">
                                    {{groupKey}}
                                </label>
                                <div class="checkbox-bird grey"
                                     ng-repeat="param in groupElements">
                                    <input type="checkbox"
                                           id="{{msc.modalId}}-group-{{groupKey}}-param-{{param.id}}"
                                           name="{{msc.modalId}}-group-{{groupKey}}-params[]"
                                           data-checklist-model="msc.selectedParams"
                                           data-checklist-value="param"/>
                                    <label for="{{msc.modalId}}-group-{{groupKey}}-param-{{param.id}}" class="text-left">{{param.title}}</label>
                                </div>
                            </fieldset>
                        </div>

                        <!-- filter data have next format -->
                        <!--    [                          -->
                        <!--        {                      -->
                        <!--            "id": 1,           -->
                        <!--            "title": "..."     -->
                        <!--        }, {                   -->
                        <!--            "id": 2,           -->
                        <!--            "title": "..."     -->
                        <!--        }                      -->
                        <!--    ],                         -->
                        <div ng-if="!msc.isDataGrouped">
                            <div class="checkbox-bird grey"
                                 ng-repeat="param in $column.data">
                                <input type="checkbox"
                                       id="{{msc.modalId}}-param-{{param.id}}"
                                       name="{{msc.modalId}}-params[]"
                                       data-checklist-model="msc.selectedParams"
                                       data-checklist-value="param"/>
                                <label for="{{msc.modalId}}-param-{{param.id}}" class="text-left">{{param.title}}</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer text-center">
                    <button type="button"
                            class="btn btn-primary"
                            ng-click="msc.filtrate()">
                        {{'Filtrate' | translate}}
                    </button>
                    <button type="button"
                            ng-click="msc.clean()"
                            ng-disabled="msc.selectedParams.length == 0"
                            class="btn btn-default">
                        {{'Clean' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <input type="text"
           ng-model="msc.searchTitle"
           class="input-filter form-control"
           ng-click="msc.openModal()">

</div>