<div class="ng-cloak ng-table-pager table-custom-pagination"
     ng-if="params.data.length">
    <div class="bootstrap-table">
        <div class="fixed-table-pagination">
            <div class="ng-table-counts pull-left pagination-detail"
                 ng-if="params.settings().counts.length">
                <span class="pagination-info">
                    {{'Showing' | translate}}
                    {{(params.page() - 1) * params.count() + 1}}
                    -
                    {{((params.page() - 1) * params.count() + params.count() > params.total()) ? params.total() : (params.page() - 1) * params.count() + params.count()}}
                    {{'entries' | translate}}
                    {{'of' | translate}}
                    {{params.total()}}
                </span>
                <span class="page-list">
                    <span class="btn-group dropup">
                        <button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown">
                            <span class="page-size" ng-bind="params.count()"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="count in params.settings().counts"
                                ng-class="{'active':params.count()==count}"
                                ng-show="!(params.count() == count)"
                                ng-click="params.count(count)">
                                <a href="javascript:void(0)" ng-bind="count"></a>
                            </li>
                        </ul>
                    </span>
                    {{'records per page' | translate}}
                </span>
            </div>

            <div class="pull-right pagination">
                <ul class="pagination ng-table-pagination">

                    <li ng-class="{'disabled': !page.active && !page.current, 'active': page.current}"
                        ng-repeat="page in pages"
                        ng-switch="page.type">
                        <a ng-switch-when="prev"
                           ng-click="params.page(page.number)"
                           href="">
                            <i class="font-icon font-icon-arrow-left"></i>
                        </a>
                        <a ng-switch-when="first"
                           ng-click="params.page(page.number)"
                           href="">
                            <span ng-bind="page.number"></span>
                        </a>
                        <a ng-switch-when="page"
                           ng-click="params.page(page.number)"
                           href="">
                            <span ng-bind="page.number"></span>
                        </a>
                        <a ng-switch-when="more"
                           ng-click="params.page(page.number)"
                           href="">
                            &#8230;
                        </a>
                        <a ng-switch-when="last"
                           ng-click="params.page(page.number)"
                           href="">
                            <span ng-bind="page.number"></span>
                        </a>
                        <a ng-switch-when="next"
                           ng-click="params.page(page.number)"
                           href="">
                            <i class="font-icon font-icon-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="ng-cloak ng-table-pager table-custom-pagination text-center"
     ng-if="params.data.length == 0">
    <div class="bootstrap-table">
        <div class="fixed-table-pagination">
            <span class="no-results">
                {{ 'No matching records found' | translate }}
            </span>
        </div>
    </div>
</div>