<div>

    <a href="/rbac/permission/create"
       class="btn btn-primary list-create-btn"
       auth-can="rbac.all">
        {{'Create' | translate}}
    </a>

    <div class="box-typical table-wrapper">
        <table ng-table="permission.tableParams"
               template-pagination="/frontend/views/common/table-pagination-template.html"
               class="table table-bordered table-hover"
               show-filter="true">
            <tr ng-repeat="p in $data">
                <td title="'№'" class="td-col-8 text-center">
                    {{ ((permission.tableParams.page() - 1) * permission.tableParams.count()) + $index + 1 }}
                </td>
                <!--<td title="'Id'" filter="{ id: 'number'}" sortable="'id'">-->
                <!--{{p.id}}-->
                <!--</td>-->

                <td data-title="'Name' | translate"
                    filter="{ name: 'text'}"
                    sortable="'name'">
                    {{p.name}}
                </td>
                <td data-title="'Description' | translate"
                    filter="{ description: 'text'}"
                    sortable="'description'">
                    {{p.description}}
                </td>

                <td title="'Actions' | translate" class="td-col-20 text-center actions">
                    <a href="/rbac/permission/{{ p.name }}"
                       class="action-icon"
                       auth-can="rbac.all">
                        <i class="glyphicon glyphicon-eye-open" aria-hidden="true" title="{{'View' | translate}}"></i>
                    </a>
                    <a href="/rbac/permission/{{ p.name }}/update"
                       class="action-icon"
                       auth-can="rbac.all">
                        <i class="glyphicon glyphicon-pencil" aria-hidden="true" title="{{'Update' | translate}}"></i>
                    </a>
                    <a href=""
                       class="action-icon"
                       ng-click="permission.delete(p.name)"
                       auth-can="rbac.all">
                        <i class="glyphicon glyphicon-trash" aria-hidden="true" title="{{'Delete' | translate}}"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
