<div class="row rbac-assign-page permission-page">

    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="box-typical box-typical-padding">

            <h5 class="with-border" >{{mainController.title | translate}}</h5>

            <div class="prop-block">
                <span class="name">{{'Name' | translate}}:</span>
                {{permission.model.name}}
            </div>
            <div class="prop-block">
                <span class="name">{{'Description' | translate}}:</span>
                <span ng-if="permission.model.description">{{permission.model.description}}</span>
                <span ng-if="!permission.model.description" class="not-set">({{'Not set' | translate}})</span>
            </div>
            <div class="prop-block">
                <span class="name">{{'Rule name' | translate}}:</span>
                <span ng-if="permission.model.ruleName">{{permission.model.ruleName}}</span>
                <span ng-if="!permission.model.ruleName" class="not-set">({{'Not set' | translate}})</span>
            </div>
            <div class="prop-block">
                <span class="name">{{'Data' | translate}}:</span>
                <span ng-if="permission.model.data">{{permission.model.data}}</span>
                <span ng-if="!permission.model.data" class="not-set">({{'Not set' | translate}})</span>
            </div>

            <hr/>

            <div>
                <div class="left-block assignable-block">
                    <strong>{{'Available' | translate}}:</strong>
                    <input type="text"
                           ng-model="permission.availableFilter"
                           ng-model-options="{ debounce: 1000 }"
                           ng-change="permission.availableFilterChange()"
                           class="filter"
                           placeholder="{{'permission_filter_placeholder' | translate}}">
                    <select class="permissions-select custom-scroll"
                            ng-model="permission.availableSelected"
                            multiple>

                        <optgroup label="{{'Routes' | translate}}"
                                  ng-if="permission.available.Routes">
                            <option ng-repeat="(key, value) in permission.available.Routes"
                                    value="{{key}}">
                                {{value}}
                            </option>
                        </optgroup>

                        <optgroup label="{{'Permission' | translate}}"
                                  ng-if="permission.available.Permission">
                            <option ng-repeat="(key, value) in permission.available.Permission"
                                    value="{{key}}">
                                {{value}}
                            </option>
                        </optgroup>

                        <optgroup label="{{'Permissions' | translate}}"
                                  ng-if="permission.available.Permissions">
                            <option ng-repeat="(key, value) in permission.available.Permissions"
                                    value="{{key}}">
                                {{value}}
                            </option>
                        </optgroup>

                    </select>
                </div>
                <div class="middle-block text-center actions assignable-block">
                    <button class="btn btn-success"
                            ng-click="permission.assign()">
                        &#187;
                    </button>
                    <button class="btn btn-danger"
                            ng-click="permission.unbind()">
                        &#171;
                    </button>
                </div>
                <div class="right-block assignable-block">
                    <strong>{{'Assigned' | translate}}:</strong>
                    <input type="text"
                           ng-model="permission.assignedFilter"
                           ng-model-options="{ debounce: 1000 }"
                           ng-change="permission.assignedFilterChange()"
                           class="filter"
                           placeholder="{{'permission_filter_placeholder' | translate}}">
                    <select class="permissions-select custom-scroll"
                            ng-model="permission.assignedSelected"
                            multiple>

                        <optgroup label="{{'Routes' | translate}}"
                                  ng-if="permission.assigned.Routes">
                            <option ng-repeat="(key, value) in permission.assigned.Routes"
                                    value="{{key}}">
                                {{value}}
                            </option>
                        </optgroup>

                        <optgroup label="{{'Permission' | translate}}"
                                  ng-if="permission.assigned.Permission">
                            <option ng-repeat="(key, value) in permission.assigned.Permission"
                                    value="{{key}}">
                                {{value}}
                            </option>
                        </optgroup>

                        <optgroup label="{{'Permissions' | translate}}"
                                  ng-if="permission.assigned.Permissions">
                            <option ng-repeat="(key, value) in permission.assigned.Permissions"
                                    value="{{key}}">
                                {{value}}
                            </option>
                        </optgroup>

                    </select>
                </div>
            </div>

        </div>
    </div>
</div>