<div class="modal fade" id="changeEmploymentStatusModal"
     tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     ng-controller="employmentController as employment">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{'Change employment status' | translate}}</h4>
            </div>
            <div class="modal-body">
                <form name="employmentStatusForm" novalidate>

                    <fieldset class="form-group">
                        <label class="form-label"
                               for="status_id">
                            {{'Status' | translate}}
                        </label>

                        <select ng-model="employment.model.status"
                                name="status_id"
                                id="status_id"
                                class="form-control"
                                ng-options="status.id as (status.title | translate) for status in employment.statusesList">
                        </select>
                    </fieldset>

                    <fieldset class="form-group"
                              ng-class="{ 'form-group-error': employmentStatusForm.status_description.$invalid && employmentStatusForm.status_description.$dirty }">
                        <label class="form-label"
                               for="status_description">
                            {{'Description' | translate}}
                        </label>
                        <textarea ng-model="employment.model.status_description"
                               ng-model-options="{ debounce:300 }"
                               name="status_description"
                               id="status_description"
                               class="form-control">
                        </textarea>
                        <small class="text-muted"
                               ng-if="employmentStatusForm.status_description.$invalid && employmentStatusForm.status_description.$dirty">
                            {{'Must be valid' | translate}}
                        </small>
                    </fieldset>

                    <fieldset class="form-group"
                              ng-show="employment.model.status != employment.statuses.Free"
                              ng-class="{ 'form-group-error': employmentStatusForm.status_free_oriented_date.$invalid && employmentStatusForm.status_free_oriented_date.$dirty }">
                        <label class="form-label"
                               for="status_free_oriented_date">
                            {{'Oriented end time' | translate}}
                        </label>

                        <div class='input-group date'>
                            <input ng-model="employment.model.status_free_oriented_date"
                                   type='text'
                                   date-time-picker
                                   dtp-date-format="YYYY-MM-DD HH:mm:ss"
                                   dtp-default-date-today="true"
                                   dtp-locale="{{mainController.currentLang}}"
                                   name="status_free_oriented_date"
                                   id="status_free_oriented_date"
                                   class="form-control">
                            <!--required />-->
                            <span class="input-group-addon">
                                <i class="font-icon font-icon-calend"></i>
                            </span>
                        </div>

                        <small class="text-muted"
                               ng-if="employmentStatusForm.status_free_oriented_date.$invalid && employmentStatusForm.status_free_oriented_date.$dirty">
                            {{'Must be valid' | translate}}
                        </small>
                    </fieldset>

                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button"
                        ng-disabled="!employmentStatusForm.$valid || !employmentStatusForm.$dirty"
                        ng-click="employment.save()"
                        class="btn btn-success">
                    {{'Save' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>