<form name="form" class="row form-horizontal" novalidate>

    <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2"></div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 box-typical box-typical-padding">

        <h5 class="with-border" >{{mainController.title | translate}}</h5>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <fieldset class="form-group"
                          ng-class="{ 'form-group-error': form.name.$invalid && form.name.$dirty }">
                    <label class="form-label"
                           for="name">
                        {{'Name' | translate}}
                    </label>
                    <input ng-model="hrContact.model.name"
                           placeholder="{{'Name' | translate}}"
                           type="text"
                           pattern=".{1,255}"
                           name="name"
                           id="name"
                           class="form-control"
                           ng-readonly=hrContact.readonly>
                </fieldset>

                <fieldset class="form-group"
                          ng-class="{ 'form-group-error': form.contacts.$invalid && form.contacts.$dirty }">
                    <label class="form-label"
                           for="contacts">
                        {{'Other contacts' | translate}}
                    </label>
                    <input ng-model="hrContact.model.contacts"
                           placeholder="{{'Other contacts' | translate}}"
                           type="text"
                           pattern=".{1,255}"
                           name="contacts"
                           id="contacts"
                           class="form-control"
                           ng-readonly=hrContact.readonly>
                </fieldset>

                <fieldset class="form-group"
                          ng-class="{ 'form-group-error': form.monthly_rate.$invalid && form.monthly_rate.$dirty }">
                    <label class="form-label"
                           for="monthly_rate">
                        {{'Monthly rate' | translate}}
                    </label>
                    <input ng-model="hrContact.model.monthly_rate"
                           placeholder="{{'Monthly rate' | translate}}"
                           type="number"
                           name="monthly_rate"
                           id="monthly_rate"
                           class="form-control"
                           min="0">
                    <small class="text-muted"
                           ng-if="form.monthly_rate.$invalid && form.monthly_rate.$dirty">
                        {{'Monthly rate must be valid' | translate}}
                    </small>
                </fieldset>
                <fieldset class="form-group">
                    <label class="form-label"
                           for="english_level_id">
                        {{'English Language Level' | translate}}
                    </label>
                    <select ng-model="hrContact.model.english_level_id"
                            name="english_level_id" id="english_level_id" class="form-control"
                            ng-options="level.id as level.name for level in hrContact.englishLanguageLevels"
                            ng-disabled=hrContact.readonly>
                        <option value="">{{'Not set' | translate}}</option>
                    </select>
                </fieldset>

                <fieldset class="form-group">
                    <label class="form-label"
                           for="main_technology_id">
                        {{'Main technology' | translate}}
                    </label>
                    <select ng-model="hrContact.model.main_technology_id"
                            name="main_technology_id" id="main_technology_id" class="form-control"
                            ng-options="technology.id as technology.name for technology in hrContact.technologiesList"
                            ng-disabled=hrContact.readonly>
                        <option value="">{{'Not set' | translate}}</option>
                    </select>
                </fieldset>

                <fieldset class="form-group" ng-hide="hrContact.readonly">
                    <label class="form-label"
                           for="file1">
                        {{'Resume' | translate}}
                    </label>
                    <input type="file"
                           class="filestyle"
                           file-model="file1"
                           id="file1"
                           name="file1"/>
                </fieldset>

                <fieldset class="form-group" ng-hide="hrContact.readonly">
                    <label class="form-label"
                           for="file2">
                        {{'Remade Resume SG CV' | translate}}
                    </label>
                    <input type="file"
                           class="filestyle"
                           file-model="file2"
                           id="file2"
                           name="file2"/>
                </fieldset>


                <div ng-if="hrContact.downloadLink1">
                    {{'Resume' | translate}}:
                    <a ng-href= "{{hrContact.downloadLink1}}" target="_self" download>
                        <span class="glyphicon glyphicon-floppy-save" title="{{'Download attached file resume' | translate}}"></span>
                    </a>
                    {{hrContact.model.attached_resume_path}}
                    <a><span ng-if="hrContact.model.attached_resume_path && hrContact.update"
                            ng-click="hrContact.deleteFile1(hrContact.model.id)"
                            class="glyphicon glyphicon-remove"
                            title = "{{'Delete attached file resume' | translate}}">
                    </span></a>

                </div>

                <div ng-if="hrContact.downloadLink2">
                    {{'Remade Resume SG CV' | translate}}:
                    <a ng-href= "{{hrContact.downloadLink2}}" target="_self" download>
                        <span class="glyphicon glyphicon-floppy-save" title="{{'Download attached file remade resume' | translate}}"></span>
                    </a>
                    {{hrContact.model.attached_sg_resume_path}}
                    <a><span ng-if="hrContact.model.attached_sg_resume_path && hrContact.update"
                            ng-click="hrContact.deleteFile2(hrContact.model.id)"
                            class="glyphicon glyphicon-remove"
                            title = "{{'Delete attached file remade resume' | translate}}">
                    </span></a>
                </div>

            </div>
            <div class="col-xs-12 col-sm-6">
                <fieldset class="form-group"
                          ng-class="{ 'form-group-error': form.email.$invalid && form.email.$dirty }">
                    <label class="form-label required"
                           for="email">
                        {{'E-mail' | translate}}
                    </label>
                    <div class="form-control-wrapper form-control-icon-left">
                        <input ng-model="hrContact.model.email"
                               placeholder="{{'E-mail' | translate}}"
                               type="email"
                               pattern=".{1,255}"
                               unique-field="email"
                               unique-field-url-check="/api/hrContact/check-hr-unique-field"
                               unique-field-except="{{hrContact.oldModel.email}}"
                               ng-model-options="{ debounce: 1000 }"
                               name="email"
                               id="email"
                               class="form-control"
                               required
                               ng-readonly=hrContact.readonly>
                        <i class="fa fa-envelope"></i>
                    </div>
                    <small class="text-muted"
                           ng-if="form.email.$invalid && form.name.$dirty">
                        {{'Email is required (max length: 255)' | translate}}
                    </small>
                </fieldset>

                <fieldset class="form-group"
                          ng-class="{ 'form-group-error': form.city.$invalid && form.city.$dirty }">
                    <label class="form-label"
                           for="city">
                        {{'City' | translate}}
                    </label>
                    <input ng-model="hrContact.model.city"
                           placeholder="{{'City' | translate}}"
                           type="text"
                           pattern=".{1,255}"
                           name="city"
                           id="city"
                           class="form-control"
                           ng-readonly=hrContact.readonly>
                </fieldset>

                <fieldset class="form-group"
                          ng-class="{ 'form-group-error': form.hourly_rate.$invalid && form.hourly_rate.$dirty }">
                    <label class="form-label"
                           for="hourly_rate">
                        {{'Hourly rate' | translate}}
                    </label>
                    <input ng-model="hrContact.model.hourly_rate"
                           placeholder="{{'Hourly rate' | translate}}"
                           type="number"
                           name="hourly_rate"
                           id="hourly_rate"
                           class="form-control"
                           min="0">
                    <small class="text-muted"
                           ng-if="form.hourly_rate.$invalid && form.hourly_rate.$dirty">
                        {{'Hourly rate must be valid' | translate}}
                    </small>
                </fieldset>

                <fieldset class="form-group"
                          ng-class="{ 'form-group-error': form.years.$invalid && form.years.$dirty }">
                    <label class="form-label"
                           for="years">
                        {{'Years experience' | translate}}
                    </label>
                    <input ng-model="hrContact.model.years"
                           placeholder="{{'Years experience' | translate}}"
                           type="number"
                           name="years"
                           id="years"
                           class="form-control"
                           min="0">
                    <small class="text-muted"
                           ng-if="form.years.$invalid && form.years.$dirty">
                        {{'Years experience must be valid' | translate}}
                    </small>
                </fieldset>

                <fieldset class="form-group">
                    <label class="form-label">
                        {{'Additional technologies' | translate}}
                    </label>
                    <div class="list-checkboxes">
                        <div class="checkbox-bird grey" ng-repeat="technology in hrContact.technologiesList">
                            <input type="checkbox"
                                   id="technology-{{technology}}"
                                   name="technologiesIds[]"
                                   checklist-model="hrContact.model.technologiesIds"
                                   checklist-value="technology.id"/>
                            <label for="technology-{{technology}}">{{technology.name}}</label>
                        </div>
                    </div>
                </fieldset>

            </div>
        </div>


        <div class="row text-center">

            <button ng-if="hrContact.action == hrContact.actions.UPDATE"
                    ng-click="hrContact.update()"
                    ng-disabled="!form.$valid"
                    class="btn btn-primary">
                {{ hrContact.action | translate }}
            </button>

            <button ng-if="hrContact.action == hrContact.actions.CREATE"
                    ng-click="hrContact.create()"
                    ng-disabled="!form.$valid"
                    class="btn btn-success">
                {{ hrContact.action | translate }}
            </button>

        </div>

    </div>

    <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2"></div>

</form>

