<div>
    <a href="/hrContact/create" class="btn btn-primary">{{'Create' | translate}}</a>
    <br/><br/>

    <div class="box-typical table-wrapper">
        <table ng-table="hrContact.tableParams"
               template-pagination="/frontend/views/common/table-pagination-template.html"
               class="table table-bordered table-hover"
               show-filter="true">
            <tr ng-repeat="t in $data">
                <td title="'№'"
                    class="td-col-5 text-center">
                    {{ ((hrContact.tableParams.page() - 1) * hrContact.tableParams.count()) + $index + 1 }}
                </td>
                <td class="td-col-10"
                    data-title="'Name' | translate"
                    filter="{ name: 'text'}"
                    sortable="'name'">
                    <span ng-if="t.name">
                        {{t.name}}
                    </span>
                    <span ng-if="!t.name"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>
                <td class="td-col-10"
                    data-title="'E-mail' | translate"
                    filter="{ email: 'text'}"
                    sortable="'email'">
                    <span ng-if="t.email">
                        {{t.email}}
                    </span>
                    <span ng-if="!t.email"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>
                <td class="td-col-10"
                    data-title="'Other contacts' | translate"
                    filter="{ contacts: 'text'}"
                    sortable="'contacts'">
                    <span ng-if="t.contacts">
                        {{t.contacts}}
                    </span>
                    <span ng-if="!t.contacts"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>

                <td class="td-col-10"
                    data-title="'Main technology' | translate"
                    filter="{ mainTechnologyAsString: 'select'}"
                    filter-data="hrContact.getTechnologiesFilter()"
                    sortable="'mainTechnologyAsString'">
                    <span ng-if="t.mainTechnology.name">
                        {{t.mainTechnology.name}}
                    </span>
                    <span ng-if="!t.mainTechnology.name"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>
                <td class="td-col-10"
                    data-title="'Additional technologies' | translate"
                    filter="{ technologiesAsString: 'select' }"
                    filter-data="hrContact.getTechnologiesTextFilter()">
                    <span ng-if="t.technologiesAsString">
                        {{t.technologiesAsString}}
                    </span>
                    <span ng-if="!t.technologiesAsString"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>

                <td class="td-col-10"
                    data-title="'Years experience' | translate"
                    filter="{ years: 'text'}"
                    sortable="'years'">
                    <span ng-if="t.years">
                        {{t.years}}
                    </span>
                    <span ng-if="!t.years"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>

                <td class="td-col-10"
                    data-title="'Resume' | translate"
                    filter="{ attached_resume_path: 'text'}"
                    sortable="'attached_resume_path'">
                    <span ng-if="t.attached_resume_path">
                        <a ng-href= "/backend/web/uploads/hr/resumes/{{t.id}}/{{t.attached_resume_path}}"
                           target="_self"
                           download>
                            {{t.attached_resume_path}}
                        </a>
                    </span>
                    <span ng-if="!t.attached_resume_path"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>
                <td class="td-col-10"
                    data-title="'Remade Resume SG CV' | translate"
                    filter="{ attached_sg_resume_path: 'text'}"
                    sortable="'attached_sg_resume_path'">
                    <span ng-if="t.attached_sg_resume_path">
                        <a ng-href= "/backend/web/uploads/hr/resumessg/{{t.id}}/{{t.attached_sg_resume_path}}"
                           target="_self"
                           download>
                            {{t.attached_sg_resume_path}}
                        </a>
                    </span>
                    <span ng-if="!t.attached_sg_resume_path"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>

                <td class="td-col-10 actions"
                    data-title="'Created by' | translate"
                    filter="{ createdByName: 'select' }"
                    filter-data="hrContact.getUsersFilter()"
                    sortable="'createdByName'">
                    <span class="user-item">
                        <a href="/user/{{t.creator.id}}">
                            <img class="user-image" src="{{t.creator.profile.profileImageFullPath}}">
                            {{t.creator.fullName}}
                        </a>
                    </span>
                </td>

                <td class="td-col-5 text-center actions"
                    title="'Actions' | translate">
                    <a href="/hrContact/{{ t.id }}"
                       class="action-icon"
                       auth-can="hrContact.read">
                        <i class="glyphicon glyphicon-eye-open"
                           aria-hidden="true"
                           title="{{'View' | translate}}">
                        </i>
                    </a>
                    <a href="/hrContact/{{ t.id }}/update"
                       class="action-icon"
                       auth-can="hrContact.update">
                        <i class="glyphicon glyphicon-pencil"
                           aria-hidden="true"
                           title="{{'Update' | translate}}">
                        </i>
                    </a>
                    <a href=""
                       class="action-icon"
                       ng-click="hrContact.delete(t.id)"
                       auth-can="hrContact.delete">
                        <i class="glyphicon glyphicon-trash"
                           aria-hidden="true"
                           title="{{'Delete' | translate}}">
                        </i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>