<form name="form" class="row form-horizontal" novalidate>

    <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2"></div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 box-typical box-typical-padding">

        <div class="card-typical-section">
            <div class="user-card-row">
                <div class="tbl-row">
                    <div class="tbl-cell tbl-cell-photo">
                        <a href="/user/{{hrContact.model.creator.id}}">
                            <img src="{{hrContact.model.creator.profile.profileImageFullPath}}" alt="">
                        </a>
                    </div>
                    <div class="tbl-cell">
                        <p class="user-card-row-name">
                            <a href="/user/{{hrContact.model.creator.id}}">{{hrContact.model.creator.fullName}}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="project-info">
                    <ul class="profile-links-list">
                        <li class="nowrap">
                            <span class="title">{{'Name' | translate}}:</span>
                            <span class="content">{{hrContact.model.name}}</span>
                        </li>
                        <li class="nowrap">
                            <span class="title">{{'Other contacts' | translate}}:</span>
                            <span class="content">{{hrContact.model.contacts}}</span>
                        </li>
                        <li class="nowrap">
                            <span class="title">{{'Monthly rate' | translate}}:</span>
                            <span class="content">{{hrContact.model.monthly_rate}}</span>
                        </li>
                        <li class="nowrap">
                            <span class="title">{{'English Language Level' | translate}}:</span>
                            <span class="content">{{hrContact.model.englishLevel.name}}</span>
                        </li>
                        <li class="nowrap">
                            <span class="title">{{'Main technology' | translate}}:</span>
                            <span class="content">{{hrContact.model.mainTechnology.name}}</span>
                        </li>
                        <li class="nowrap" ng-if="hrContact.downloadLink1">
                            <span class="title">{{'Resume' | translate}}:</span>
                            <span class="content">
                                <a ng-href= "{{hrContact.downloadLink1}}" target="_self" download>
                                    <span class="glyphicon glyphicon-floppy-save" title="{{'Download attached file resume' | translate}}"></span>
                                </a>
                                {{hrContact.model.attached_resume_path}}
                                <a><span ng-if="hrContact.model.attached_resume_path && hrContact.update"
                                         ng-click="hrContact.deleteFile1(hrContact.model.id)"
                                         class="glyphicon glyphicon-remove"
                                         title = "{{'Delete attached file resume' | translate}}">
                                </span></a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="project-info">
                    <ul class="profile-links-list">
                        <li class="nowrap">
                            <span class="title">{{'E-mail' | translate}}:</span>
                            <span class="content">{{hrContact.model.email}}</span>
                        </li>
                        <li class="nowrap">
                            <span class="title">{{'City' | translate}}:</span>
                            <span class="content">{{hrContact.model.city}}</span>
                        </li>
                        <li class="nowrap">
                            <span class="title">{{'Hourly rate' | translate}}:</span>
                            <span class="content">{{hrContact.model.hourly_rate}}</span>
                        </li>
                        <li class="nowrap">
                            <span class="title">{{'Years experience' | translate}}:</span>
                            <span class="content">{{hrContact.model.years}}</span>
                        </li>
                        <li class="nowrap">
                            <span class="title">{{'Additional technologies' | translate}}:</span>
                            <span class="content">{{hrContact.model.technologiesAsString}}</span>
                        </li>
                        <li class="nowrap" ng-if="hrContact.downloadLink2">
                            <span class="title">{{'Remade Resume SG CV' | translate}}:</span>
                            <span class="content">
                                <a ng-href= "{{hrContact.downloadLink2}}" target="_self" download>
                                    <span class="glyphicon glyphicon-floppy-save" title="{{'Download attached file remade resume' | translate}}"></span>
                                </a>
                                {{hrContact.model.attached_sg_resume_path}}
                                <a><span ng-if="hrContact.model.attached_sg_resume_path && hrContact.update"
                                         ng-click="hrContact.deleteFile2(hrContact.model.id)"
                                         class="glyphicon glyphicon-remove"
                                         title = "{{'Delete attached file remade resume' | translate}}">
                                </span></a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row text-center">

            <button ng-if="hrContact.action == hrContact.actions.UPDATE"
                    ng-click="hrContact.update()"
                    ng-disabled="!form.$valid"
                    class="btn btn-primary">
                {{ hrContact.action | translate }}
            </button>

            <button ng-if="hrContact.action == hrContact.actions.CREATE"
                    ng-click="hrContact.create()"
                    ng-disabled="!form.$valid"
                    class="btn btn-success">
                {{ hrContact.action | translate }}
            </button>

        </div>

    </div>

    <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2"></div>

</form>

