<div class="modal fade" id="createDialogModal"
     tabindex="-1" role="dialog"
     aria-labelledby="createDialogModalLabel"
     ng-controller="createDialogController as createDialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="createDialogModalLabel">{{'Create new dialog' | translate}}</h4>
            </div>
            <div class="modal-body">
                <form name="newDialogForm" novalidate>

                    <div class="form-group custom-typeahead"
                         ng-if="!createDialog.model.userId">
                        <div class="input-group">
                            <input type="text"
                                   ng-model="createDialog.newDialogFirstParticipant"
                                   ng-model-options="{ debounce: 500 }"
                                   placeholder="{{'Choose user from list' | translate}}"
                                   uib-typeahead="user as user.fullName for user in createDialog.getOtherUsersByName($viewValue)"
                                   typeahead-popup-template-url="/frontend/views/common/typeahead-popup-template.html"
                                   class="form-control">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-search"></span>
                            </div>
                        </div>
                    </div>

                    <fieldset class="form-group">
                        <label class="form-label"
                               for="subject">
                            {{'Subject' | translate}}
                        </label>
                        <input ng-model="createDialog.model.subject"
                               name="subject"
                               id="subject"
                               class="form-control"
                               required />
                    </fieldset>

                    <fieldset class="form-group">
                        <label class="form-label"
                               for="message">
                            {{'Message' | translate}}
                        </label>
                        <textarea ng-model="createDialog.model.message"
                                  name="message"
                                  id="message"
                                  class="form-control"
                                  required />
                        </textarea>
                    </fieldset>

                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button"
                        ng-click="createDialog.create()"
                        class="btn btn-success">
                    {{'Save' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>