<div class="row">
    <div class="col-xl-6">
        <section class="box-typical chart-statistic-box">
            <div class="box-typical-body">
                <div class="welcome-page-box-info text-center">
                    <div class="profile-card">
                        <div class="profile-card-photo">
                            <img src="{{home.user.profile.profileImageFullPath}}" alt="Profile image"/>
                        </div>
                        <div class="profile-card-name">
                            {{home.greetingMessage | translate}}, <span class="color-lime">{{home.user.profile.first_name}} {{home.user.profile.middle_name}}</span>!
                        </div>
                        <div class="font-weight-600 color-yellow">{{home.user.rolesAsString}}</div>
                        <div class="divider-top-15"></div>
                        <div>
                            <span class="font-weight-600 color-blue">{{'Your english language level' | translate}}</span>
                            <span ng-if="home.user.profile.englishLanguageLevel">
                                {{home.user.profile.englishLanguageLevelAsString}}
                            </span>
                            <span ng-if="!home.user.profile.englishLanguageLevel" class="not-set">
                                ({{'Not set' | translate}})
                            </span>
                        </div>
                        <div><span class="font-weight-600 color-blue">{{'Status' | translate}}</span> <span class="label label-success">Active</span></div>
                        <div auth-can="user.hasRating">
                            <span class="font-weight-600 color-blue">
                                {{'Your rating/welcome_page' | translate}} <span class="color-yellow">{{home.user.profile.rankAsString | lowercase}}</span> {{'developer rating/welcome_page' | translate}}
                            </span>
                            {{home.user.profile.rating}} / 10
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-xl-6">
        <div class="row">
            <div class="col-sm-6" auth-not-can="complaint.read">
                <article class="statistic-box">
                    <div>
                        <section class="widget widget-time aquamarine">
                            <header class="widget-header-dark with-btn">
                                Time is Money!
                            </header>
                            <div class="widget-time-content">
                                <div class="count-item">
                                    <div class="count-item-number">{{home.theHours}}</div>
                                    <div class="count-item-caption">hour</div>
                                </div>
                                <div class="count-item divider">:</div>
                                <div class="count-item">
                                    <div class="count-item-number">{{home.theMins}}</div>
                                    <div class="count-item-caption">min</div>
                                </div>
                                <div class="count-item divider">:</div>
                                <div class="count-item">
                                    <div class="count-item-number">{{home.theSecs}}</div>
                                    <div class="count-item-caption">sec</div>
                                </div>
                            </div>
                        </section><!--.widget-time-->
                    </div>
                </article>
            </div>

            <div class="col-sm-6" auth-can="complaint.read">
                <article class="statistic-box red">
                    <div>
                        <div class="number">{{home.openedComplaintsCount}}</div>
                        <div class="caption"><div>{{'Open complaints' | translate}}</div></div>
                    </div>
                </article>
            </div><!--.col-->
            <div class="col-sm-6" auth-can="ticket.read">
                <article class="statistic-box purple">
                    <div>
                        <div class="number">{{home.openedReceivedTicketsCount}}</div>
                        <div class="caption"><div>{{'Open tickets' | translate}}</div></div>
                    </div>
                </article>
            </div><!--.col-->
            <div class="col-sm-6" auth-can="news.read">
                <article class="statistic-box yellow">
                    <div>
                        <div class="number">{{home.unreadNewsCount}}</div>
                        <div class="caption"><div>{{'Unread important news' | translate}}</div></div>
                    </div>
                </article>
            </div><!--.col-->
            <div class="col-sm-6" auth-can="project.read">
                <article class="statistic-box green">
                    <div>
                        <div class="number">{{home.invaluableProjectsCount}}</div>
                        <div class="caption"><div>{{'Active projects' | translate}}</div></div>
                    </div>
                </article>
            </div><!--.col-->
        </div><!--.row-->
    </div><!--.col-->
</div><!--.row-->

<div class="row">
    <div class="col-xl-6" auth-can="ticket.read">
        <section class="box-typical box-typical-dashboard">
            <header class="box-typical-header">
                <div class="tbl-row">
                    <div class="tbl-cell tbl-cell-title">
                        <h3>{{ 'Recent received tickets' | translate }}</h3>
                    </div>
                    <div class="tbl-cell tbl-cell-actions dropdown-menu-notif-more">
                        <a href="/receivedTickets"
                           class="action-btn action-btn-expand"
                           title="{{ 'See more' | translate }}"
                           auth-can="ticket.read">
                            <i class="font-icon font-icon-list-square"></i>
                        </a>
                    </div>
                </div>
            </header>
            <div class="box-typical-body">
                <table class="tbl-typical">
                    <tr>
                        <th><div>{{'Status' | translate}}</div></th>
                        <th><div>{{'Title' | translate}}</div></th>
                        <th><div>{{'Priority' | translate}}</div></th>
                        <th><div class="text-center">{{'Created at' | translate}}</div></th>
                        <th><div>&nbsp;</div></th>
                    </tr>
                    <tr ng-if="home.tickets.length > 0" ng-repeat="t in home.tickets">
                        <td>
                            <span class="label label-{{t.statusAsObject.labelName}}">
                                {{ t.statusAsObject.name | translate}}
                            </span>
                        </td>
                        <td>{{t.title}}</td>
                        <td>
                            <span class="label label-{{t.priorityAsObject.labelName}}">
                                {{ t.priorityAsObject.name | translate}}
                            </span>
                        </td>
                        <td nowrap class="text-center">
                            {{t.created_at}}
                            <i class="font-icon gray-icon font-icon-clock"></i>
                        </td>
                        <td>
                            <a href="/ticket/{{ t.id }}" class="action-icon" auth-can="ticket.read">
                                <i class="glyphicon glyphicon-eye-open" aria-hidden="true" title="{{'View' | translate}}"></i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-if="home.tickets.length == 0">
                        <td colspan="4">
                            {{'You have no tickets' | translate}}
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </div>

    <div class="col-xl-6" auth-can="news.read">
        <section class="box-typical box-typical-dashboard">
            <header class="box-typical-header">
                <div class="tbl-row">
                    <div class="tbl-cell tbl-cell-title">
                        <h3>{{ 'Latest news' | translate }}</h3>
                    </div>
                    <div class="tbl-cell tbl-cell-actions">
                        <a href="/news-list"
                           class="action-btn action-btn-expand"
                           title="{{ 'See more' | translate }}"
                           auth-can="news.read">
                            <i class="font-icon font-icon-list-square"></i>
                        </a>
                    </div>
                </div>
            </header>
            <div class="box-typical-body">
                <table class="tbl-typical">
                    <tr>
                        <th colspan="2" class="text-center"><div>{{'Title' | translate}}</div></th>
                        <th><div>{{'Excerpt' | translate}}</div></th>
                        <th><div class="text-center">{{'Created at' | translate}}</div></th>
                        <th><div>&nbsp;</div></th>
                    </tr>
                    <tr ng-if="home.news.length > 0" ng-repeat="n in home.news">
                        <td class="text-center">
                            <div ng-if="n.type == home.types.Important"
                                 ng-class="{ 'icon-danger':  n.isUnread, 'icon-primary' : !n.isUnread }">
                                <i class="font-icon glyphicon glyphicon-exclamation-sign"></i>
                            </div>
                        </td>
                        <td>
                            {{n.title}}
                        </td>
                        <td ng-bind-html="n.excerpt"></td>
                        <td nowrap class="text-center">
                            {{n.created_at}}
                            <i class="font-icon gray-icon font-icon-clock"></i>
                        </td>
                        <td>
                            <a href="/news/{{ n.id }}" class="action-icon" auth-can="news.read">
                                <i class="glyphicon glyphicon-eye-open" aria-hidden="true" title="{{'View' | translate}}"></i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-if="home.news.length == 0">
                        <td colspan="4">
                            {{'Any news for you' | translate}}
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-xl-6" auth-can="complaint.read">
        <section class="box-typical box-typical-dashboard">
            <header class="box-typical-header">
                <div class="tbl-row">
                    <div class="tbl-cell tbl-cell-title">
                        <h3>{{ 'Recent complaints' | translate }}</h3>
                    </div>
                    <div class="tbl-cell tbl-cell-actions">
                        <a href="/complaints"
                           class="action-btn action-btn-expand"
                           title="{{ 'See more' | translate }}"
                           auth-can="news.read">
                            <i class="font-icon font-icon-list-square"></i>
                        </a>
                    </div>
                </div>
            </header>
            <div class="box-typical-body">
                <table class="tbl-typical">
                    <tr>
                        <th><div>{{'Status' | translate}}</div></th>
                        <th><div>{{'Who' | translate}}</div></th>
                        <th><div>{{'Whom' | translate}}</div></th>
                        <th><div>{{'Reason' | translate}}</div></th>
                        <th><div class="text-center">{{'Created at' | translate}}</div></th>
                        <th><div>&nbsp;</div></th>
                    </tr>
                    <tr ng-if="home.complaints.length > 0" ng-repeat="c in home.complaints">
                        <td>
                            <span class="label"
                                  ng-class="(c.status == home.complaintStatuses.New) ? 'label-warning' : 'label-success'">
                                {{c.statusAsString + '_complaint' | translate}}
                            </span>
                        </td>
                        <td>
                            <span class="user-item">
                                <a href="/user/{{c.who.id}}">
                                    <img class="user-image" src="{{c.who.profile.profileImageFullPath}}">
                                    {{c.whoFullName}}
                                </a>
                            </span>
                        </td>
                        <td>
                            <span class="user-item">
                                <a href="/user/{{c.whom.id}}">
                                    <img class="user-image" src="{{c.whom.profile.profileImageFullPath}}">
                                    {{c.whomFullName}}
                                </a>
                            </span>
                        </td>
                        <td>{{c.reason}}</td>
                        <td nowrap class="text-center">
                            {{c.date}}
                            <i class="font-icon gray-icon font-icon-clock"></i>
                        </td>
                        <td>
                            <a href="/complaint/{{ c.id }}/update" class="action-icon" auth-can="complaint.read">
                                <i class="glyphicon glyphicon-eye-open" aria-hidden="true" title="{{'View' | translate}}"></i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-if="home.complaints.length == 0">
                        <td colspan="4">
                            {{'No complaints found' | translate}}
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </div>

    <div class="col-xl-6" auth-can="project.read">
        <section class="box-typical box-typical-dashboard">
            <header class="box-typical-header">
                <div class="tbl-row">
                    <div class="tbl-cell tbl-cell-title">
                        <h3>{{ 'Latest projects' | translate }}</h3>
                    </div>
                    <div class="tbl-cell tbl-cell-actions">
                        <a href="/projects"
                           class="action-btn action-btn-expand"
                           title="{{ 'See more' | translate }}"
                           auth-can="project.read">
                            <i class="font-icon font-icon-list-square"></i>
                        </a>
                    </div>
                </div>
            </header>
            <div class="box-typical-body">
                <table class="tbl-typical">
                    <tr>
                        <th><div>{{'Status' | translate}}</div></th>
                        <th><div>{{'Title' | translate}}</div></th>
                        <th><div>{{'Author of the project' | translate}}</div></th>
                        <th><div>{{'Technologies' | translate}}</div></th>
                        <th><div class="text-center">{{'Created at' | translate}}</div></th>
                        <th><div>&nbsp;</div></th>
                    </tr>
                    <tr ng-if="home.projects.length > 0" ng-repeat="p in home.projects">
                        <td>
                            <span class="label label-{{p.statusAsObject.labelName}}">
                                {{ p.statusAsObject.name | translate}}
                            </span>
                        </td>
                        <td>
                            {{p.title}}
                        </td>
                        <td>
                            <span class="user-item">
                                <a href="/user/{{p.author.id}}">
                                <img class="user-image" src="{{p.author.profile.profileImageFullPath}}">
                                    {{p.author.fullName}}
                                </a>
                            </span>
                        </td>
                        <td>
                            <span ng-if="p.technologies.length != 0">
                                <span ng-repeat="technology in p.technologies" class="label label-default m-r-sm">
                                    {{technology.name}}
                                </span>
                            </span>
                            <span ng-if="p.technologies.length == 0" class="not-set">
                                ({{'Not set' | translate}})
                            </span>
                        </td>
                        <td nowrap class="text-center">
                            {{p.publish_date}}
                            <i class="font-icon gray-icon font-icon-clock"></i>
                        </td>
                        <td>
                            <a href="/project/{{ p.id }}" class="action-icon" auth-can="project.read">
                                <i class="glyphicon glyphicon-eye-open" aria-hidden="true" title="{{'View' | translate}}"></i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-if="home.projects.length == 0">
                        <td colspan="4">
                            {{'No projects found' | translate}}
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</div>