<div ng-include="'views/modules/dialog/dialog/modals/createDialogModal.html'"
     auth-can="user.canSendMessage"></div>
<div>

    <div ng-include="'views/modules/complaint/complaint/modals/createComplaintModal.html'"
         auth-can="user.canComplain">
    </div>

    <a href="/user/create"
       class="btn btn-primary list-create-btn"
       auth-can="user.create">
        {{'Create' | translate}}
    </a>

    <div class="box-typical table-wrapper">
        <div class="dropdown table-columns-dropdown">
            <span class="icon glyphicon glyphicon-th-list "
                  data-toggle="dropdown"
                  title="{{'Columns' | translate}}"></span>
            <ul class="dropdown-menu dropdown-menu-right keep-open-on-click">

                <!--<li ng-repeat="col in user.columns">-->
                <!--<label class="checkbox-inline">-->
                <!--<input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="col.show"/> {{col.title()}}-->
                <!--</label>-->
                <!--</li>-->

                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox"
                               ng-model-options="{ getterSetter: true }"
                               ng-model="user.columns[0].show"/>
                        {{user.columns[0].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox"
                               ng-model-options="{ getterSetter: true }"
                               ng-model="user.columns[1].show"/>
                        {{user.columns[1].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox"
                               ng-model-options="{ getterSetter: true }"
                               ng-model="user.columns[2].show"/>
                        {{user.columns[2].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox"
                               ng-model-options="{ getterSetter: true }"
                               ng-model="user.columns[3].show"/>
                        {{user.columns[3].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox"
                               ng-model-options="{ getterSetter: true }"
                               ng-model="user.columns[4].show"/>
                        {{user.columns[4].title()}}
                    </label>
                </li>
                <!-- monthly rate field -->
                <!--<li auth-can="user.canReadSalaryRate">-->
                    <!--<label class="checkbox-inline">-->
                        <!--<input type="checkbox"-->
                               <!--ng-model-options="{ getterSetter: true }"-->
                               <!--ng-model="user.columns[5].show"/>-->
                        <!--{{user.columns[5].title()}}-->
                    <!--</label>-->
                <!--</li>-->
                <li auth-can="user.canReadSalaryRate">
                    <label class="checkbox-inline">
                        <input type="checkbox"
                               ng-model-options="{ getterSetter: true }"
                               ng-model="user.columns[5].show"/>
                        {{user.columns[5].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox"
                               ng-model-options="{ getterSetter: true }"
                               ng-model="user.columns[6].show"/>
                        {{user.columns[6].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox"
                               ng-model-options="{ getterSetter: true }"
                               ng-model="user.columns[7].show"/>
                        {{user.columns[7].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox"
                               ng-model-options="{ getterSetter: true }"
                               ng-model="user.columns[6].show"/>
                        {{user.columns[8].title()}}
                    </label>
                </li>
            </ul>
        </div>
        <table ng-table="user.tableParams"
               ng-table-columns-binding="user.columns"
               template-pagination="/frontend/views/common/table-pagination-template.html"
               class="table table-bordered table-hover"
               show-filter="true">
            <tr ng-repeat="u in $data">
                <td title="'№'"
                    class="td-col-3 text-center"
                    ng-if="true">
                    {{ ((user.tableParams.page() - 1) * user.tableParams.count()) + $index + 1 }}
                </td>
                <td data-title="'Full name' | translate"
                    filter="{ fullName: 'text'}"
                    sortable="'fullName'"
                    class="actions"
                    ng-if="true">
                    <a href="/user/{{u.id}}">
                        <img class="user-image"
                             src="{{u.profile.profileImageFullPath}}">
                        {{u.extendedName}}
                    </a>
                </td>
                <td data-title="'Roles' | translate"
                    filter="{ role: 'select'}"
                    filter-data="user.getRolesFilter()"
                    ng-if="true">
                    {{u.rolesAsString}}
                </td>
                <td data-title="'Rank' | translate"
                    filter="{ rank: 'select'}"
                    filter-data="user.getRanksFilter()"
                    sortable="'rank'"
                    ng-if="true">
                    <span ng-if="u.profile.rank">
                        {{u.profile.rank.name}}
                    </span>
                    <span ng-if="!u.profile.rank"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>
                <td data-title="'Departments' | translate"
                    filter="{ departmentsIds: '/frontend/views/common/multi-select-template.html' }"
                    filter-data="user.getDepartmensFilter()"
                    ng-if="true">
                    <span ng-if="u.departmentsAsString">
                        {{u.departmentsAsString}}
                    </span>
                    <span ng-if="!u.departmentsAsString"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>
                <!--<td data-title="'Department' | translate"-->
                    <!--filter="{ department: 'select'}"-->
                    <!--filter-data="user.getDepartmensFilter()"-->
                    <!--sortable="'department'"-->
                    <!--ng-if="true">-->
                    <!--<span ng-if="u.departmentsAsString">-->
                        <!--{{u.departmentsAsString}}-->
                    <!--</span>-->
                    <!--<span ng-if="!u.departmentsAsString"-->
                          <!--class="not-set">-->
                        <!--({{'Not set' | translate}})-->
                    <!--</span>-->
                <!--</td>-->
                <!-- monthly rate field -->
                <!--<td data-title="'Monthly rate' | translate"-->
                    <!--class="td-col-10"-->
                    <!--filter="{ monthlyRate: 'text'}"-->
                    <!--ng-if="user.columns[5].show && user.can('user.canReadSalaryRate')">-->
                    <!--{{u.profile.monthlyRateAsString}}-->
                <!--</td>-->
                <td data-title="'Internal hourly rate' | translate"
                    class="td-col-10"
                    filter="{ internalHourlyRate: 'text'}"
                    ng-if="user.columns[6].show && user.can('user.canReadSalaryRate')">
                    {{u.profile.internalHourlyRateAsString}}
                </td>
                <td data-title="'External hourly rate' | translate"
                    class="td-col-10"
                    filter="{ externalHourlyRate: 'text'}"
                    ng-if="user.columns[7].show && user.can('user.canReadSalaryRate')">
                    {{u.profile.externalHourlyRateAsString}}
                </td>
                <td data-title="'Rating' | translate"
                    class="td-col-5 text-center"
                    filter="{ rating: 'text'}"
                    sortable="'rating'"
                    ng-if="true">
                    {{u.profile.rating}}
                </td>
                <td data-title="'Employment' | translate"
                    filter="{ employmentStatus: 'select'}"
                    filter-data="user.getEmploymentStatusFilter()"
                    sortable="'employmentStatus'"
                    class="text-center td-col-10"
                    ng-if="true">

                    <span ng-if="!u.profile.status"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>

                    <span ng-if="(u.profile.status) && (u.profile.status != user.employmentStatuses.Free)"
                          title="{{'Oriented end time' | translate}}: {{(u.profile.status_free_oriented_date) ? u.profile.status_free_oriented_date : 'Not set' | translate}}"
                          class="label label-primary">
                        {{u.profile.statusAsString | translate}}
                    </span>

                    <span ng-if="(u.profile.status == user.employmentStatuses.Free) && (u.profile.lastFreeDaysCount <= 7)"
                          title="{{'Free' | translate}}"
                          class="label label-success">
                        {{u.profile.statusAsString | translate}}
                    </span>

                    <span ng-if="(u.profile.status == user.employmentStatuses.Free) && (u.profile.lastFreeDaysCount > 7) && (u.profile.lastFreeDaysCount <= 14)"
                          title="{{'Free for more than one week' | translate}}"
                          class="label label-warning">
                        {{u.profile.statusAsString | translate}}
                    </span>

                    <span ng-if="(u.profile.status == user.employmentStatuses.Free) && (u.profile.lastFreeDaysCount > 14)"
                          title="{{'Free for more than two weeks' | translate}}"
                          class="label label-danger">
                        {{u.profile.statusAsString | translate}}
                    </span>

                </td>
                <td title="'Actions' | translate"
                    class="td-col-10 text-center actions"
                    ng-if="true">
                    <a href="/user/{{ u.id }}"
                       class="action-icon"
                       auth-can="user.read">
                        <i class="glyphicon glyphicon-eye-open"
                           aria-hidden="true"
                           title="{{'View' | translate}}">
                        </i>
                    </a>
                    <a href="/user/{{ u.id }}/update"
                       class="action-icon"
                       auth-can="user.update">
                        <i class="glyphicon glyphicon-pencil"
                           aria-hidden="true"
                           title="{{'Update' | translate}}">
                        </i>
                    </a>
                    <a href=""
                       class="action-icon"
                       ng-click="user.delete(u.id)"
                       auth-can="user.delete">
                        <i class="glyphicon glyphicon-trash" aria-hidden="true" title="{{'Delete' | translate}}"></i>
                    </a>
                    <a href=""
                       class="action-icon"
                       ng-click="user.writeMessage(u.id)"
                       ng-show="user.currentUser.id != u.id"
                       auth-can="user.canSendMessage">
                        <i class="glyphicon glyphicon-envelope additional"
                           aria-hidden="true"
                           title="{{'Message' | translate}}">
                        </i>
                    </a>
                    <a href=""
                       ng-click="user.openComplainModal(u.id)"
                       ng-show="user.currentUser.id != u.id"
                       class="action-icon"
                       auth-can="user.canComplain">
                        <i class="glyphicon glyphicon-exclamation-sign additional"
                           aria-hidden="true"
                           title="{{'Complain' | translate}}">
                        </i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>