<!-- New billing card modal -->
<div class="modal fade" id="newBillingCardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <form name="newCardForm" novalidate>
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{'Add card' | translate}}</h4>
                </div>
                <div class="modal-body">

                    <fieldset class="form-group"
                              ng-class="{ 'form-group-error': newCardForm.new_billing_card_number.$invalid && newCardForm.new_billing_card_number.$dirty }">
                        <label class="form-label"
                               for="new_billing_card_number">
                            {{'Number' | translate}}
                        </label>
                        <input ng-model="user.newBillingCard.number"
                               type="text"
                               pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}"
                               unique-field="number"
                               unique-field-url-check="/api/billingCard/check-billing-card-unique-field"
                               ng-model-options="{ debounce: 1000 }"
                               name="new_billing_card_number"
                               id="new_billing_card_number"
                               class="form-control"
                               required>
                        <small class="text-muted"
                               ng-if="newCardForm.new_billing_card_number.$invalid && newCardForm.new_billing_card_number.$dirty">
                            {{'Number is required and must be an unique' | translate}}
                        </small>
                    </fieldset>

                    <fieldset class="form-group"
                              ng-class="{ 'form-group-error': newCardForm.new_billing_card_currency_id.$invalid && newCardForm.new_billing_card_currency_id.$dirty }">
                        <label class="form-label"
                               for="new_billing_card_currency_id">
                            {{'Currency' | translate}}
                        </label>
                        <select ng-model="user.newBillingCard.currency_id"
                                name="new_billing_card_currency_id"
                                id="new_billing_card_currency_id"
                                class="form-control"
                                ng-options="currency.id as currency.name for currency in user.newCardCurrencies">
                        </select>
                        <small class="text-muted"
                               ng-if="newCardForm.new_billing_card_currency_id.$invalid && newCardForm.new_billing_card_currency_id.$dirty">
                            {{'Currency is required' | translate}}
                        </small>
                    </fieldset>

                    <fieldset class="form-group"
                              ng-class="{ 'form-group-error': newCardForm.new_billing_card_expiration_date.$invalid && newCardForm.new_billing_card_expiration_date.$dirty }">
                        <label class="form-label"
                               for="new_billing_card_expiration_date">
                            {{'Expiration date' | translate}}
                        </label>
                        <input ng-model="user.newBillingCard.expiration_date"
                               type="text"
                               pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                               date-valid
                               name="new_billing_card_expiration_date"
                               id="new_billing_card_expiration_date"
                               class="form-control"
                               required />
                        <small class="text-muted"
                               ng-if="newCardForm.new_billing_card_expiration_date.$invalid && newCardForm.new_billing_card_expiration_date.$dirty">
                            {{'Expiration date is required and must be valid' | translate}}
                        </small>
                    </fieldset>

                    <div class="text-center">
                        <button class="btn btn-success"
                                ng-disabled="!newCardForm.$valid || !newCardForm.$dirty"
                                ng-click="user.addNewBillingCard()">
                            <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                            {{ 'Add' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<form name="form" class="row form-horizontal user-form" novalidate>

    <div class="col-md-0 col-lg-1"></div>

    <div class="col-md-12 col-lg-10 box-typical box-typical-padding">

        <h5>{{mainController.title | translate}}</h5>

        <section class="tabs-section">
            <div class="tabs-section-nav tabs-section-nav-icons">
                <div class="tbl">
                    <ul class="nav" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-tab-id="tabs-1-tab-1">
                                <span class="nav-link-in">
                                    <i class="font-icon font-icon-user"></i>
                                    {{'General information' | translate}}
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-tab-id="tabs-1-tab-2">
                                <span class="nav-link-in">
                                    <span class="glyphicon glyphicon-wrench"></span>
                                    {{'Technologies' | translate}}
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-tab-id="tabs-1-tab-3">
                                <span class="nav-link-in">
                                    <i class="fa fa-credit-card-alt"></i>
                                    {{'Billing cards' | translate}}
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div><!--.tabs-section-nav-->

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="tabs-1-tab-1">

                    <hr class="no-marg"/>

                    <div class="row">
                        <div class="col-xs-12 col-sm-4">

                            <fieldset class="form-group"
                                      ng-class="{ 'form-group-error': form.last_name.$invalid && form.last_name.$dirty }">
                                <label class="form-label"
                                       for="last_name">
                                    {{'Last name' | translate}}
                                </label>
                                <input ng-model="user.model.profile.last_name"
                                       placeholder="{{'Last name' | translate}}"
                                       type="text"
                                       pattern=".{1,255}"
                                       name="last_name"
                                       id="last_name"
                                       class="form-control">
                                <small class="text-muted"
                                       ng-if="form.last_name.$invalid && form.last_name.$dirty">
                                    {{'Max length: 255' | translate}}
                                </small>
                            </fieldset>

                        </div>
                        <div class="col-xs-12 col-sm-4">

                            <fieldset class="form-group"
                                      ng-class="{ 'form-group-error': form.first_name.$invalid && form.first_name.$dirty }">
                                <label class="form-label"
                                       for="first_name">
                                    {{'First name' | translate}}
                                </label>
                                <input ng-model="user.model.profile.first_name"
                                       placeholder="{{'First name' | translate}}"
                                       type="text"
                                       pattern=".{1,255}"
                                       name="first_name"
                                       id="first_name"
                                       class="form-control">
                                <small class="text-muted"
                                       ng-if="form.first_name.$invalid && form.first_name.$dirty">
                                    {{'Max length: 255' | translate}}
                                </small>
                            </fieldset>

                        </div>
                        <div class="col-xs-12 col-sm-4">

                            <fieldset class="form-group"
                                      ng-class="{ 'form-group-error': form.middle_name.$invalid && form.middle_name.$dirty }">
                                <label class="form-label"
                                       for="middle_name">
                                    {{'Middle name' | translate}}
                                </label>
                                <input ng-model="user.model.profile.middle_name"
                                       placeholder="{{'Middle name' | translate}}"
                                       type="text"
                                       pattern=".{1,255}"
                                       name="middle_name"
                                       id="middle_name"
                                       class="form-control">
                                <small class="text-muted"
                                       ng-if="form.middle_name.$invalid && form.middle_name.$dirty">
                                    {{'Max length: 255' | translate}}
                                </small>
                            </fieldset>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-4">

                            <fieldset class="form-group"
                                      ng-class="{ 'form-group-error': form.email.$invalid && form.email.$dirty }">
                                <label class="form-label required"
                                       for="email">
                                    {{'Email' | translate}}
                                </label>
                                <div class="form-control-wrapper form-control-icon-left">
                                    <input ng-model="user.model.email"
                                           placeholder="{{'Email' | translate}}"
                                           type="email"
                                           pattern=".{1,255}"
                                           unique-field="email"
                                           unique-field-url-check="/api/user/check-user-unique-field"
                                           unique-field-except="{{user.oldModel.email}}"
                                           ng-model-options="{ debounce: 1000 }"
                                           name="email"
                                           id="email"
                                           class="form-control"
                                           required>
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <small class="text-muted"
                                       ng-if="form.email.$invalid && form.email.$dirty">
                                    {{'Email is required and must be an unique and valid' | translate}}
                                </small>
                            </fieldset>

                        </div>
                        <div class="col-xs-12 col-sm-4">

                            <fieldset class="form-group"
                                      ng-class="{ 'form-group-error': form.phone.$invalid && form.phone.$dirty }">
                                <label class="form-label"
                                       for="phone">
                                    {{'Phone' | translate}}
                                </label>
                                <input ng-model="user.model.profile.phone"
                                       type="text"
                                       name="phone"
                                       id="phone"
                                       pattern=".{1,255}"
                                       class="form-control">
                                <small class="text-muted"
                                       ng-if="form.phone.$invalid && form.phone.$dirty">
                                    {{'Max length: 255' | translate}}
                                </small>
                            </fieldset>

                        </div>
                        <div class="col-xs-12 col-sm-4">

                            <fieldset class="form-group"
                                      ng-class="{ 'form-group-error': form.skype.$invalid && form.skype.$dirty }">
                                <label class="form-label"
                                       for="skype">
                                    {{'Skype' | translate}}
                                </label>
                                <div class="form-control-wrapper form-control-icon-left">
                                    <input ng-model="user.model.profile.skype"
                                           placeholder="{{'Skype' | translate}}"
                                           type="text"
                                           name="skype"
                                           id="skype"
                                           pattern=".{1,255}"
                                           class="form-control">
                                    <i class="fa fa-skype"></i>
                                </div>
                                <small class="text-muted"
                                       ng-if="form.skype.$invalid && form.skype.$dirty">
                                    {{'Max length: 255' | translate}}
                                </small>
                            </fieldset>

                        </div>
                    </div>

                    <hr class="no-marg"/>

                    <div class="row">
                        <div class="col-xs-12 col-sm-4">

                            <fieldset class="form-group"
                                      ng-class="{ 'form-group-error': form.email_home.$invalid && form.email_home.$dirty }">
                                <label class="form-label"
                                       for="email_home">
                                    {{'Home email' | translate}}
                                </label>
                                <div class="form-control-wrapper form-control-icon-left">
                                    <input ng-model="user.model.profile.email_home"
                                           placeholder="{{'Home email' | translate}}"
                                           type="email"
                                           name="email_home"
                                           id="email_home"
                                           pattern=".{1,255}"
                                           class="form-control">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <small class="text-muted"
                                       ng-if="form.email_home.$invalid && form.email_home.$dirty">
                                    {{'Max length: 255' | translate}}
                                </small>
                            </fieldset>

                        </div>
                        <div class="col-xs-12 col-sm-4">

                            <fieldset class="form-group"
                                      ng-class="{ 'form-group-error': form.icq.$invalid && form.icq.$dirty }">
                                <label class="form-label"
                                       for="icq">
                                    {{'Icq' | translate}}
                                </label>
                                <input ng-model="user.model.profile.icq"
                                       placeholder="{{'Icq' | translate}}"
                                       type="text"
                                       name="icq"
                                       id="icq"
                                       pattern=".{1,255}"
                                       class="form-control">
                                <small class="text-muted"
                                       ng-if="form.icq.$invalid && form.icq.$dirty">
                                    {{'Max length: 255' | translate}}
                                </small>
                            </fieldset>

                        </div>
                        <div class="col-xs-12 col-sm-4">

                            <fieldset class="form-group"
                                      ng-class="{ 'form-group-error': form.birthday.$invalid && form.birthday.$dirty }">
                                <label class="form-label"
                                       for="birthday">
                                    {{'Birthday' | translate}}
                                </label>
                                <div class="input-group date">
                                    <input ng-model="user.model.profile.birthday"
                                           date-time-picker
                                           dtp-date-format="YYYY-MM-DD"
                                           dtp-locale="{{mainController.currentLang}}"
                                           type="text"
                                           name="birthday"
                                           id="birthday"
                                           class="form-control">
                                    <span class="input-group-addon">
                                        <i class="font-icon font-icon-calend"></i>
                                    </span>
                                </div>
                            </fieldset>

                        </div>
                    </div>

                    <hr class="no-marg"/>

                    <div class="row">

                        <div class="col-xs-12 col-sm-4">
                            <fieldset class="form-group">
                                <label class="form-label"
                                       for="englishLanguageLevel_id">
                                    {{'English language level' | translate}}
                                </label>
                                <select ng-model="user.model.profile.englishLanguageLevel_id"
                                        name="englishLanguageLevel_id"
                                        id="englishLanguageLevel_id"
                                        class="form-control"
                                        ng-options="level.id as level.name for level in user.englishLanguageLevels">
                                    <option value="">{{'Not set' | translate}}</option>
                                </select>
                            </fieldset>
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <fieldset class="form-group"
                                      ng-class="{ 'form-group-error': form.password.$invalid && form.password.$dirty }">
                                <label class="form-label required"
                                       for="password">
                                    {{'Password' | translate}}
                                </label>
                                <input id="password"
                                       name="password"
                                       type="password"
                                       placeholder="{{'Password' | translate}}"
                                       class="form-control"
                                       ng-model="user.model.password"
                                       ng-required="user.action == user.actions.CREATE">
                                <small class="text-muted"
                                       ng-if="form.password.$invalid && form.password.$dirty">
                                    {{'Password is required' | translate}}
                                </small>
                            </fieldset>
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <fieldset class="form-group">
                                <label class="form-label"
                                       ng-if="user.action == user.actions.UPDATE"
                                       for="photo">
                                    {{'New photo' | translate}}
                                </label>
                                <label class="form-label"
                                       ng-if="user.action == user.actions.CREATE"
                                       for="photo">
                                    {{'Photo' | translate}}
                                </label>
                                <input type="file"
                                       class="filestyle"
                                       file-model="photo"
                                       id="photo"
                                       name="photo"/>
                            </fieldset>
                        </div>
                    </div>

                </div><!--.tab-pane-->
                <div role="tabpanel" class="tab-pane fade" id="tabs-1-tab-2">

                    <div class="row">
                        <div class="col-xs-12 technologies custom-scroll">

                            <div class="technologies-checkboxes">
                                <div ng-repeat="technology in user.model.userTechnologiesFullList">
                                    <div class="checkbox-bird grey">
                                        <input type="checkbox"
                                               id="technology-{{technology.id}}"
                                               ng-model="technology.active"
                                               name="technologies[]"/>
                                        <label for="technology-{{technology.id}}">{{technology.name}}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="technologies-rating">
                                <div ng-repeat="technology in user.model.userTechnologiesFullList">
                                    <fieldset class="form-group">
                                        <input type="number"
                                               name="technology-rating"
                                               ng-model="technology.rating"
                                               ng-disabled="!technology.active || !user.canRatingManage"
                                               placeholder="{{'Level' | translate}}"
                                               min="0"
                                               max="10"
                                               step="1"
                                               class="form-control">
                                    </fieldset>
                                </div>
                            </div>

                        </div>
                    </div>

                </div><!--.tab-pane-->
                <div role="tabpanel" class="tab-pane fade" id="tabs-1-tab-3">
                    <div class="row">
                        <div class="col-xs-12">

                            <section class="box-typical">
                                <header class="box-typical-header">
                                    <div class="tbl-row">
                                        <div class="tbl-cell tbl-cell-title">
                                            <h3>{{'Billing cards' | translate}}</h3>
                                        </div>
                                        <div class="tbl-cell tbl-cell-action-bordered">
                                            <button type="button"
                                                    class="action-btn"
                                                    data-toggle="modal"
                                                    data-target="#newBillingCardModal"
                                                    ng-disabled="!user.canCreateNewCard">
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </header>
                                <div class="box-typical-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover new-billing-cards">
                                            <thead>
                                            <tr>
                                                <th class="text-center">{{'Number' | translate}}</th>
                                                <th>{{'Currency' | translate}}</th>
                                                <th>{{'Expiration date' | translate}}</th>
                                                <th></th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr ng-repeat="card in user.model.billingCards">
                                                <td class="text-center td-col-40">
                                                    {{card.number}}
                                                </td>
                                                <td class="color-blue-grey-lighter td-col-20">
                                                    {{user.getCurrencyNameById(card.currency_id)}}
                                                </td>
                                                <td class="color-blue-grey-lighter td-col-30">
                                                    {{card.expiration_date}}
                                                </td>
                                                <td class="table-icon-cell td-col-10 actions">
                                                    <i class="glyphicon glyphicon-remove"
                                                       ng-click="user.removeBillingCard($index)"></i>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!--.box-typical-body-->
                            </section><!--.box-typical-->

                        </div>
                    </div>

                </div><!--.tab-pane-->
            </div><!--.tab-content-->
        </section><!--.tabs-section-->

        <div class="row text-center">

            <button ng-if="user.action == user.actions.UPDATE"
                    ng-click="user.update()"
                    ng-disabled="!form.$valid"
                    class="btn btn-primary">
                {{ user.action | translate }}
            </button>

            <button ng-if="user.action == user.actions.CREATE"
                    ng-click="user.create()"
                    ng-disabled="!form.$valid"
                    class="btn btn-success">
                {{ user.action | translate }}
            </button>

        </div>

    </div>

    <div class="col-md-0 col-lg-1"></div>

</form>