<div ng-include="'views/modules/complaint/complaint/modals/createComplaintModal.html'"
     auth-can="user.canComplain">
</div>

<div ng-include="'views/modules/dialog/dialog/modals/createDialogModal.html'">
</div>

<div class="row user-profile-page">

    <div class="col-lg-3 col-md-6 col-sm-6 col-lg-offset-1">

        <section class="box-typical">
            <div class="profile-card">
                <div class="profile-card-photo">
                    <img src="{{user.model.profile.profileImageFullPath}}" alt="Profile image"/>
                </div>
                <div class="profile-card-name">{{user.model.fullName}}</div>
                <div class="profile-card-status">{{user.model.rolesAsString}}</div>

                <div class="divider-top-15"></div>
                <button type="button"
                        ng-click="user.writeMessage(user.model.id)"
                        class="btn btn-rounded write-message-btn"
                        ng-if="!user.isOwnProfile">
                    {{'Message' | translate}}
                </button>
                <a href="user/{{user.model.id}}/update-profile"
                   class="btn btn-rounded write-message-btn"
                   auth-not-can="user.update"
                   ng-if="user.isOwnProfile">
                    {{'Edit' | translate}}
                </a>
                <a href="user/{{user.model.id}}/update"
                   class="btn btn-rounded write-message-btn"
                   auth-can="user.update"
                   ng-if="user.isOwnProfile">
                    {{'Edit' | translate}}
                </a>
                <div class="btn-group" ng-if="!user.isOwnProfile">
                    <button type="button"
                            class="btn btn-rounded btn-primary-outline dropdown-toggle actions-btn"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        {{'Actions' | translate}}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           href="user/{{user.model.id}}/update"
                           auth-can="user.update">
                            {{'Update' | translate}}
                        </a>
                        <a class="dropdown-item"
                           href=""
                           auth-can="user.canComplain"
                           ng-click="user.openComplainModal(user.model.id)">
                            {{'Complain' | translate}}
                        </a>
                    </div>
                </div>
            </div><!--.profile-card-->

            <ul class="profile-links-list">
                <li class="divider top-marg-0"></li>
                <li class="nowrap">
                    <span class="title">{{'Email' | translate}}:</span>
                    <span class="content">{{user.model.email}}</span>
                </li>
                <li class="nowrap" ng-if="user.model.profile.email_home">
                    <span class="title">{{'Home email' | translate}}:</span>
                    <span class="content">{{user.model.email}}</span>
                </li>
                <li class="nowrap" ng-if="user.model.profile.phone">
                    <span class="title">{{'Phone' | translate}}:</span>
                    <span class="content">{{user.model.profile.phone}}</span>
                </li>
                <li class="nowrap" ng-if="user.model.profile.skype">
                    <span class="title">{{'Skype' | translate}}:</span>
                    <span class="content">{{user.model.profile.skype}}</span>
                </li>
                <li class="nowrap" ng-if="user.model.profile.icq">
                    <span class="title">{{'Icq' | translate}}:</span>
                    <span class="content">{{user.model.profile.icq}}</span>
                </li>
            </ul>
        </section><!--.box-typical-->

        <section class="box-typical" ng-if="user.displaySalaryRate">
            <header class="box-typical-header-sm bordered">{{'User rate' | translate}}:</header>
            <div class="box-typical-inner">
                <ul class="profile-links-list">
                    <li class="nowrap">
                        <span class="title">{{'Internal hourly rate' | translate}}:</span>
                        <span class="content">{{user.model.profile.internalHourlyRateAsString}}</span>
                    </li>
                    <li class="nowrap">
                        <span class="title">{{'External hourly rate' | translate}}:</span>
                        <span class="content">{{user.model.profile.externalHourlyRateAsString}}</span>
                    </li>
                    <li class="nowrap">
                        <span class="title">{{'Monthly rate' | translate}}:</span>
                        <span class="content">{{user.model.profile.monthlyRateAsString}}</span>
                    </li>
                </ul>
            </div>
        </section>

        <section class="box-typical" ng-if="user.displayBillingCards">
            <header class="box-typical-header-sm bordered">{{'Billing cards' | translate}}:</header>
            <div class="box-typical-inner">
                <ul class="profile-links-list">
                    <li class="nowrap" ng-repeat="card in user.billingCards">
                        <span class="title">{{card.currency.name}}:</span>
                        <span class="content">{{card.number}}</span>
                    </li>
                </ul>
            </div>
        </section>

    </div><!--.col- -->

    <div class="col-lg-7 col-md-6 col-sm-6">

        <section class="tabs-section">

            <div class="tabs-section-nav tabs-section-nav-left">
                <ul class="nav" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-tab-id="tabs-1-tab-1" role="tab" data-toggle="tab">
                            <span class="nav-link-in">{{'Additional info' | translate}}</span>
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.displayProjectsTab">
                        <a class="nav-link" data-tab-id="tabs-1-tab-2" role="tab" data-toggle="tab">
                            <span class="nav-link-in">{{'Projects' | translate}}</span>
                        </a>
                    </li>
                    <li class="nav-item" auth-can="complaint.read">
                        <a class="nav-link" data-tab-id="tabs-1-tab-3" role="tab" data-toggle="tab">
                            <span class="nav-link-in">{{'Complaints' | translate}}</span>
                        </a>
                    </li>
                </ul>
            </div><!--.tabs-section-nav-->

            <div class="tab-content">

                <div role="tabpanel" class="tab-pane fade in active" id="tabs-1-tab-1">
                    <ul class="profile-links-list additional-info">
                        <li class="nowrap" ng-if="user.model.profile.statusAsString">
                            <span class="title">{{'Employment' | translate}}:</span>
                            <span class="content">

                                <span ng-if="(user.model.profile.status) && (user.model.profile.status != user.employmentStatuses.Free)"
                                      title="{{'Oriented end time' | translate}}: {{(user.model.profile.status_free_oriented_date) ? user.model.profile.status_free_oriented_date : 'Not set' | translate}}"
                                      class="label label-primary">
                                    {{user.model.profile.statusAsString | translate}}
                                </span>

                                <span ng-if="(user.model.profile.status == user.employmentStatuses.Free) && (user.model.profile.lastFreeDaysCount <= 7)"
                                      title="{{'Free' | translate}}"
                                      class="label label-success">
                                    {{user.model.profile.statusAsString | translate}}
                                </span>

                                <span ng-if="(user.model.profile.status == user.employmentStatuses.Free) && (user.model.profile.lastFreeDaysCount > 7) && (user.model.profile.lastFreeDaysCount <= 14)"
                                      title="{{'Free for more than one week' | translate}}"
                                      class="label label-warning">
                                    {{user.model.profile.statusAsString | translate}}
                                </span>

                                <span ng-if="(user.model.profile.status == user.employmentStatuses.Free) && (user.model.profile.lastFreeDaysCount > 14)"
                                      title="{{'Free for more than two weeks' | translate}}"
                                      class="label label-danger">
                                    {{user.model.profile.statusAsString | translate}}
                                </span>

                                <span ng-if="user.model.profile.status_description"> - {{user.model.profile.status_description}}</span>

                                <span ng-if="(user.model.profile.status == user.employmentStatuses.Free) && (user.model.profile.lastFreeDaysCount > 7) && (user.model.profile.lastFreeDaysCount <= 14)">
                                    <b>&nbsp;({{'Free for more than one week' | translate}})</b>
                                </span>
                                <span ng-if="(user.model.profile.status == user.employmentStatuses.Free) && (user.model.profile.lastFreeDaysCount > 14)">
                                    <b>&nbsp;({{'Free for more than two weeks' | translate}})</b>
                                </span>
                                <span ng-if="(user.model.profile.status != user.employmentStatuses.Free) && (user.model.profile.status_free_oriented_date)">
                                    <b>
                                        &nbsp;({{'Oriented end time' | translate}}: {{user.model.profile.status_free_oriented_date}} )
                                    </b>
                                </span>
                            </span>
                        </li>
                        <li class="nowrap" ng-if="user.model.profile.rankAsString">
                            <span class="title">{{'Rank' | translate}}:</span>
                            <span class="content">{{user.model.profile.rankAsString}}</span>
                        </li>
                        <li class="nowrap" ng-if="user.model.departmentsAsString">
                            <span class="title">{{'Departments' | translate}}:</span>
                            <span class="content">{{user.model.departmentsAsString}}</span>
                        </li>
                        <li class="nowrap" ng-if="user.model.profile.englishLanguageLevelAsString">
                            <span class="title">{{'English language level' | translate}}:</span>
                            <span class="content">{{user.model.profile.englishLanguageLevelAsString}}</span>
                        </li>
                        <li class="nowrap" ng-if="user.model.profile.rating">
                            <span class="title">{{'Rating' | translate}}:</span>
                            <span class="content">{{user.model.profile.rating}}</span>
                        </li>
                        <li class="nowrap" ng-if="user.model.profile.birthday">
                            <span class="title">{{'Birthday' | translate}}:</span>
                            <span class="content">{{user.model.profile.birthday}}</span>
                        </li>
                        <li class="nowrap">
                            <span class="title">{{'Login' | translate}}:</span>
                            <span class="content">{{user.model.username}}</span>
                        </li>
                        <li class="divider"
                            ng-if="user.model.userTechnologies.length > 0">
                        </li>
                        <div class="profile-technologies"
                             ng-if="user.model.userTechnologies.length > 0">
                            <span class="title">{{'Technologies' | translate}}:</span>
                            <div class="box-typical-inner">
                                <div class="progress-compact-style"
                                     ng-repeat="ut in user.model.userTechnologies"
                                     ng-if="ut.active">
                                    <div class="progress-header">
                                        <div class="progress-lbl">{{ut.technology.name}}</div>
                                        <div class="progress-val" ng-if="ut.rating">{{ut.rating}}</div>
                                        <div class="progress-val" ng-if="!ut.rating">не оцінено</div>
                                    </div>

                                    <!-- random range color -->
                                    <!--<progress class="progress"-->
                                              <!--random-class='["progress-aquamarine", "progress-danger", "progress-warning", "progress-info", "progress-success", ""]'-->
                                              <!--value="{{ut.rating}}"-->
                                              <!--max="10">-->
                                        <!--{{ut.rating}}-->
                                    <!--</progress>-->

                                    <!-- range color depends on value -->
                                    <progress class="progress"
                                              progress-indicator="ut.rating"
                                              value="{{ut.rating}}"
                                              max="10">
                                        {{ut.rating}}
                                    </progress>

                                </div>
                            </div>
                        </div>
                    </ul>
                </div><!--.tab-pane-->

                <div role="tabpanel" class="tab-pane fade" id="tabs-1-tab-2">
                    <div class="table-responsive projects-table custom-scroll">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>№</th>
                                <th>{{'Author' | translate}}</th>
                                <th>{{'Title' | translate}}</th>
                                <th>{{'Creation Date' | translate}}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="project in user.userProjects"
                                ng-class="{ 'completed-project-tbl-row': project.status == user.projectStatuses.Completed,
                                            'deleted-project-tbl-row': project.status == user.projectStatuses.In_archive }">
                                <td>{{$index + 1}}</td>
                                <td class="td-col-30">
                                    <a href="/user/{{project.author.id}}">
                                        <img class="user-image"
                                             src="{{project.author.profile.profileImageFullPath}}">
                                        {{project.author.fullName}}
                                    </a>
                                </td>
                                <td class="color-blue-grey-lighter td-col-30">
                                    {{project.title}}
                                </td>
                                <td class="table-date ">
                                    {{project.publish_date}}
                                    <i class="font-icon font-icon-clock"></i>
                                </td>
                                <td>
                                    <a href="/project/{{ project.id }}"
                                       class="action-icon"
                                       auth-can="project.read">
                                        <i class="glyphicon glyphicon-eye-open"
                                           aria-hidden="true"
                                           title="{{'View' | translate}}">
                                        </i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!--.tab-pane-->

                <div role="tabpanel" class="tab-pane fade" id="tabs-1-tab-3">

                    <div class="table-responsive complaints-table custom-scroll"
                         ng-if="user.complaintsToUser.length > 0">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>№</th>
                                <th>{{'Who' | translate}}</th>
                                <th>{{'Reason' | translate}}</th>
                                <th>{{'Date' | translate}}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="complaint in user.complaintsToUser">
                                <td>
                                    {{$index + 1}}
                                </td>
                                <td>
                                    <a href="/user/{{complaint.who.id}}">
                                        <img class="user-image"
                                             src="{{complaint.who.profile.profileImageFullPath}}">
                                        {{complaint.who.fullName}}
                                    </a>
                                </td>
                                <td class="color-blue-grey-lighter">
                                    {{complaint.reason}}
                                </td>
                                <td class="table-date ">
                                    {{complaint.date}}
                                    <i class="font-icon font-icon-clock"></i>
                                </td>
                                <td>
                                    <a href="/complaint/{{ complaint.id }}"
                                       class="action-icon"
                                       auth-can="complaint.read">
                                        <i class="glyphicon glyphicon-eye-open"
                                           aria-hidden="true"
                                           title="{{'View' | translate}}">
                                        </i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div ng-if="user.complaintsToUser.length == 0">
                        <i>{{'No complaints to user' | translate}}</i>
                    </div>

                </div><!--.tab-pane-->

            </div><!--.tab-content-->
        </section><!--.tabs-section-->

    </div><!--.col- -->

</div><!--.row-->