<form name="form" class="row form-horizontal" novalidate>

    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 box-typical box-typical-padding">

        <h5 class="with-border" >{{mainController.title | translate}}</h5>

        <fieldset class="form-group">
            <label class="form-label required"
                   for="whom_id">
                {{'Whom' | translate}}
            </label>

            <div class="form-group custom-typeahead">
                <div class="input-group">
                    <input type="text"
                           name="whom_id"
                           id="whom_id"
                           ng-model="complaint.complaintUser"
                           ng-model-options="{ debounce: 500 }"
                           placeholder="{{'Choose user from list' | translate}}"
                           uib-typeahead="user as user.fullName for user in complaint.getOtherUsersByName($viewValue)"
                           typeahead-popup-template-url="/frontend/views/common/typeahead-popup-template.html"
                           class="form-control"
                           required>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="form-group"
                  ng-if="!complaint.isNewRecord">
            <label class="form-label required"
                   for="status">
                {{'Status' | translate}}
            </label>
            <select ng-model="complaint.model.status"
                    name="status"
                    id="status"
                    class="form-control"
                    ng-options="status.id as (status.title + '_complaint' | translate) for status in complaint.statuses"
                    required>
            </select>
        </fieldset>

        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.reason.$invalid && form.reason.$dirty }">
            <label class="form-label required"
                   for="reason">
                {{'Reason' | translate}}
            </label>
            <textarea ng-model="complaint.model.reason"
                      placeholder="{{'Reason' | translate}}"
                      pattern=".{1,255}"
                      name="reason"
                      rows="5"
                      id="reason"
                      class="form-control"
                      required>
            </textarea>
            <small class="text-muted"
                   ng-if="form.reason.$invalid && form.reason.$dirty">
                {{'Title is required (max length: 255)' | translate}}
            </small>
        </fieldset>

        <div class="row text-center">

            <button ng-if="complaint.action == complaint.actions.UPDATE"
                    ng-click="complaint.update()"
                    ng-disabled="!form.$valid || !form.$dirty"
                    class="btn btn-primary">
                {{ complaint.action | translate }}
            </button>

            <button ng-if="complaint.action == complaint.actions.CREATE"
                    ng-click="complaint.create()"
                    ng-disabled="!form.$valid"
                    class="btn btn-success">
                {{ complaint.action | translate }}
            </button>

        </div>

    </div>

    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

</form>