<div>

    <a href="/complaint/create"
       class="btn btn-primary list-create-btn"
       auth-can="complaint.create">
        {{'Create' | translate}}
    </a>

    <div class="box-typical table-wrapper">
        <table ng-table="complaint.tableParams"
               template-pagination="/frontend/views/common/table-pagination-template.html"
               class="table table-bordered table-hover"
               show-filter="true">
            <tr ng-repeat="c in $data">
                <td title="'№'"
                    class="td-col-5 text-center">
                    {{ ((complaint.tableParams.page() - 1) * complaint.tableParams.count()) + $index + 1 }}
                </td>
                <td class="td-col-15 actions"
                    data-title="'Who' | translate"
                    filter="{ whoFullName: 'text'}"
                    sortable="'whoFullName'">
                    <span class="user-item">
                        <a href="/user/{{c.who.id}}">
                            <img class="user-image" src="{{c.who.profile.profileImageFullPath}}">
                            {{c.whoFullName}}
                        </a>
                    </span>
                </td>
                <td class="td-col-15 actions"
                    data-title="'Whom' | translate"
                    filter="{ whomFullName: 'text'}"
                    sortable="'whomFullName'">
                    <span class="user-item">
                        <a href="/user/{{c.whom.id}}">
                            <img class="user-image" src="{{c.whom.profile.profileImageFullPath}}">
                            {{c.whomFullName}}
                        </a>
                    </span>
                </td>
                <td class="td-col-10 text-center"
                    data-title="'Status' | translate"
                    filter="{ status: 'select'}"
                    filter-data="complaint.getComplaintStatusesFilter()"
                    sortable="'status'">
                    <span class="label"
                          ng-class="(c.status == complaint.statuses.New) ? 'label-warning' : 'label-success'">
                        {{c.statusAsString + '_complaint' | translate}}
                    </span>
                </td>

                <td class="td-col-12"
                    data-title="'Date' | translate"
                    filter="{ date: 'text'}"
                    sortable="'date'">
                    {{c.date}}
                    <i class="font-icon gray-icon font-icon-clock"></i>
                </td>
                <td class="td-col-30"
                    data-title="'Reason' | translate"
                    filter="{ reason: 'text'}"
                    sortable="'reason'">
                    {{c.reason}}
                </td>

                <td title="'Actions' | translate"
                    class="td-col-13 text-center actions">
                    <a href=""
                       auth-can="complaint.update"
                       ng-click="complaint.markAsReviewed(c.id)"
                       ng-if="c.status == complaint.statuses.New"
                       class="action-icon">
                        <i class="glyphicon glyphicon-ok"
                           aria-hidden="true"
                           title="{{'Mark as reviewed' | translate}}">
                        </i>
                    </a>&nbsp;
                    <a href="/complaint/{{ c.id }}"
                       class="action-icon"
                       auth-can="complaint.read">
                        <i class="glyphicon glyphicon-eye-open"
                           aria-hidden="true"
                           title="{{'View' | translate}}">
                        </i>
                    </a>
                    <a href="/complaint/{{ c.id }}/update"
                       class="action-icon"
                       auth-can="complaint.update">
                        <i class="glyphicon glyphicon-pencil"
                           aria-hidden="true"
                           title="{{'Update' | translate}}">
                        </i>
                    </a>
                    <a href=""
                       class="action-icon"
                       ng-click="complaint.delete(c.id)"
                       auth-can="complaint.delete">
                        <i class="glyphicon glyphicon-trash"
                           aria-hidden="true"
                           title="{{'Delete' | translate}}">
                        </i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
