<div class="row">
    <div class="col-xxl-9 col-lg-12 col-xl-8 col-md-8">
        <section class="box-typical proj-page">
            <section class="proj-page-section proj-page-header" style="width: 100%">
                <div class="title">
                    {{ 'Complaint' | translate }}: № {{complaint.model.id}}
                    <a auth-can="complaint.update" type="button" href="/complaint/{{complaint.model.id}}/update" class="comment-row-item-action edit">
                        <i class="font-icon font-icon-pencil"></i>
                    </a>
                </div>
            </section><!--.proj-page-section-->

            <section class="proj-page-section">
                <div class="tbl proj-page-team">
                    <div class="tbl-row">
                        <div class="tbl-cell text-right td-col-40">
                            <a href="/user/{{complaint.model.who.id}}">
                                <div class="avatar-preview avatar-preview-32">
                                    <img src="{{complaint.model.who.profile.profileImageFullPath}}" alt="">
                                </div>
                                &nbsp; {{complaint.model.who.fullName}}
                            </a>
                        </div>
                        <div class="tbl-cell tbl-cell-divider td-col-20">
                            <i class="font-icon font-icon-arrow-right"></i>
                        </div>
                        <div class="tbl-cell td-col-40">
                            <a href="/user/{{complaint.model.whom.id}}">
                                <div class="avatar-preview avatar-preview-32">
                                    <img src="{{complaint.model.whom.profile.profileImageFullPath}}" alt="">
                                </div>
                                &nbsp; {{complaint.model.whom.fullName}}
                            </a>
                        </div>
                    </div>
                </div>
            </section><!--.proj-page-section-->

            <section class="proj-page-section">
                <div class="proj-page-txt">
                    <header class="proj-page-subtitle">
                        <h3>{{'Reason' | translate}}</h3>
                    </header>
                    <p>{{complaint.model.reason}}</p>
                </div>
            </section><!--.proj-page-section-->
        </section>
    </div>
    <div class="col-xxl-3 col-lg-12 col-xl-4 col-md-4">
        <section class="box-typical proj-page">
            <section class="proj-page-section proj-page-labels">
                <header class="proj-page-subtitle padding-sm status-area">
                    <h3>
                        <div class="title">
                            {{'Status' | translate}}
                        </div>
                    </h3>
                </header>
                <span class="label"
                      ng-class="(complaint.model.status == complaint.statuses.New) ? 'label-warning' : 'label-success'">
                    {{complaint.model.statusAsString + '_complaint' | translate}}
                </span>
            </section><!--.proj-page-section-->

            <section class="proj-page-section proj-page-dates">
                <header class="proj-page-subtitle padding-sm">
                    <h3>{{'Dates' | translate}}</h3>
                </header>
                <div class="tbl">
                    <div class="tbl-row">
                        <div class="tbl-cell tbl-cell-lbl">{{'Created' | translate}}:</div>
                        <div class="tbl-cell">{{complaint.model.date}}</div>
                    </div>
                </div>
            </section><!--.proj-page-section-->

            <section class="proj-page-section" auth-can="complaint.update" ng-if="complaint.model.status == complaint.statuses.New">
                <ul class="proj-page-actions-list">
                    <li ng-if="ticket.loggedUserId == ticket.model.receiver_id && ticket.model.status == ticket.statuses.Active">
                        <a ng-click="complaint.markAsReviewed()"
                           title = "{{'Mark as reviewed' | translate}}">
                            <i class="glyphicon glyphicon-ok"></i>
                            {{'Mark as reviewed' | translate}}
                        </a>
                    </li>
                </ul>
            </section><!--.proj-page-section-->
        </section>
    </div>
</div>

