<form name="form" class="row form-horizontal" novalidate>

    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 box-typical box-typical-padding">

        <h5 class="with-border" >{{mainController.title | translate}}</h5>

        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.email.$invalid && form.email.$dirty }">
            <label class="form-label required"
                   for="email">
                {{'Email' | translate}}
            </label>
            <div class="form-control-wrapper form-control-icon-left">
                <input ng-model="hrBlackList.model.email"
                       placeholder="{{'Email' | translate}}"
                       type="email"
                       pattern=".{1,255}"
                       unique-field="email"
                       unique-field-url-check="/api/hrBlackList/check-hr-unique-field"
                       unique-field-except="{{hrBlackList.oldModel.email}}"
                       ng-model-options="{ debounce: 1000 }"
                       name="email"
                       id="email"
                       class="form-control"
                       required>
                <i class="fa fa-envelope"></i>
            </div>
            <small class="text-muted"
                   ng-if="form.email.$invalid && form.email.$dirty">
                {{'Email is required and must be an unique and valid' | translate}}
            </small>
        </fieldset>

        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.reason.$invalid && form.reason.$dirty }">
            <label class="form-label required"
                   for="reason">
                {{'Reason' | translate}}
            </label>
            <input ng-model="hrBlackList.model.reason"
                   placeholder="{{'Reason' | translate}}"
                   type="text"
                   pattern=".{1,255}"
                   name="reason"
                   id="reason"
                   class="form-control"
                   required>
            <small class="text-muted"
                   ng-if="form.reason.$invalid && form.reason.$dirty">
                {{'Reason is required (max length: 255)' | translate}}
            </small>
        </fieldset>


        <div class="row text-center">

            <button ng-if="hrBlackList.action == hrBlackList.actions.UPDATE"
                    ng-click="hrBlackList.update()"
                    ng-disabled="!form.$valid || !form.$dirty"
                    class="btn btn-primary">
                {{ hrBlackList.action | translate }}
            </button>

            <button ng-if="hrBlackList.action == hrBlackList.actions.CREATE"
                    ng-click="hrBlackList.create()"
                    ng-disabled="!form.$valid"
                    class="btn btn-success">
                {{ hrBlackList.action | translate }}
            </button>

        </div>

    </div>

    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

</form>