<div>
    <a href="/hrBlackList/create"
       class="btn btn-primary list-create-btn"
       auth-can="hrBlackList.create">
        {{'Add contact to black list' | translate}}
    </a>

    <div class="box-typical table-wrapper">
        <table ng-table="hrBlackList.tableParams"
               template-pagination="/frontend/views/common/table-pagination-template.html"
               class="table table-bordered table-hover"
               show-filter="true">
            <tr ng-repeat="t in $data">
                <td title="'№'" class="td-col-8 text-center">
                    {{ ((hrBlackList.tableParams.page() - 1) * hrBlackList.tableParams.count()) + $index + 1 }}
                </td>

                <td data-title="'Email' | translate"
                    filter="{ email: 'text'}"
                    sortable="'email'">
                    {{t.email}}
                </td>
                <td data-title="'Reason' | translate"
                    filter="{ reason: 'text'}"
                    sortable="'reason'">
                    {{t.reason}}
                </td>
                <td data-title="'Created at' | translate"
                    class="td-col-20"
                    filter="{ created_at: 'text'}"
                    sortable="'created_at'">
                    {{t.created_at}}
                    <i class="font-icon gray-icon font-icon-clock"></i>
                </td>

                <td data-title="'Created by' | translate"
                    class="td-col-20"
                    filter="{ createdByName: 'select' }"
                    filter-data="hrBlackList.getUsersFilter()"
                    sortable="'createdByName'">
                    <span class="user-item" ng-if="t.createdBy">
                        <a href="/user/{{t.createdBy.id}}">
                            <img class="user-image" src="{{t.createdBy.profile.profileImageFullPath}}">
                            {{t.createdBy.fullName}}
                        </a>
                    </span>
                    <span ng-if="!t.createdBy" class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>

                <td title="'Actions' | translate" class="td-col-10 text-center actions">
                    <a href="/hrBlackList/{{ t.id }}"
                       class="action-icon"
                       auth-can="hrBlackList.read">
                        <i class="glyphicon glyphicon-eye-open"
                           aria-hidden="true"
                           title="{{'View' | translate}}">
                        </i>
                    </a>
                    <a href="/hrBlackList/{{ t.id }}/update"
                       class="action-icon"
                       auth-can="hrBlackList.update">
                        <i class="glyphicon glyphicon-pencil"
                           aria-hidden="true"
                           title="{{'Update' | translate}}">
                        </i>
                    </a>
                    <a href=""
                       class="action-icon"
                       ng-click="hrBlackList.delete(t.id)"
                       auth-can="hrBlackList.delete">
                        <i class="glyphicon glyphicon-trash"
                           aria-hidden="true"
                           title="{{'Delete' | translate}}">
                        </i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
