<form name="form" class="row form-horizontal" novalidate>

    <div class="col-xs-0 col-sm-2 col-md-2 col-lg-3"></div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 box-typical box-typical-padding">

        <h5 class="with-border" >{{mainController.title | translate}}</h5>

        <!-- title field -->
        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.name.$invalid && form.name.$dirty }">
            <label for="title"
                class="control-label form-label required">
                {{'Title' | translate}}
            </label>
            <input ng-model="ticket.model.title"
                placeholder="{{'Title' | translate}}"
                type="text"
                pattern=".{1,255}"
                name="title"
                id="title"
                class="form-control"
                required />
                <small class="text-muted"
                       ng-if="form.name.$invalid && form.name.$dirty">
                    {{'Field' | translate}} {{'Title' | translate}} {{'is required (max length: 255)' | translate}}
                </small>
        </fieldset>

        <!-- description field -->
        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.description.$invalid && form.description.$dirty }">
            <label
                   class="control-label form-label required">
                {{'Description' | translate}}
            </label>
                <div ckeditor="options" ng-model="ticket.model.description" ready="onReady()" required></div>
                <small class="text-muted"
                       ng-if="form.description.$invalid && form.description.$dirty">
                    {{'Field' | translate}} {{'Description' | translate}} {{'is required (max length: 255)' | translate}}
                </small>
        </fieldset>

        <fieldset class="form-group">
            <label class="form-label required">
                {{'Receiver' | translate}}
            </label>
            <div class="custom-typeahead">
                <div class="input-group">
                    <input type="text"
                           ng-model="ticket.receiver"
                           ng-model-options="{ debounce: 500 }"
                           placeholder="{{'Choose user from list' | translate}}"
                           uib-typeahead="user as user.fullName for user in ticket.getOtherUsersByName($viewValue)"
                           typeahead-popup-template-url="/frontend/views/common/typeahead-popup-template.html"
                           class="form-control">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </div>
                </div>
            </div>
        </fieldset>

        <!-- priority field -->
        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.name.$invalid && form.name.$dirty }">
            <label for="priority"
                   class="control-label form-label required">
                {{'Priority' | translate}}
            </label>
                <select ng-model="ticket.model.priority"
                        name="priority"
                        id="priority"
                        class="form-control"
                        required>
                    <option value = "" disabled>{{'Not set' | translate}}</option>
                    <option ng-repeat="item in ticket.priorities" value = "{{item.id}}">{{item.title | translate}}</option>
                    <!--<option ng-repeat="(title, id) in ticket.priorities" value = "{{id}}">{{title | replace : '_' : ' ' : true | translate}}</option>-->
                </select>
                <small class="text-muted"
                       ng-if="form.description.$invalid && form.description.$dirty">
                    {{'Field' | translate}} {{'Priority' | translate}} {{'is required (max length: 255)' | translate}}
                </small>
        </fieldset>

        <fieldset  class="form-group">
            <label class="form-label"
                   for="file">
                {{'Attach File' | translate}}
            </label>
            <input type="file"
                   class="filestyle"
                   file-model="file"
                   id="file"
                   name="file"/>
        </fieldset>

        <section class="proj-page-section" ng-if="ticket.downloadLink">
            <div class="proj-page-attach" ng-if="ticket.update">
                <div ticket.model.file_path>
                    <i class="font-icon font-icon-page"></i>
                    <p class="name">{{ticket.model.file_path}}</p>
                    <p class="date">{{ticket.model.created_at}}</p>
                    <p>
                        <a href="{{ticket.downloadLink}}" target="_self" download>{{'Download' | translate}}</a>
                        <a><span ng-click="ticket.deleteFile(ticket.model.id)"
                                 class="glyphicon glyphicon-remove action-icon"
                                 title = "{{'Delete attached file' | translate}}">
                        </span></a>
                    </p>
                </div>
            </div>
        </section>

        <div class="row text-center">

            <button ng-if="ticket.action == ticket.actions.UPDATE"
                    ng-click="ticket.update()"
                    ng-disabled="!form.$valid || !form.$dirty"
                    class="btn btn-primary">
                {{ ticket.action | translate }}
            </button>

            <button ng-if="ticket.action == ticket.actions.CREATE"
                    ng-click="ticket.create()"
                    ng-disabled="!form.$valid"
                    class="btn btn-success">
                {{ ticket.action | translate }}
            </button>

        </div>

    </div>

    <div class="col-xs-0 col-sm-2 col-md-2 col-lg-3"></div>

</form>
