<div>

    <a href="/ticket/create"
       class="btn btn-primary list-create-btn"
       auth-can="ticket.create">
        {{'Create' | translate}}
    </a>

    <div class="box-typical table-wrapper">
        <table ng-table="ticket.tableParams"
               template-pagination="/frontend/views/common/table-pagination-template.html"
               class="table table-bordered table-hover clicked-table-tickets"
               show-filter="true">
            <tr ng-repeat="t in $data" data-key="{{t.id}}" ng-class="'general-row-ticket'">
                <td title="'№'" class="td-col-5 text-center">
                    {{ ((ticket.tableParams.page() - 1) * ticket.tableParams.count()) + $index + 1 }}
                </td>
                <td class="td-col-15" data-title="'Title' | translate" filter="{ title: 'text'}" sortable="'title'">
                    {{t.title}}
                </td>
                <td class="td-col-25" data-title="'Description' | translate" filter="{ description: 'text'}" sortable="'description'">
                    <div class="image-size-in-table">
                        <div ng-bind-html="t.description"></div>
                    </div>
                </td>
                <td class="td-col-18 actions" data-title="'Receiver' | translate" filter="{ receiverFullName: 'text'}" sortable="'receiverFullName'">
                    <span class="user-item">
                        <a href="/user/{{t.receiver.id}}">
                            <img class="user-image" src="{{t.receiver.profile.profileImageFullPath}}">
                            {{t.receiver.fullName}}
                        </a>
                    </span>
                </td>
                <td class="td-col-12" data-title="'Created at' | translate" filter="{ created_at: 'text'}" sortable="'created_at'">
                    {{t.created_at}}
                    <i class="font-icon gray-icon font-icon-clock"></i>
                </td>
                <td data-title="'Status' | translate" filter="{ status: 'select'}" filter-data="ticket.getTicketStatusesFilter()" sortable="'status'" ng-if="true">
                    <span class="label label-{{t.statusAsObject.labelName}}">
                        {{ t.statusAsObject.name | translate}}
                    </span>
                </td>
                <td data-title="'Priority' | translate" filter="{ priority: 'select'}" filter-data="ticket.getTicketPrioritiesFilter()" sortable="'priority'" ng-if="true">
                    <span class="label label-{{t.priorityAsObject.labelName}}">
                        {{ t.priorityAsObject.name | translate}}
                    </span>
                </td>
                <td title="'Actions' | translate" class="td-col-10 text-center actions">
                    <a href="/ticket/{{ t.id }}"
                       class="action-icon"
                       id="{{'ticket-view-' + t.id}}"
                       auth-can="ticket.read">
                        <i class="glyphicon glyphicon-eye-open" aria-hidden="true" title="{{'View' | translate}}"></i>
                    </a>
                    <a href="/ticket/{{ t.id }}/update"
                       class="action-icon"
                       auth-can="ticket.update">
                        <i class="glyphicon glyphicon-pencil" aria-hidden="true" title="{{'Update' | translate}}"></i>
                    </a>
                    <a href=""
                       class="action-icon"
                       ng-click="ticket.delete(t.id)"
                       auth-can="ticket.delete">
                        <i class="glyphicon glyphicon-trash" aria-hidden="true" title="{{'Delete' | translate}}"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

