<div ng-include="'views/modules/ticket/ticket/modals/commentModal.html'"></div>
<div ng-include="'views/modules/ticket/ticket/modals/changeStatusModal.html'"></div>
<div ng-include="'views/modules/ticket/ticket/modals/changePriorityModal.html'"></div>

<div class="row">
    <div class="col-xxl-9 col-lg-12 col-xl-8 col-md-8">
        <section class="box-typical proj-page">
            <section class="proj-page-section proj-page-header">
                <div class="title">
                    {{ticket.model.title}}
                    <a ng-if="ticket.loggedUserId == ticket.model.author_id" href="/ticket/{{ticket.model.id}}/update" class="comment-row-item-action edit">
                        <i class="font-icon font-icon-pencil"></i>
                    </a>
                </div>
            </section>

            <section class="proj-page-section">
                <div class="tbl proj-page-team">
                    <div class="tbl-row">
                        <div class="tbl-cell text-right td-col-40">
                            <a href="/user/{{ticket.model.author.id}}">
                                <div class="avatar-preview avatar-preview-32">
                                    <img src="{{ticket.model.author.profile.profileImageFullPath}}" alt="">
                                </div>
                                &nbsp; {{ticket.model.author.fullName}}
                            </a>
                        </div>
                        <div class="tbl-cell tbl-cell-divider td-col-20">
                            <i class="font-icon font-icon-arrow-right"></i>
                        </div>
                        <div class="tbl-cell td-col-40">
                            <a href="/user/{{ticket.model.receiver.id}}">
                                <div class="avatar-preview avatar-preview-32">
                                    <img src="{{ticket.model.receiver.profile.profileImageFullPath}}" alt="">
                                </div>
                                &nbsp; {{ticket.model.receiver.fullName}}
                            </a>
                        </div>
                    </div>
                </div>
            </section><!--.proj-page-section-->

            <section class="proj-page-section">
                <div class="proj-page-txt">
                    <header class="proj-page-subtitle">
                        <h3>{{'Description' | translate}}</h3>
                    </header>
                    <div class="image-size">
                        <p ng-bind-html="ticket.model.description"></p>
                    </div>
                </div>
            </section><!--.proj-page-section-->

            <section class="proj-page-section" ng-if="ticket.downloadLink">
                <header class="proj-page-subtitle">
                    <h3>{{'Attachments' | translate}}</h3>
                </header>
                <div class="proj-page-attach">
                    <i class="font-icon font-icon-page"></i>
                    <p class="name">{{ticket.model.file_path}}</p>
                    <p class="date">{{ticket.model.created_at}}</p>
                    <p>
                        <a href="{{ticket.downloadLink}}" target="_self" download>{{'Download' | translate}}</a>
                    </p>
                </div>
            </section><!--.proj-page-attach-section-->

            <section class="proj-page-section">
                <header class="proj-page-subtitle">
                    <h3>
                        {{'Comments' | translate}}
                        <a href=""
                           ng-if = "ticket.authPermissions.indexOf('ticket.consider') !== -1 || ticket.loggedUserId == ticket.model.author_id"
                           ng-click="ticket.openCreateCommentModal()">
                            ({{'Add comment' | translate}})
                        </a>
                    </h3>
                </header>

                <div class="news-page" ng-if="ticket.comments.length == 0">
                    {{'Be the first to comment' | translate}}
                </div>
            </section>
        </section>

        <div class="row comment-block news-page"
             ng-if="ticket.comments.length != 0"
             ng-repeat="comment in ticket.comments">

            <div class="news-list-page col-sm-12 m-b-md">
                <div class="card-grid-col">
                    <article class="card-typical">
                        <div class="card-typical-section">
                            <div class="user-card-row">
                                <div class="tbl-row">
                                    <div class="tbl-cell tbl-cell-photo">
                                        <a href="/user/{{comment.user.id}}">
                                            <img src="{{comment.user.profile.profileImageFullPath}}" alt="">
                                        </a>
                                    </div>
                                    <div class="tbl-cell">
                                        <p class="user-card-row-name">
                                            <a href="/user/{{comment.user.id}}">{{comment.user.fullName}}</a>
                                        </p>
                                        <p class="color-blue-grey-lighter">
                                            {{comment.created_at}}
                                            <i ng-if="comment.created_at != comment.updated_at">
                                                &nbsp;
                                                ({{'updated' | translate}}
                                                {{comment.updated_at}})
                                            </i>
                                        </p>
                                    </div>
                                    <div class="tbl-cell tbl-cell-status m-r-3">
                                        <a href=""
                                           ng-if="comment.isEditable"
                                           ng-click="ticket.openUpdateCommentModal(comment)"
                                           title="{{'Update' | translate}}"
                                           class="glyphicon glyphicon-pencil action-icon">
                                        </a>
                                        <a href=""
                                           ng-if="comment.isDeletable"
                                           ng-click="ticket.deleteComment(comment.id)"
                                           title="{{'Delete' | translate}}"
                                           class="glyphicon glyphicon-trash action-icon">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-typical-section card-typical-content">
                            <p ng-bind-html="comment.message" class="comment-content"></p>
                        </div>
                    </article><!--.card-typical-->
                </div><!--.card-grid-col-->
            </div>
        </div>

    </div>
    <div class="col-xxl-3 col-lg-12 col-xl-4 col-md-4">
        <section class="box-typical proj-page">
            <section class="proj-page-section proj-page-labels">
                <header class="proj-page-subtitle padding-sm status-area">
                    <h3>
                        <div class="title">
                            {{'Status' | translate}}
                            <a ng-if="ticket.loggedUserId == ticket.model.author_id" type="button" data-toggle="modal" data-target="#changeStatusModal" class="comment-row-item-action edit">
                                <i class="font-icon font-icon-pencil"></i>
                            </a>
                        </div>
                    </h3>
                </header>
                <span class="label label-{{ticket.model.statusAsObject.labelName}}">
                    {{ ticket.model.statusAsObject.name | translate}}
                </span>
            </section><!--.proj-page-section-->

            <section class="proj-page-section proj-page-labels">
                <header class="proj-page-subtitle padding-sm status-area">
                    <h3>
                        <div class="title">
                            {{'Priority' | translate}}
                            <a ng-if="ticket.loggedUserId == ticket.model.author_id" type="button" data-toggle="modal" data-target="#changePriorityModal" class="comment-row-item-action edit">
                                <i class="font-icon font-icon-pencil"></i>
                            </a>
                        </div>
                    </h3>
                </header>
                <span class="label label-{{ticket.model.priorityAsObject.labelName}}">
                    {{ ticket.model.priorityAsObject.name | translate}}
                </span>
            </section><!--.proj-page-section-->

            <section class="proj-page-section proj-page-dates">
                <header class="proj-page-subtitle padding-sm">
                    <h3>{{'Dates' | translate}}</h3>
                </header>
                <div class="tbl">
                    <div class="tbl-row">
                        <div class="tbl-cell tbl-cell-lbl">{{'Created' | translate}}:</div>
                        <div class="tbl-cell">{{ticket.model.created_at}}</div>
                    </div>
                    <div class="tbl-row" ng-if="ticket.model.updated_at">
                        <div class="tbl-cell tbl-cell-lbl">{{'Updated' | translate}}:</div>
                        <div class="tbl-cell">{{ticket.model.updated_at}}</div>
                    </div>
                </div>
            </section><!--.proj-page-section-->

            <section class="proj-page-section">
                <ul class="proj-page-actions-list">
                    <li ng-if="ticket.loggedUserId == ticket.model.receiver_id && ticket.model.status == ticket.statuses.Active">
                        <a ng-click="ticket.changeStatus(ticket.statuses.In_progress)"
                           title = "{{ 'Start' | translate }}">
                            <i class="font-icon font-icon-play"></i>
                            {{ 'Start' | translate }}
                        </a>
                    </li>

                    <li ng-if="ticket.loggedUserId == ticket.model.receiver_id && ticket.model.status == ticket.statuses.Waiting_verification">
                        <a ng-click="ticket.changeStatus(ticket.statuses.In_progress)"
                           title = "{{ 'Back to work' | translate }}">
                            <i class="font-icon font-icon-answer"></i>
                            {{ 'Back to work' | translate }}
                        </a>
                    </li>

                    <li ng-if="ticket.loggedUserId == ticket.model.receiver_id && ticket.model.status == ticket.statuses.In_progress">
                        <a ng-click="ticket.changeStatus(ticket.statuses.Waiting_verification)"
                           title = "{{ 'Mark as done' | translate }}">
                            <i class="glyphicon glyphicon-ok"></i>
                            {{ 'Mark as done' | translate }}
                        </a>
                    </li>

                    <li ng-if="ticket.loggedUserId == ticket.model.author_id && ticket.model.status == ticket.statuses.Waiting_verification">
                        <a ng-click="ticket.changeStatus(ticket.statuses.Closed)"
                           title = "{{ 'Confirm execution' | translate }}">
                            <i class="glyphicon glyphicon-check"></i>
                            {{ 'Confirm execution' | translate }}
                        </a>
                    </li>

                    <li ng-if="ticket.loggedUserId == ticket.model.author_id">
                        <a href="ticket/{{ticket.model.id}}/update"
                           title = "{{'Update' | translate}}">
                            <i class="font-icon font-icon-pencil"></i>
                            {{ 'Update' | translate }}
                        </a>
                    </li>

                    <li ng-if="ticket.loggedUserId == ticket.model.author_id">
                        <a ng-click="ticket.delete()"
                           title = "{{'Delete' | translate}}">
                            <i class="font-icon font-icon-trash"></i>
                            {{ 'Delete' | translate }}
                        </a>
                    </li>
                </ul>
            </section><!--.proj-page-section-->
        </section>
    </div>
</div>
