<div ng-include="'views/modules/dialog/dialog/modals/createDialogModal.html'"></div>

<!-- add new user modal -->
<div class="modal fade dialogs add-user-modal" id="addUserModal"
     tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{'Add' | translate}}</h4>
            </div>
            <div class="modal-body">
                <form name="addUserForm" novalidate>

                    <div class="form-group custom-typeahead">
                        <div class="input-group">
                            <input type="text"
                                   ng-model="dialog.dialogNewUser"
                                   ng-model-options="{ debounce: 500 }"
                                   placeholder="{{'Choose user from list' | translate}}"
                                   uib-typeahead="user as user.fullName for user in dialog.getUsersByName($viewValue)"
                                   typeahead-popup-template-url="/frontend/views/common/typeahead-popup-template.html"
                                   class="form-control">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-search"></span>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button"
                        ng-click="dialog.addUserToDialog()"
                        class="btn btn-success">
                    {{'Add' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="box-typical chat-container mail-box dialogs">

    <header class="mail-box-header">
        <div class="mail-box-header-left">
            <button type="button"
                    ng-click="dialog.createDialog()"
                    class="btn write">
                {{'Create dialog' | translate}}
            </button>
        </div>
        <div class="mail-box-header-right">
            <div class="dropdown dropdown-notification messages">
                <i class="font-icon glyphicon glyphicon-plus btn-icon dialog-action-btn"
                   data-toggle="modal"
                   data-target="#addUserModal"
                   title="{{'Add user to dialog' | translate}}">
                </i>
                <i class="font-icon font-icon-user btn-icon dialog-users-btn"
                   title="{{'Dialog users' | translate}}"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                </i>
                <div class="dropdown-menu dropdown-menu-right keep-open-on-click">
                    <div class="dialog-users"
                         ng-repeat="user in dialog.currentDialog.dialogUsers">
                        <div class="dropdown-item">
                            <div class="overflow-hidden">
                                <div class="float-right">
                                    <span class="float-right remove-btn glyphicon glyphicon-remove"
                                        ng-if="dialog.isDialogEditable"
                                        ng-click="dialog.removeUserFromDialog(user.id)"
                                        aria-hidden="true"></span>
                                </div>
                                <div class="overflow-hidden m-r-lg">
                                    <a href="/user/{{user.id}}">
                                        <img class="user-image" src="{{user.profile.profileImageFullPath}}">
                                        {{user.fullName}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <i class="font-icon glyphicon glyphicon-remove btn-icon dialog-action-btn leave-btn"
                   ng-click="dialog.leaveDialog()"
                   title="{{'Leave dialog' | translate}}">
                </i>
            </div>
        </div>
    </header><!--.mail-box-header-->

    <section class="chat-list">
        <div class="chat-list-in scrollable-block">
            <div class="chat-list-item"
                 ng-class="{ 'selected': dialog.currentDialog.id == d.id }"
                 ng-click="dialog.openDialog(d.id)"
                 ng-repeat="d in dialog.list">
                <div class="chat-list-item-photo">
                    <a href="/user/{{d.lastMessage.user.id}}">
                        <img src="{{d.lastMessage.user.profile.profileImageFullPath}}" alt="">
                    </a>
                </div>
                <div class="chat-list-item-header">
                    <div class="chat-list-item-name">
                        <span class="name">
                            <span class="user-item">
                                <a href="/user/{{d.lastMessage.user.id}}">
                                    {{d.lastMessage.user.fullName}}
                                </a>
                            </span>
                        </span>
                        <span class="subject">{{d.subject}}</span>
                    </div>
                    <div class="chat-list-item-date">{{d.lastMessage.updatedTime}}</div>
                </div>

                <div class="chat-list-item-cont">
                    <div class="chat-list-item-txt dialog-last-msg">
                        {{d.lastMessage.message}}
                    </div>
                    <div class="chat-list-item-count"
                         ng-if="d.unreadMessagesCount > 0">
                        {{d.unreadMessagesCount}}
                    </div>
                </div>
            </div>

        </div><!--.chat-list-in-->
    </section><!--.chat-list-->

    <section class="chat-area">
        <div class="chat-area-in">
            <div class="chat-area-header dialog-subject"
                 contenteditable="{{dialog.isDialogEditable}}"
                 ng-keypress="dialog.onSubjectChange($event)"
                 ng-model="dialog.currentDialog.subject"
                 ng-blur="dialog.onSubjectBlur()">
            </div><!--.chat-area-header-->

            <div class="chat-dialog-area custom-scroll"
                 id="dialog-chat">

                <!--<div class="mail-box-letter-item unread">-->
                <div class="mail-box-letter-item"
                     ng-class="{ 'unread': m.isUnread}"
                     ng-repeat="m in dialog.messages">
                    <div class="mail-box-letter-item-in">
                        <div class="mail-box-letter-item-photo">
                            <span class="user-item">
                                <a href="/user/{{m.user.id}}">
                                    <img src="{{m.user.profile.profileImageFullPath}}" alt="">
                                </a>
                            </span>
                        </div>
                        <div class="mail-box-letter-item-header tbl">
                            <div class="tbl-row">
                                <div class="tbl-cell tbl-cell-name">
                                    <span class="user-item">
                                        <a href="/user/{{m.user.id}}">
                                            {{m.user.fullName}}
                                        </a>
                                    </span>
                                </div>
                                <div class="tbl-cell tbl-cell-date">{{m.updated_at}}</div>
                            </div>
                        </div>
                        <div class="mail-box-letter-item-txt" ng-bind-html="m.message"></div>
                        <div class="mgs-files"
                             ng-if="m.fullPathFileAttachments">
                            <div ng-repeat="file in m.fullPathFileAttachments">
                                <a href="{{file.path}}" download target="_self">{{file.name}}</a>
                            </div>
                        </div>
                    </div>
                </div><!--.mail-box-letter-item-->

            </div><!--.chat-dialog-area-->

            <div class="chat-area-bottom">

                <div class="dialog-write-message chat-list-item" ng-if="dialog.usersWriteMessages">
                    <div class="chat-list-item-txt writing">
                        <div class="icon">
                            <i class="font-icon font-icon-pencil-thin"></i>
                        </div>
                        <span>{{dialog.usersWriteMessages}}</span>
                    </div>
                </div>

                <form class="write-message">
                    <div class="avatar">
                        <img src="{{dialog.currentUser.profile.profileImageFullPath}}" alt="">
                    </div>
                    <div class="form-group">
                        <textarea rows="2"
                                  ng-model="dialog.newMessage"
                                  ng-click="dialog.markMassagesAsRead()"
                                  ng-keyup="dialog.newMessageKeyUp($event)"
                                  ng-change="dialog.writeMessageDebounce()"
                                  class="form-control"
                                  placeholder="{{'Type a message' | translate}}">
                        </textarea>
                    </div>

                    <button type="submit"
                            class="btn btn-rounded float-left"
                            ng-click="dialog.sendMessage()">
                        {{'Send' | translate}}
                    </button>

                    <!--<button type="reset"-->
                            <!--class="btn btn-rounded btn-default float-left">-->
                        <!--{{'Clear' | translate}}-->
                    <!--</button>-->

                    <div class="attached-files">
                        <input type="file"
                               class="filestyle"
                               file-model="newMessageAttachedFiles"
                               multiple/>
                    </div>

                </form>
            </div><!--.chat-area-bottom-->
        </div><!--.chat-area-in-->
    </section><!--.chat-area-->
</div><!--.chat-container-->