<div>

    <a href="/englishLanguageLevel/create"
       class="btn btn-primary list-create-btn"
       auth-can="language.create">
        {{'Create' | translate}}
    </a>

    <div class="box-typical table-wrapper">
        <table ng-table="englishLanguageLevel.tableParams"
               template-pagination="/frontend/views/common/table-pagination-template.html"
               class="table table-bordered table-hover"
               show-filter="true">
            <tr ng-repeat="l in $data">
                <td title="'№'" class="td-col-8 text-center">
                    {{ ((englishLanguageLevel.tableParams.page() - 1) * englishLanguageLevel.tableParams.count()) + $index + 1 }}
                </td>
                <td data-title="'Title' | translate" filter="{ name: 'text'}" sortable="'name'">
                    {{l.name}}
                </td>
                <td title="'Actions' | translate" class="td-col-20 text-center actions">
                    <a href="/englishLanguageLevel/{{ l.id }}"
                       class="action-icon"
                       auth-can="language.read">
                        <i class="glyphicon glyphicon-eye-open" aria-hidden="true" title="{{'View' | translate}}"></i>
                    </a>
                    <a href="/englishLanguageLevel/{{ l.id }}/update"
                       class="action-icon"
                       auth-can="language.update">
                        <i class="glyphicon glyphicon-pencil" aria-hidden="true" title="{{'Update' | translate}}"></i>
                    </a>
                    <a href=""
                       class="action-icon"
                       ng-click="englishLanguageLevel.delete(l.id)"
                       auth-can="language.delete">
                        <i class="glyphicon glyphicon-trash" aria-hidden="true" title="{{'Delete' | translate}}"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

