<section class="box-typical proj-page">
    <section class="proj-page-section proj-page-header">
        <div class="title">
            {{ 'English language level' | translate }}: {{englishLanguageLevel.model.name}}
            <a auth-can="department.update" type="button" href="/englishLanguageLevel/{{englishLanguageLevel.model.id}}/update" class="comment-row-item-action edit">
                <i class="font-icon font-icon-pencil"></i>
            </a>
        </div>
    </section><!--.proj-page-section-->

    <section class="proj-page-section">
        <div class="proj-page-txt">
            <header class="proj-page-subtitle">
                <h3>{{'Statistics' | translate}}</h3>
            </header>
            <div class="row">
                <div class="col-lg-12 progress-compact-style-modified">
                    <p>{{englishLanguageLevel.statistic.employeesPercent | number:2 }}% {{'employees_genitiveCase' | translate}} {{'with this level of english' | translate}}</p>
                    <progress class="progress progress-success"
                              value="{{englishLanguageLevel.statistic.employeesPercent | number:0}}"
                              max="100">
                        {{englishLanguageLevel.statistic.employeesPercent | number:0}}
                    </progress>
                </div>
            </div>
        </div>
    </section><!--.proj-page-section-->

    <section class="proj-page-section">
        <header class="proj-page-subtitle">
            <h3>{{'Employees' | translate}} {{'with this level of english' | translate}}</h3>
        </header>
        <div class="comment-rows-container scrollable-block">
            <div class="comment-row-item" ng-if="englishLanguageLevel.statistic.employees.length > 0" ng-repeat="employee in englishLanguageLevel.statistic.employees">
                <div class="avatar-preview avatar-preview-32">
                    <a href="/user/{{employee.id}}">
                        <img src="{{employee.profile.profileImageFullPath}}" alt="">
                    </a>
                </div>
                <div class="tbl comment-row-item-header">
                    <div class="tbl-row">
                        <div class="tbl-cell tbl-cell-name">
                            <a href="/user/{{employee.id}}">
                                {{employee.fullName}}
                            </a>
                            <span class="gray-icon">
                                (
                                    <span ng-if="employee.profile.rank">{{employee.profile.rankAsString}}</span>
                                    <span ng-if="employee.rolesAsArray">{{employee.rolesAsString}}</span>
                                    <span ng-if="employee.profile.rating"> - {{employee.profile.rating}}/10</span>
                                )
                            </span>
                        </div>
                        <div class="tbl-cell tbl-cell-date">{{'In company from' | translate}} {{employee.created_at | date: "DD-MM-yyyy"}}</div>
                    </div>
                </div>

                <div class="comment-row-item-content">
                    <p ng-if="employee.email">{{employee.email}}</p>
                    <span ng-if="employee.profile.status">
                        <span class="label label-primary" ng-if="employee.profile.status == department.employmentStatuses.Free">
                            {{employee.profile.statusAsString | translate}}
                        </span>
                        <span class="label label-danger" ng-if="employee.profile.status != department.employmentStatuses.Free">
                            {{employee.profile.statusAsString | translate}}
                        </span>
                    </span>
                    <a type="button" href="/user/{{employee.id}}" class="comment-row-item-action edit">
                        <i class="font-icon font-icon-eye"></i>
                    </a>
                </div>
            </div><!--.comment-row-item-->
            <div class="comment-row-item" ng-if="englishLanguageLevel.statistic.employees.length == 0">
                {{'No employees' | translate }} {{'with this level of english' | translate}}
            </div>
        </div><!--.comment-rows-container-->
    </section><!--.proj-page-attach-section-->
</section><!--.proj-page-->