<div>

    <a href="/rank/create"
       class="btn btn-primary list-create-btn"
       auth-can="rank.create">
        {{'Create' | translate}}
    </a>

    <div class="box-typical table-wrapper">
        <table ng-table="rank.tableParams"
               template-pagination="/frontend/views/common/table-pagination-template.html"
               class="table table-bordered table-hover"
               show-filter="true">
            <tr ng-repeat="t in $data">
                <td title="'№'" class="td-col-8 text-center">
                    {{ ((rank.tableParams.page() - 1) * rank.tableParams.count()) + $index + 1 }}
                </td>
                <td data-title="'Title' | translate"
                    filter="{ name: 'text'}"
                    sortable="'name'">
                    {{t.name}}
                </td>
                <td title="'Actions' | translate"
                    class="td-col-20 text-center actions">
                    <a href="/rank/{{ t.id }}"
                       class="action-icon"
                       auth-can="rank.read">
                        <i class="glyphicon glyphicon-eye-open"
                           aria-hidden="true"
                           title="{{'View' | translate}}">
                        </i>
                    </a>
                    <a href="/rank/{{ t.id }}/update"
                       class="action-icon"
                       auth-can="rank.update">
                        <i class="glyphicon glyphicon-pencil"
                           aria-hidden="true"
                           title="{{'Update' | translate}}">
                        </i>
                    </a>
                    <a href=""
                       class="action-icon"
                       ng-click="rank.delete(t.id)"
                       auth-can="rank.delete">
                        <i class="glyphicon glyphicon-trash"
                           aria-hidden="true"
                           title="{{'Delete' | translate}}">
                        </i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
