<div class="page-center">
    <div class="container-fluid">
        <form class="sign-box" name="form" novalidate>
            <div class="sign-avatar">
                <img src="theme/img/avatar-sign.png" alt="">
            </div>
            <header class="sign-title">{{'Sign In' | translate}}</header>

            <fieldset class="form-group"
                      ng-class="{ 'form-group-error': form.username.$invalid && form.username.$dirty }">
                <input type="text"
                       ng-model="login.model.username"
                       placeholder="{{'Username' | translate}}"
                       name="username"
                       class="form-control"
                       required>
                <small class="text-muted"
                       ng-if="form.username.$invalid && form.username.$dirty">
                    {{'Username must not be empty' | translate}}
                </small>
            </fieldset>

            <fieldset class="form-group"
                      ng-class="{ 'form-group-error': form.password.$invalid && form.password.$dirty }">
                <input type="password"
                       ng-model="login.model.password"
                       class="form-control"
                       placeholder="{{'Password' | translate}}"
                       name="password"
                       required>
                <small class="text-muted"
                       ng-if="form.password.$invalid && form.password.$dirty">
                    {{'Password must not be empty' | translate}}
                </small>
            </fieldset>

            <div class="form-group">
                <div class="checkbox float-left">
                    <input type="checkbox"
                           ng-model="login.model.rememberMe"
                           id="remember-me"
                           checked/>
                    <label for="remember-me">{{'Remember me' | translate}}</label>
                </div>
            </div>
            <button type="submit"
                    class="btn btn-rounded"
                    ng-click="login.login()"
                    ng-disabled="!form.$valid">{{'Sign In' | translate}}</button>
            <!--<button type="button" class="close">
                <span aria-hidden="true">&times;</span>
            </button>-->
        </form>
    </div>
</div><!--.page-center-->