<div id="addDevelopersModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content add-developer">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">{{"Add developer" | translate}}</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8">
                        <div ng-repeat="developer in project.model.developersFullList"  class="developer-item">
                            <div class="checkbox-bird grey">
                                <input type="checkbox"
                                       id="dev-{{developer.id}}"
                                       ng-model="developer.active"
                                       name="developers[]"/>
                                <label for="dev-{{developer.id}}">{{developer.fullName}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div ng-repeat="developer in project.model.developersFullList" class="developer-item">
                            <fieldset class="form-group">
                                <input type="number"
                                       name="rate"
                                       ng-model="developer.rate"
                                       ng-disabled="!developer.active"
                                       placeholder="{{'Rate' | translate}}"
                                       class="form-control">
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div ng-repeat="developer in project.model.developersFullList" class="developer-item">
                            <fieldset class="form-group">
                                <select type="number"
                                       name="currency"
                                       ng-model="developer.currency"
                                       ng-disabled="!developer.active"
                                       placeholder="{{'Currency' | translate}}"
                                       class="form-control"
                                       ng-options="currency.id as currency.name for currency in project.currencies">
                                </select>
                            </fieldset>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button
                        data-dismiss="modal"
                        ng-click="project.addDevelopers()"
                        class="btn btn-primary">
                    {{ "Add developers" | translate }}
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{"Close" | translate}}</button>
            </div>
        </div>
    </div>
</div>