<div id="passProjectModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content pass-project">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">{{"Pass project" | translate}}</h3>
            </div>
            <div class="modal-body">
                <form name="form" class="row form-horizontal" novalidate>

                    <fieldset class="form-group">
                        <label class="form-label required">
                            {{'Sales' | translate}}
                        </label>
                        <div class="custom-typeahead">
                            <div class="input-group">
                                <input type="text"
                                       ng-model="project.salesObject"
                                       ng-model-options="{ debounce: 500 }"
                                       placeholder="{{'Choose user from list' | translate}}"
                                       uib-typeahead="user as user.fullName for user in project.getSalesAsObject($viewValue)"
                                       typeahead-popup-template-url="/frontend/views/common/typeahead-popup-template.html"
                                       class="form-control">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-search"></span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button
                        data-dismiss="modal"
                        ng-click="project.pass()"
                        class="btn btn-primary">
                    {{ "Pass project" | translate }}
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{"Close" | translate}}</button>
            </div>
        </div>
    </div>
</div>