<div id="rateProjectModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">{{"Rate the project" | translate}}</h3>
            </div>
            <div class="modal-body">
                <form name="formModalRate" class="row form-horizontal" novalidate>
                    <fieldset class="form-group"
                              ng-class="{ 'form-group-error': form.time.$invalid && form.time.$dirty }">
                        <label for="time"
                               class="col-xs-2 control-label">
                            {{'Set time' | translate}}
                        </label>
                        <div class="col-xs-10">
                            <div class="form-group">
                                <div class="input-group">
                                    <input ng-model="project.selectModel.time"
                                           placeholder="{{'Comment' | translate}}"
                                           type="text"
                                           pattern=".{1,255}"
                                           name="time"
                                           id="time"
                                           class="form-control"
                                           required>
                                    <div class="input-group-addon">
                                        {{'hours' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-disabled="!formModalRate.$valid"
                        ng-click="project.rate()"
                        class="btn btn-success"
                        data-dismiss="modal">
                    {{ "Send" | translate }}
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{"Close" | translate}}</button>
            </div>
        </div>
    </div>
</div>