<div id="rejectProjectModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">{{"Reject the project" | translate}}</h3>
            </div>
            <div class="modal-body">
                <form name="formModalReject" class="row form-horizontal" novalidate>
                    <fieldset class="form-group"
                              ng-class="{ 'form-group-error': form.reject_reason.$invalid && form.reject_reason.$dirty }">
                        <label for="reject_reason"
                               class="col-xs-2 control-label">
                            {{'Specify a reason' | translate}}
                        </label>
                        <div class="col-xs-10">
                            <input ng-model="project.selectModel.reject_reason"
                                   placeholder="{{'Comment' | translate}}"
                                   type="text"
                                   pattern=".{1,255}"
                                   name="reject_reason"
                                   id="reject_reason"
                                   class="form-control"
                                   required>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-disabled="!formModalReject.$valid"
                        ng-click="project.reject()"
                        class="btn btn-success"
                        data-dismiss="modal">
                    {{ "Send" | translate }}
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{"Close" | translate}}</button>
            </div>
        </div>
    </div>
</div>