<form name="form" class="row form-horizontal" novalidate>

    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 box-typical box-typical-padding">

        <h5 class="with-border" >{{mainController.title | translate}}</h5>

        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.name.$invalid && form.name.$dirty }">
            <label class="form-label required"
                   for="name">
                {{'Name' | translate}}
            </label>
            <input ng-model="role.model.name"
                   placeholder="{{'Name' | translate}}"
                   type="text"
                   pattern=".{1,255}"
                   name="name"
                   id="name"
                   class="form-control"
                   required>
            <small class="text-muted"
                   ng-if="form.name.$invalid && form.name.$dirty">
                {{'Name is required (max length: 255)' | translate}}
            </small>
        </fieldset>

        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.description.$invalid && form.description.$dirty }">
            <label class="form-label"
                   for="description">
                {{'Description' | translate}}
            </label>
            <textarea ng-model="role.model.description"
                   placeholder="{{'Description' | translate}}"
                   type="text"
                   name="description"
                   id="description"
                   class="form-control">
            </textarea>
            <small class="text-muted"
                   ng-if="form.description.$invalid && form.description.$dirty">
                {{'Description is required (max length: 255)' | translate}}
            </small>
        </fieldset>

        <fieldset class="form-group">
            <label class="form-label"
                   for="ruleName">
                {{'Rule name' | translate}}
            </label>
            <select ng-model="role.model.ruleName"
                    name="ruleName"
                    id="ruleName"
                    class="form-control"
                    ng-options="rule.name as rule.name for rule in role.rules">
                <option value="">{{'Not set' | translate}}</option>
            </select>
        </fieldset>

        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.data.$invalid && form.data.$dirty }">
            <label class="form-label"
                   for="data">
                {{'Data' | translate}}
            </label>
            <textarea ng-model="role.model.data"
                      placeholder="{{'Data' | translate}}"
                      type="text"
                      name="data"
                      id="data"
                      class="form-control">
            </textarea>
            <small class="text-muted">
                {{'Must be valid JSON' | translate}}
            </small>
        </fieldset>

        <div class="row text-center">

            <button ng-if="role.action == role.actions.UPDATE"
                    ng-click="role.update()"
                    ng-disabled="!form.$valid || !form.$dirty"
                    class="btn btn-primary">
                {{ role.action | translate }}
            </button>

            <button ng-if="role.action == role.actions.CREATE"
                    ng-click="role.create()"
                    ng-disabled="!form.$valid"
                    class="btn btn-success">
                {{ role.action | translate }}
            </button>

        </div>

    </div>

    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

</form>