<div>

    <a href="/rbac/role/create"
       class="btn btn-primary list-create-btn"
       auth-can="rbac.all">
        {{'Create' | translate}}
    </a>

    <div class="box-typical table-wrapper">
        <table ng-table="role.tableParams"
               template-pagination="/frontend/views/common/table-pagination-template.html"
               class="table table-bordered table-hover"
               show-filter="true">
            <tr ng-repeat="r in $data">
                <td title="'№'"
                    class="td-col-8 text-center">
                    {{ ((role.tableParams.page() - 1) * role.tableParams.count()) + $index + 1 }}
                </td>
                <!--<td title="'Id'" filter="{ id: 'number'}" sortable="'id'">-->
                <!--{{r.id}}-->
                <!--</td>-->

                <td data-title="'Name' | translate"
                    filter="{ name: 'text'}"
                    sortable="'name'">
                    {{r.name}}
                </td>
                <td data-title="'Description' | translate"
                    filter="{ description: 'text'}"
                    sortable="'description'">
                    <span ng-if="r.description">{{r.description}}</span>
                    <span ng-if="!r.description" class="not-set">({{'Not set' | translate}})</span>
                </td>

                <td title="'Actions' | translate" class="td-col-20 text-center actions">
                    <a href="/rbac/role/{{ r.name }}"
                       class="action-icon"
                       auth-can="rbac.all">
                        <i class="glyphicon glyphicon-eye-open" aria-hidden="true" title="{{'View' | translate}}"></i>
                    </a>
                    <a href="/rbac/role/{{ r.name }}/update"
                       class="action-icon"
                       auth-can="rbac.all">
                        <i class="glyphicon glyphicon-pencil" aria-hidden="true" title="{{'Update' | translate}}"></i>
                    </a>
                    <a href=""
                       class="action-icon"
                       ng-click="role.delete(r.name)"
                       auth-can="rbac.all">
                        <i class="glyphicon glyphicon-trash" aria-hidden="true" title="{{'Delete' | translate}}"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
