<div class="row rbac-assign-page role-page">

    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="box-typical box-typical-padding">

            <h5 class="with-border" >{{mainController.title | translate}}</h5>

            <div class="prop-block">
                <span class="name">{{'Name' | translate}}:</span>
                {{role.model.name}}
            </div>
            <div class="prop-block">
                <span class="name">{{'Description' | translate}}:</span>
                <span ng-if="role.model.description">{{role.model.description}}</span>
                <span ng-if="!role.model.description" class="not-set">({{'Not set' | translate}})</span>
            </div>
            <div class="prop-block">
                <span class="name">{{'Rule name' | translate}}:</span>
                <span ng-if="role.model.ruleName">{{role.model.ruleName}}</span>
                <span ng-if="!role.model.ruleName" class="not-set">({{'Not set' | translate}})</span>
            </div>
            <div class="prop-block">
                <span class="name">{{'Data' | translate}}:</span>
                <span ng-if="role.model.data">{{role.model.data}}</span>
                <span ng-if="!role.model.data" class="not-set">({{'Not set' | translate}})</span>
            </div>

            <hr/>

            <div>
                <div class="left-block assignable-block">
                    <strong>{{'Available' | translate}}:</strong>
                    <input type="text"
                           ng-model="role.availableFilter"
                           ng-model-options="{ debounce: 1000 }"
                           ng-change="role.availableFilterChange()"
                           class="filter"
                           placeholder="{{'permission_filter_placeholder' | translate}}">
                    <select class="permissions-select custom-scroll"
                            ng-model="role.availableSelected"
                            multiple>

                        <optgroup label="{{'Roles' | translate}}"
                                  ng-if="role.available.Roles">
                            <option ng-repeat="(key, value) in role.available.Roles"
                                    value="{{key}}">
                                {{value}}
                            </option>
                        </optgroup>

                        <optgroup label="{{'Permissions' | translate}}"
                                  ng-if="role.available.Permissions">
                            <option ng-repeat="(key, value) in role.available.Permissions"
                                    value="{{key}}">
                                {{value}}
                            </option>
                        </optgroup>

                        <optgroup label="{{'Routes' | translate}}"
                                  ng-if="role.available.Routes">
                            <option ng-repeat="(key, value) in role.available.Routes"
                                    value="{{key}}">
                                {{value}}
                            </option>
                        </optgroup>

                    </select>
                </div>
                <div class="middle-block text-center actions assignable-block">
                    <button class="btn btn-success"
                            ng-click="role.assign()">
                        &#187;
                    </button>
                    <button class="btn btn-danger"
                            ng-click="role.unbind()">
                        &#171;
                    </button>
                </div>
                <div class="right-block assignable-block">
                    <strong>{{'Assigned' | translate}}:</strong>
                    <input type="text"
                           ng-model="role.assignedFilter"
                           ng-model-options="{ debounce: 1000 }"
                           ng-change="role.assignedFilterChange()"
                           class="filter"
                           placeholder="{{'permission_filter_placeholder' | translate}}">
                    <select class="permissions-select custom-scroll"
                            ng-model="role.assignedSelected"
                            multiple>

                        <optgroup label="{{'Roles' | translate}}"
                                  ng-if="role.assigned.Roles">
                            <option ng-repeat="(key, value) in role.assigned.Roles"
                                    value="{{key}}">
                                {{value}}
                            </option>
                        </optgroup>

                        <optgroup label="{{'Permissions' | translate}}"
                                  ng-if="role.assigned.Permissions">
                            <option ng-repeat="(key, value) in role.assigned.Permissions"
                                    value="{{key}}">
                                {{value}}
                            </option>
                        </optgroup>

                        <optgroup label="{{'Routes' | translate}}"
                                  ng-if="role.assigned.Routes">
                            <option ng-repeat="(key, value) in role.assigned.Routes"
                                    value="{{key}}">
                                {{value}}
                            </option>
                        </optgroup>

                    </select>
                </div>
            </div>

        </div>
    </div>
</div>