<form name="form" class="row form-horizontal" novalidate>

    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 box-typical box-typical-padding">

        <h5 class="with-border" >{{mainController.title | translate}}</h5>

        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.name.$invalid && form.name.$dirty }">
            <label class="form-label required"
                   for="name">
                {{'Title' | translate}}
            </label>
            <input ng-model="technology.model.name"
                   placeholder="{{'Title' | translate}}"
                   type="text"
                   pattern=".{1,255}"
                   name="name"
                   id="name"
                   class="form-control"
                   required>
            <small class="text-muted"
                   ng-if="form.name.$invalid && form.name.$dirty">
                {{'Title is required (max length: 255)' | translate}}
            </small>
        </fieldset>

        <div class="row text-center">

            <button ng-if="technology.action == technology.actions.UPDATE"
                    ng-click="technology.update()"
                    ng-disabled="!form.$valid || !form.$dirty"
                    class="btn btn-primary">
                {{ technology.action | translate }}
            </button>

            <button ng-if="technology.action == technology.actions.CREATE"
                    ng-click="technology.create()"
                    ng-disabled="!form.$valid"
                    class="btn btn-success">
                {{ technology.action | translate }}
            </button>

        </div>

    </div>

    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

</form>