<section class="box-typical technology-page">
    <section class="header proj-page-section proj-page-header">
        <div class="title">
            {{ 'Technology' | translate }}: {{technology.model.name}}
            <a auth-can="technology.update" type="button" href="/technology/{{technology.model.id}}/update" class="comment-row-item-action edit">
                <i class="font-icon font-icon-pencil"></i>
            </a>
        </div>
    </section><!--.proj-page-section-->

    <section class="proj-page-section">
        <div class="proj-page-txt">
            <header class="proj-page-subtitle">
                <h3>{{'Statistics' | translate}}</h3>
            </header>
            <div class="row">
                <div class="col-lg-4 progress-compact-style-modified">
                    <p>{{technology.statistic.technologyProjectPercent  | number:2 }}% {{'Projects with technology' | translate}}</p>
                    <progress class="progress"
                              progress-indicator="technology.statistic.technologyProjectPercent"
                              value="{{technology.statistic.technologyProjectPercent | number:0}}"
                              max="100">
                        {{technology.statistic.technologyProjectPercent | number:0}}
                    </progress>
                </div>
                <div class="col-lg-4 progress-compact-style-modified">
                    <p>{{technology.statistic.technologyPopularityPercent  | number:2 }}% {{'Popularity relative to other technologies' | translate}}</p>
                    <progress class="progress"
                              progress-indicator="technology.statistic.technologyPopularityPercent"
                              value="{{technology.statistic.technologyPopularityPercent | number:0}}"
                              max="100">
                        {{technology.statistic.technologyPopularityPercent | number:0}}
                    </progress>
                </div>
                <div class="col-lg-4 progress-compact-style-modified">
                    <p>{{technology.statistic.averageKnowledgeRating  | number:1 }} / 10 - {{'Average technology knowledge rating' | translate}}</p>
                    <progress class="progress"
                              progress-indicator="technology.statistic.averageKnowledgeRating"
                              value="{{technology.statistic.averageKnowledgeRating | number:0}}"
                              max="10">
                        {{technology.statistic.averageKnowledgeRating | number:0}}
                    </progress>
                </div>
                <div class="col-lg-4 progress-compact-style-modified">

                </div>
            </div>
        </div>
    </section><!--.proj-page-section-->

    <section class="proj-page-section">
        <header class="proj-page-subtitle">
            <h3>{{ 'Employees, which work with this technology' | translate }}</h3>
        </header>

        <div class="comment-rows-container scrollable-block custom-scroll">
            <div class="comment-row-item" ng-if="technology.statistic.employees.length > 0" ng-repeat="employee in technology.statistic.employees">
                <div class="avatar-preview avatar-preview-32">
                    <a href="/user/{{employee.id}}">
                        <img src="{{employee.profile.profileImageFullPath}}" alt="">
                    </a>
                </div>
                <div class="tbl comment-row-item-header">
                    <div class="tbl-row">
                        <div class="tbl-cell tbl-cell-name">
                            <a href="/user/{{employee.id}}">
                                {{employee.fullName}}
                            </a>
                            <span class="gray-icon">
                                (
                                    <span ng-if="employee.profile.rank">{{employee.profile.rankAsString}}</span>
                                    <span ng-if="employee.rolesAsArray">{{employee.rolesAsString}}</span>
                                    <span ng-if="employee.profile.rating"> - {{employee.profile.rating}}/10</span>
                                )
                            </span>
                        </div>
                    </div>
                </div>
                <div class="comment-row-item-content">
                    <p ng-if="employee.email">{{employee.email}}</p>
                    <span ng-if="employee.profile.status">
                        <span class="label label-primary" ng-if="employee.profile.status == technology.employmentStatuses.Free">
                            {{employee.profile.statusAsString | translate}}
                        </span>
                        <span class="label label-danger" ng-if="employee.profile.status != technology.employmentStatuses.Free">
                            {{employee.profile.statusAsString | translate}}
                        </span>
                    </span>
                    <a type="button" href="/user/{{employee.id}}" class="comment-row-item-action edit">
                        <i class="font-icon font-icon-eye"></i>
                    </a>
                </div>
            </div><!--.comment-row-item-->
            <div class="comment-row-item" ng-if="technology.statistic.employees.length == 0">
                {{'There are no users, which work with this technology' | translate}}
            </div>
        </div><!--.comment-rows-container-->
    </section><!--.proj-page-attach-section-->
</section><!--.proj-page-->