<form name="form" class="row form-horizontal" novalidate>

    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 box-typical box-typical-padding">

        <h5 class="with-border" >{{mainController.title | translate}}</h5>

        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.route.$invalid && form.route.$dirty }">
            <label class="form-label required"
                   for="route">
                {{'Route' | translate}}
            </label>
            <input ng-model="route.model.route"
                   placeholder="{{'Route' | translate}}"
                   type="text"
                   pattern=".{1,255}"
                   name="route"
                   id="route"
                   class="form-control"
                   required>
            <small class="text-muted"
                   ng-if="form.route.$invalid && form.route.$dirty">
                {{'Field is required' | translate}}
            </small>
        </fieldset>

        <div class="row text-center">

            <button ng-if="route.action == route.actions.CREATE"
                    ng-click="route.create()"
                    ng-disabled="!form.$valid"
                    class="btn btn-success">
                {{ 'Create' | translate }}
            </button>

        </div>

    </div>

    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

</form>