<div class="row rbac-assign-page route-page">

    <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <div class="box-typical box-typical-padding">

            <h5 class="with-border" >{{mainController.title | translate}}</h5>

            <div>
                <div class="left-block assignable-block">
                    <strong>{{'Available' | translate}}:</strong>
                    <input type="text"
                           ng-model="route.availableFilter"
                           ng-model-options="{ debounce: 1000 }"
                           ng-change="route.availableFilterChange()"
                           class="filter"
                           placeholder="{{'permission_filter_placeholder' | translate}}">

                    <i class="action-icon glyphicon glyphicon-refresh"
                       ng-click="route.refresh()"
                       aria-hidden="true"
                       title="{{'Refresh' | translate}}">
                    </i>

                    <select class="permissions-select custom-scroll"
                            ng-model="route.availableSelected"
                            multiple>

                        <option ng-repeat="(key, value) in route.available"
                                value="{{key}}">
                                {{key}}
                        </option>

                    </select>
                </div>
                <div class="middle-block text-center actions assignable-block">
                    <button class="btn btn-success"
                            ng-click="route.assign()">
                        &#187;
                    </button>
                    <button class="btn btn-danger"
                            ng-click="route.unbind()">
                        &#171;
                    </button>
                </div>
                <div class="right-block assignable-block">
                    <strong>{{'Assigned' | translate}}:</strong>
                    <input type="text"
                           ng-model="route.assignedFilter"
                           ng-model-options="{ debounce: 1000 }"
                           ng-change="route.assignedFilterChange()"
                           class="filter"
                           placeholder="{{'permission_filter_placeholder' | translate}}">

                    <a href="/rbac/route/create">
                        <i class="action-icon glyphicon glyphicon-plus"
                           aria-hidden="true"
                           title="{{'Create' | translate}}">
                        </i>
                    </a>

                    <select class="permissions-select custom-scroll"
                            ng-model="route.assignedSelected"
                            multiple>

                        <option ng-repeat="(key, value) in route.assigned"
                                value="{{key}}">
                            {{key}}
                        </option>

                    </select>
                </div>
            </div>

        </div>
    </div>
</div>