<div id="changeStatusModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">{{"Change status" | translate}}</h3>
                </div>
                <div class="modal-body">
                    <form name="form" class="row form-horizontal" novalidate>
                        <!-- status field -->
                        <fieldset class="form-group"
                                  ng-class="{ 'form-group-error': form.status.$invalid && form.status.$dirty }">
                            <label for="status"
                                   class="col-xs-2 control-label">
                                {{'Status' | translate}}
                            </label>
                            <div class="col-xs-10">
                                <select ng-model="ticket.model.status"
                                        name="status"
                                        id="status"
                                        class="form-control"
                                        required>
                                    <option ng-repeat="(title, id) in ticket.statuses" value = "{{id}}">{{title | replace : '_' : ' ' : true | translate}}</option>
                                </select>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button
                            ng-disabled="!form.$dirty"
                            data-dismiss="modal"
                            ng-click="ticket.update()"
                            class="btn btn-primary">
                        {{ "Update" | translate }}
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{"Close" | translate}}</button>
                </div>
        </div>
    </div>
</div>