<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{'Add comment' | translate}}</h4>
            </div>
            <div class="modal-body">
                <form name="commentForm"  novalidate>

                    <fieldset class="form-group"
                              ng-if="ticket.modalScenario == 'create'">
                        <label class="form-label required"
                               for="newComment">
                            {{'Comment' | translate}}
                        </label>
                        <div ckeditor="ticket.ckEditorOptions"
                             ng-model="ticket.newCommentModel.message"
                             name="message"
                             id="newComment"
                             required>
                        </div>
                    </fieldset>

                    <fieldset class="form-group"
                              ng-if="ticket.modalScenario == 'update'">
                        <label class="form-label required"
                               for="editableComment">
                            {{'Comment' | translate}}
                        </label>
                        <div ckeditor="ticket.ckEditorOptions"
                             ng-model="ticket.editableCommentModel.message"
                             name="message"
                             id="editableComment"
                             required>
                        </div>
                    </fieldset>

                </form>
            </div>
            <div class="modal-footer text-center">

                <button type="button"
                        ng-if="ticket.modalScenario == 'create'"
                        ng-disabled="!commentForm.$valid || !commentForm.$dirty"
                        ng-click="ticket.createNewComment()"
                        class="btn btn-success">
                    {{'Save' | translate}}
                </button>

                <button type="button"
                        ng-if="ticket.modalScenario == 'update'"
                        ng-disabled="!commentForm.$valid || !commentForm.$dirty"
                        ng-click="ticket.updateOldComment()"
                        class="btn btn-success">
                    {{'Save' | translate}}
                </button>

            </div>
        </div>
    </div>
</div>