<div>

    <a href="/currency/create"
       class="btn btn-primary list-create-btn"
       auth-can="currency.create">
        {{'Create' | translate}}
    </a>

    <div class="box-typical table-wrapper">
        <table ng-table="currency.tableParams"
               template-pagination="/frontend/views/common/table-pagination-template.html"
               class="table table-bordered table-hover"
               show-filter="true">
            <tr ng-repeat="c in $data">
                <td title="'№'" class="td-col-8 text-center">
                    {{ ((currency.tableParams.page() - 1) * currency.tableParams.count()) + $index + 1 }}
                </td>

                <td data-title="'Title' | translate" filter="{ name: 'text'}" sortable="'name'">
                    {{c.name}}
                </td>
                <td data-title="'Rate' | translate" filter="{ rate: 'text'}" sortable="'rate'">
                    {{c.rate}}
                </td>
                <td title="'Actions' | translate" class="td-col-20 text-center actions">
                    <a href="/currency/{{ c.id }}"
                       class="action-icon"
                       auth-can="currency.read">
                        <i class="glyphicon glyphicon-eye-open" aria-hidden="true" title="{{'View' | translate}}"></i>
                    </a>
                    <a href="/currency/{{ c.id }}/update"
                       class="action-icon"
                       auth-can="currency.update">
                        <i class="glyphicon glyphicon-pencil" aria-hidden="true" title="{{'Update' | translate}}"></i>
                    </a>
                    <a href=""
                       class="action-icon"
                       ng-click="currency.delete(c.id)"
                       auth-can="currency.delete">
                        <i class="glyphicon glyphicon-trash" aria-hidden="true" title="{{'Delete' | translate}}"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
