<form name="form" class="row form-horizontal" novalidate>

    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 box-typical box-typical-padding">

        <h5 class="with-border" >{{'Currency' | translate}}: {{currency.model.name}}</h5>

        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.name.$invalid && form.name.$dirty }">
            <label class="form-label required"
                   for="name">
                {{'Title' | translate}}
            </label>
            <input ng-model="currency.model.name"
                   placeholder="{{'Title' | translate}}"
                   type="text"
                   pattern=".{1,255}"
                   unique-field="name"
                   unique-field-url-check="/api/currency/check-currency-unique-field"
                   unique-field-except="{{currency.oldModel.name}}"
                   name="name"
                   id="name"
                   class="form-control"
                   required>
            <small class="text-muted"
                   ng-if="form.name.$invalid && form.name.$dirty">
                {{'Title is required (max length: 255)' | translate}}
            </small>
        </fieldset>

        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.rate.$invalid && form.rate.$dirty }">
            <label class="form-label required"
                   for="rate">
                {{'Rate' | translate}}
            </label>
            <input ng-model="currency.model.rate"
                   placeholder="{{'Rate' | translate}}"
                   type="number"
                   name="rate"
                   id="rate"
                   class="form-control"
                   required>
            <small class="text-muted"
                   ng-if="form.rate.$invalid && form.rate.$dirty">
                {{'Rate is required' | translate}}
            </small>
        </fieldset>

        <div class="row text-center">

            <button ng-if="currency.action == currency.actions.UPDATE"
                    ng-click="currency.update()"
                    ng-disabled="!form.$valid || !form.$dirty"
                    class="btn btn-primary">
                {{ currency.action | translate }}
            </button>

            <button ng-if="currency.action == currency.actions.CREATE"
                    ng-click="currency.create()"
                    ng-disabled="!form.$valid"
                    class="btn btn-success">
                {{ currency.action | translate }}
            </button>

        </div>

    </div>

    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

</form>