<div>
    <button ng-click="payment.saveChanges();"
            class="btn btn-primary list-create-btn">
        {{'Save' | translate}}
    </button>
    <button ng-click="payment.cancelChanges();"
            class="btn btn-default list-create-btn"
            auth-can="payment.delete">
        {{'Cancel' | translate}}
    </button>
    <button ng-click="payment.changePaymentStatusForPaymentsList(2)"
            ng-disabled="!payment.canModifyChecked"
            class="btn btn-success list-create-btn"
            auth-can="payment.create">
        {{'Pay' | translate}}
    </button>
    <button ng-click="payment.changePaymentStatusForPaymentsList(1)"
            ng-disabled="!payment.canModifyChecked"
            class="btn btn-info list-create-btn"
            auth-can="payment.create">
        {{'Assessment' | translate}}
    </button>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <fieldset class="form-group">
                <label class="form-label semibold"
                       for="date_from">
                    {{'From date' | translate}}:
                </label>
                <div class='input-group date'>
                    <input type='text'
                           pattern="[0-9]{4}-[0-9]{2}"
                           ng-model="payment.date_from"
                           date-time-picker
                           dtp-date-format="YYYY-MM"
                           dtp-locale="{{mainController.currentLang}}"
                           name="date_from"
                           id="date_from"
                           class="form-control date_range"
                            />
                    <span class="input-group-addon">
                        <i class="font-icon font-icon-calend"></i>
                    </span>
                </div>
            </fieldset>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <fieldset class="form-group">
                <label class="form-label semibold"
                       for="date_to">
                    {{'To date' | translate}}:
                </label>
                <div class='input-group date'>
                    <input type='text'
                           pattern="[0-9]{4}-[0-9]{2}"
                           ng-model="payment.date_to"
                           date-time-picker
                           dtp-date-format="YYYY-MM"
                           dtp-locale="{{mainController.currentLang}}"
                           name="date_to"
                           id="date_to"
                           class="form-control date_range"
                            />
                    <span class="input-group-addon">
                        <i class="font-icon font-icon-calend"></i>
                    </span>
                </div>
            </fieldset>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <fieldset class="form-group">
                <button class="btn btn-inline btn-secondary" type="button" ng-click="payment.changeDateFilter();">
                    <span class="glyphicon glyphicon-search"></span>
                    &nbsp; {{ 'Search' | translate }}
                </button>
            </fieldset>
        </div>
    </div>

    <div class="box-typical table-wrapper">
        <div class="dropdown table-columns-dropdown">
            <span class="icon glyphicon glyphicon-th-list " data-toggle="dropdown" title="{{'Columns' | translate}}"></span>
            <ul class="dropdown-menu dropdown-menu-right keep-open-on-click">
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[1].show"/> {{payment.columns[1].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[2].show"/> {{payment.columns[2].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[3].show"/> {{payment.columns[3].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[4].show"/> {{payment.columns[4].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[5].show"/> {{payment.columns[5].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[6].show"/> {{payment.columns[6].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[7].show"/> {{payment.columns[7].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[8].show"/> {{payment.columns[8].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[9].show"/> {{payment.columns[9].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[10].show"/> {{payment.columns[10].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[11].show"/> {{payment.columns[11].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[12].show"/> {{payment.columns[12].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[13].show"/> {{payment.columns[13].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[14].show"/> {{payment.columns[14].title()}}
                    </label>
                </li>
            </ul>
        </div>

        <script type="text/ng-template" id="headerCheckbox.html">
            <input type="checkbox" ng-model="payment.loadedData.allChecked" class="select-all" value="" />
        </script>

        <table ng-table="payment.tableParams"
               ng-table-columns-binding="payment.columns"
               template-pagination="/frontend/views/common/table-pagination-template.html"
               class="table table-bordered table-hover"
               show-filter="true">

            <tr ng-repeat="p in $data">
                <td header="'headerCheckbox.html'" class="td-col-2 text-center">
                    <input type="checkbox" ng-model="payment.loadedData.checkedItems[p.id]" ng-change="payment.loadedData.allItems[payment.loadedData.allItemsIds.indexOf(p.id)].selected = payment.loadedData.checkedItems[p.id];" />
                </td>
                <td title="'№'" class="td-col-2 text-center">
                    {{ ((payment.tableParams.page() - 1) * payment.tableParams.count()) + $index + 1 }}
                </td>
                <td data-title="'Receiver' | translate" filter="{ receiverFullName: 'text'}" sortable="'receiverFullName'" class="actions" ng-if="true">
                    <span class="user-item">
                        <a href="/user/{{p.receiver.id}}">
                            <img class="user-image" src="{{p.receiver.profile.profileImageFullPath}}">
                            {{p.receiver.fullName}}
                        </a>
                    </span>
                </td>
                <td data-title="'Departments' | translate"
                    filter="{ departmentsIds: '/frontend/views/common/multi-select-template.html' }"
                    filter-data="payment.getDepartmensFilter()"
                    class="text-center"
                    ng-if="true">
                    <span ng-if="p.receiver.departmentsAsString">
                        {{p.receiver.departmentsAsString}}
                    </span>
                    <span ng-if="!p.receiver.departmentsAsString"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>
                <td data-title="'Sum (UAH)' | translate" filter="{ paymentSumUAHAsString: 'text'}" sortable="'paymentSumUAHAsString'" class="text-center" ng-if="true">
                    <div class="controls" ng-class="payment_sum_uah.$invalid && payment_sum_uah.$dirty ? 'has-error' : ''">
                        <input type="number" step="0.01" min="0" name="payment_sum_uah" ng-model="p.payment_sum_uah" class="editable-input form-control input-sm" required/>
                    </div>
                </td>
                <td data-title="'Sum (USD)' | translate" filter="{ paymentSumUSDAsString: 'text'}" sortable="'paymentSumUSDAsString'" class="text-center" ng-if="true">
                    <div class="controls" ng-class="payment_sum_usd.$invalid && payment_sum_usd.$dirty ? 'has-error' : ''">
                        <input type="number" step="0.01" min="0" name="payment_sum_usd" ng-model="p.payment_sum_usd" class="editable-input form-control input-sm" required/>
                    </div>
                </td>
                <td data-title="'Bonuses (USD)' | translate" filter="{ bonusesSumUSDAsString: 'text'}" sortable="'bonusesSumUSDAsString'" class="text-center" ng-if="true">
                    <div class="controls" ng-class="bonuses_sum_usd.$invalid && bonuses_sum_usd.$dirty ? 'has-error' : ''">
                        <input type="number" step="0.01" min="0" name="bonuses_sum_usd" ng-model="p.bonuses_sum_usd" class="editable-input form-control input-sm" required/>
                    </div>
                </td>
                <td data-title="'Other (USD)' | translate" filter="{ otherSumUSDAsString: 'text'}" sortable="'otherSumUSDAsString'" class="text-center" ng-if="true">
                    <div class="controls" ng-class="other_sum_usd.$invalid && other_sum_usd.$dirty ? 'has-error' : ''">
                        <input type="number" step="0.01" min="0" name="other_sum_usd" ng-model="p.other_sum_usd" class="editable-input form-control input-sm" required/>
                    </div>
                </td>
                <td data-title="'Σ (UAH)' | translate" filter="{ sumUAHAsString: 'text'}" sortable="'sumUAHAsString'" class="text-center" ng-if="true">
                    {{p.payment_sum_uah}} {{'UAH' | translate}}
                </td>
                <td data-title="'Σ (USD)' | translate" filter="{ sumUSDAsString: 'text'}" sortable="'sumUSDAsString'" class="text-center" ng-if="true">
                    {{ ((p.payment_sum_usd ++ p.bonuses_sum_usd ++ p.other_sum_usd) | number:2 ) }} {{'USD' | translate}}
                </td>
                <td data-title="'Status' | translate" filter="{ status: 'select'}" filter-data="payment.getPaymentStatusesFilter()" sortable="'status'" class="text-center" ng-if="true">
                    <span class="label"
                          ng-class="(p.status == payment.statuses.Payed) ? 'label-success' : 'label-info'">
                        {{p.statusAsString | translate}}
                    </span>
                </td>
                <td data-title="'Comment' | translate" filter="{ comment: 'text'}" sortable="'comment'" class="text-center" ng-if="true">
                    <div class="controls" ng-class="comment.$invalid && comment.$dirty ? 'has-error' : ''">
                        <input type="text" name="comment" ng-model="p.comment" class="editable-input form-control input-sm" required/>
                    </div>
                </td>
                <td data-title="'Billing card number (UAH)' | translate" filter="{ billingCardUAH: 'text'}" sortable="'billingCardUAH'" class="text-center" ng-if="false">
                    {{p.uah_billing_card_number}}
                </td>
                <td data-title="'Billing card number (USD)' | translate" filter="{ billingCardUSD: 'text'}" sortable="'billingCardUSD'" class="text-center" ng-if="false">
                    {{p.usd_billing_card_number}}
                </td>
                <td data-title="'Period of payment' | translate" sortable="'period'" class="text-center" ng-if="true">
                    {{p.period | date: "MM-yyyy"}}
                </td>
                <td data-title="'Date of payment' | translate" sortable="'created_at'" class="text-center" ng-if="false">
                    {{p.created_at}}
                </td>
            </tr>
        </table>
    </div>
</div>
