<form name="form" class="row form-horizontal" novalidate>

    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 box-typical box-typical-padding">

        <h5 class="with-border" >{{mainController.title | translate}}</h5>

        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.receiverAsObject.$invalid && form.receiverAsObject.$dirty }">
            <label class="form-label required">
                {{'Receiver' | translate}}
            </label>
            <div class="custom-typeahead">
                <div class="input-group">
                    <input type="text"
                           ng-model="payment.receiverAsObject"
                           ng-model-options="{ debounce: 500 }"
                           placeholder="{{'Choose user from list' | translate}}"
                           uib-typeahead="user as user.fullName for user in payment.getUsersByName($viewValue)"
                           typeahead-popup-template-url="/frontend/views/common/typeahead-popup-template.html"
                           class="form-control">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </div>
                </div>
            </div>
            <small class="text-muted"
                   ng-if="form.receiverAsObject.$invalid && form.receiverAsObject.$dirty">
                {{'Receiver is required' | translate}}
            </small>
        </fieldset>

        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.payment_sum_uah.$invalid && form.payment_sum_uah.$dirty }">
            <label class="form-label"
                   for="payment_sum_uah">
                {{'Sum (UAH)' | translate}}
            </label>
            <input ng-model="payment.model.payment_sum_uah"
                   placeholder="{{'Sum (UAH)' | translate}}"
                   type="number"
                   step="0.01" min="0"
                   name="payment_sum_uah"
                   id="payment_sum_uah"
                   class="form-control">
            <small class="text-muted"
                   ng-if="form.payment_sum_uah.$invalid && form.payment_sum_uah.$dirty">
                {{'Sum (UAH) is required' | translate}}
            </small>
        </fieldset>

        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.payment_sum_usd.$invalid && form.payment_sum_usd.$dirty }">
            <label class="form-label"
                   for="payment_sum_usd">
                {{'Sum (USD)' | translate}}
            </label>
            <input ng-model="payment.model.payment_sum_usd"
                   placeholder="{{'Sum (USD)' | translate}}"
                   type="number"
                   step="0.01" min="0"
                   name="payment_sum_usd"
                   id="payment_sum_usd"
                   class="form-control">
            <small class="text-muted"
                   ng-if="form.payment_sum_usd.$invalid && form.payment_sum_usd.$dirty">
                {{'Sum (USD) is required' | translate}}
            </small>
        </fieldset>

        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.bonuses_sum_usd.$invalid && form.bonuses_sum_usd.$dirty }">
            <label class="form-label"
                   for="bonuses_sum_usd">
                {{'Bonuses (USD)' | translate}}
            </label>
            <input ng-model="payment.model.bonuses_sum_usd"
                   placeholder="{{'Bonuses (USD)' | translate}}"
                   type="number"
                   step="0.01" min="0"
                   name="bonuses_sum_usd"
                   id="bonuses_sum_usd"
                   class="form-control">
            <small class="text-muted"
                   ng-if="form.bonuses_sum_usd.$invalid && form.bonuses_sum_usd.$dirty">
                {{'Bonuses (USD) is required' | translate}}
            </small>
        </fieldset>

        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.other_sum_usd.$invalid && form.other_sum_usd.$dirty }">
            <label class="form-label"
                   for="other_sum_usd">
                {{'Other (USD)' | translate}}
            </label>
            <input ng-model="payment.model.other_sum_usd"
                   placeholder="{{'Other (USD)' | translate}}"
                   type="number"
                   step="0.01" min="0"
                   name="other_sum_usd"
                   id="other_sum_usd"
                   class="form-control">
            <small class="text-muted"
                   ng-if="form.other_sum_usd.$invalid && form.other_sum_usd.$dirty">
                {{'Other (USD) is required' | translate}}
            </small>
        </fieldset>

        <fieldset class="form-group">
            <label class="form-label required"
                   for="period">
                {{'Period' | translate}}
            </label>
            <div class='input-group date'>
                <input ng-model="payment.model.periodAsString"
                       type="text"
                       date-time-picker
                       dtp-date-format="YYYY-MM"
                       dtp-locale="{{mainController.currentLang}}"
                       pattern="[0-9]{4}-[0-9]{2}"
                       name="period"
                       id="period"
                       class="form-control"
                       required>
                <span class="input-group-addon">
                    <i class="font-icon font-icon-calend"></i>
                </span>
            </div>
            <small class="text-muted"
                   ng-if="form.periodAsString.$invalid && form.periodAsString.$dirty">
                {{'Period date is required and must be valid' | translate}}
            </small>
        </fieldset>

        <fieldset class="form-group">
            <label class="form-label required"
                   for="status">
                {{'Status' | translate}}
            </label>
            <select ng-model="payment.model.status"
                    name="status"
                    id="status"
                    class="form-control"
                    ng-options="status.id as (status.title | translate) for status in payment.statuses"
                    ng-required="required">
            </select>
        </fieldset>

        <fieldset class="form-group"
                  ng-class="{ 'form-group-error': form.comment.$invalid && form.comment.$dirty }">
            <label class="form-label"
                   for="comment">
                {{'Comment' | translate}}
            </label>
            <input ng-model="payment.model.comment"
                   placeholder="{{'Comment' | translate}}"
                   type="text"
                   name="comment"
                   id="comment"
                   class="form-control">
            <small class="text-muted"
                   ng-if="form.comment.$invalid && form.comment.$dirty">
                {{'Comment is required' | translate}}
            </small>
        </fieldset>

        <div class="row text-center">
            <button ng-if="payment.action == payment.actions.UPDATE"
                    ng-click="payment.update()"
                    ng-disabled="!form.$valid || !form.$dirty"
                    class="btn btn-primary">
                {{ payment.action | translate }}
            </button>

            <button ng-if="payment.action == payment.actions.CREATE"
                    ng-click="payment.create()"
                    ng-disabled="!form.$valid || !form.$dirty"
                    class="btn btn-success">
                {{ payment.action | translate }}
            </button>
        </div>
    </div>

    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

</form>