<form name="form" novalidate>
<div>
    <button ng-click="payment.saveList()"
        class="btn btn-success list-create-btn"
        ng-disabled="!form.$dirty || !form.$valid"
        auth-can="payment.create">
        {{'Save' | translate}}
    </button>
    <a href="/payments"
       class="btn btn-primary list-create-btn"
       auth-can="payment.read">
        {{'To all payments' | translate}}
    </a>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <fieldset class="form-group">
                <label class="form-label semibold required"
                       for="period">
                    {{'Period' | translate}}:
                </label>
                <div class='input-group date'>
                    <input type='text'
                           pattern="[0-9]{4}-[0-9]{2}"
                           name="period"
                           id="period"
                           ng-model="payment.period"
                           date-time-picker
                           dtp-date-format="YYYY-MM"
                           dtp-locale="{{mainController.currentLang}}"
                           class="form-control period"
                           required
                           />
                    <span class="input-group-addon">
                        <i class="font-icon font-icon-calend"></i>
                    </span>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="box-typical table-wrapper">
        <table ng-table="payment.tableParams"
               ng-table-columns-binding="payment.columns"
               template-pagination="/frontend/views/modules/payment/payment/templates/table-template-without-pagination.html"
               class="table table-bordered table-hover"
               show-filter="true">

            <tr ng-repeat="p in $data">
                <td title="'№'" class="td-col-2 text-center">
                    {{ ((payment.tableParams.page() - 1) * payment.tableParams.count()) + $index + 1 }}
                </td>
                <td data-title="'Receiver' | translate" filter="{ receiverFullName: 'text'}" sortable="'receiverFullName'" class="actions">
                    <span class="user-item">
                        <a href="/user/{{p.receiver.id}}">
                            <img class="user-image" src="{{p.receiver.profile.profileImageFullPath}}">
                            {{p.receiver.fullName}}
                        </a>
                    </span>
                </td>
                <td data-title="'Department' | translate" filter="{ department: 'text'}" sortable="'department'" class="text-center">
                    <span ng-if="p.receiver.departmentsAsString">{{p.receiver.departmentsAsString}}</span>
                    <span ng-if="!p.receiver.departmentsAsString" class="not-set">({{'Not set' | translate}})</span>
                </td>
                <td data-title="'Sum (UAH)' | translate" filter="{ payment_sum_uah: 'number'}" sortable="'payment_sum_uah'" class="text-center">
                    <div class="controls" ng-class="payment_sum_uah.$invalid && payment_sum_uah.$dirty ? 'has-error' : ''">
                        <input type="number" step="0.01" min="0" name="payment_sum_uah" ng-model="p.payment_sum_uah" class="editable-input form-control input-sm" required/>
                    </div>
                </td>
                <td data-title="'Sum (USD)' | translate" filter="{ payment_sum_usd: 'number'}" sortable="'payment_sum_usd'" class="text-center">
                    <div class="controls" ng-class="payment_sum_usd.$invalid && payment_sum_usd.$dirty ? 'has-error' : ''">
                        <input type="number" step="0.01" min="0" name="payment_sum_usd" ng-model="p.payment_sum_usd" class="editable-input form-control input-sm" required/>
                    </div>
                </td>
                <td data-title="'Bonuses (USD)' | translate" filter="{ bonuses_sum_usd: 'number'}" sortable="'bonuses_sum_usd'" class="text-center">
                    <div class="controls" ng-class="bonuses_sum_usd.$invalid && bonuses_sum_usd.$dirty ? 'has-error' : ''">
                        <input type="number" step="0.01" min="0" name="bonuses_sum_usd" ng-model="p.bonuses_sum_usd" class="editable-input form-control input-sm" required/>
                    </div>
                </td>
                <td data-title="'Other (USD)' | translate" filter="{ other_sum_usd: 'number'}" sortable="'other_sum_usd'" class="text-center">
                    <div class="controls" ng-class="other_sum_usd.$invalid && other_sum_usd.$dirty ? 'has-error' : ''">
                        <input type="number" step="0.01" min="0" name="other_sum_usd" ng-model="p.other_sum_usd" class="editable-input form-control input-sm" required/>
                    </div>
                </td>
                <td data-title="'Σ (UAH)' | translate" class="text-center">
                    <span class="editable-text">{{ (p.payment_sum_uah * 1) | number:2}}</span>
                </td>
                <td data-title="'Σ (USD)' | translate" class="text-center">
                    <span class="editable-text">{{ ((p.payment_sum_usd  ++ p.bonuses_sum_usd ++ p.other_sum_usd) | number:2) }}</span>
                </td>
                <td data-title="'Comment' | translate" filter="{ comment: 'text'}" sortable="'comment'" class="text-center">
                    <div class="controls" ng-class="comment.$invalid && comment.$dirty ? 'has-error' : ''">
                        <input type="text" name="comment" ng-model="p.comment" class="editable-input form-control input-sm"/>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
</form>