<div>
    <a href="/payments"
       class="btn btn-success list-create-btn"
       auth-can="payment.create">
        {{'To all payments' | translate}}
    </a>
    <a href="/payment/{{ payment.modelId }}"
       class="btn btn-primary list-create-btn"
       auth-can="payment.create">
        {{ 'To payment' | translate}}&nbsp; № {{ payment.modelId }}
    </a>
    <div class="box-typical table-wrapper">
        <div class="dropdown table-columns-dropdown">
            <span class="icon glyphicon glyphicon-th-list " data-toggle="dropdown" title="{{'Columns' | translate}}"></span>
            <ul class="dropdown-menu dropdown-menu-right keep-open-on-click">
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[1].show"/> {{payment.columns[1].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[2].show"/> {{payment.columns[2].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[3].show"/> {{payment.columns[3].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[4].show"/> {{payment.columns[4].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[5].show"/> {{payment.columns[5].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[6].show"/> {{payment.columns[6].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[7].show"/> {{payment.columns[7].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[8].show"/> {{payment.columns[8].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[9].show"/> {{payment.columns[9].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[10].show"/> {{payment.columns[10].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[11].show"/> {{payment.columns[11].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[12].show"/> {{payment.columns[12].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[13].show"/> {{payment.columns[13].title()}}
                    </label>
                </li>
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="payment.columns[14].show"/> {{payment.columns[14].title()}}
                    </label>
                </li>
            </ul>
        </div>

        <table ng-table="payment.tableParams"
               ng-table-columns-binding="payment.columns"
               template-pagination="/frontend/views/common/table-pagination-template.html"
               class="table table-bordered table-hover"
               show-filter="true">

            <tr ng-repeat="p in $data">
                <td title="'№'" class="td-col-2 text-center">
                    {{ ((payment.tableParams.page() - 1) * payment.tableParams.count()) + $index + 1 }}
                </td>
                <td data-title="'Receiver' | translate" filter="{ receiverFullName: 'text'}" sortable="'receiverFullName'" ng-if="true" class="actions">
                    <span class="user-item">
                        <a href="/user/{{p.receiver.id}}">
                            <img class="user-image" src="{{p.receiver.profile.profileImageFullPath}}">
                            {{p.receiver.fullName}}
                        </a>
                    </span>
                </td>
                <td data-title="'Departments' | translate"
                    filter="{ departmentsIds: '/frontend/views/common/multi-select-template.html' }"
                    filter-data="payment.getDepartmensFilter()"
                    class="text-center"
                    ng-if="true">
                    <span ng-if="p.receiver.departmentsAsString">
                        {{p.receiver.departmentsAsString}}
                    </span>
                    <span ng-if="!p.receiver.departmentsAsString"
                          class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </td>
                <td data-title="'Sum (UAH)' | translate" filter="{ paymentSumUAHAsString: 'text'}" sortable="'paymentSumUAHAsString'" class="text-center" ng-if="true">
                    {{p.payment_sum_uah}} {{'UAH' | translate}}
                </td>
                <td data-title="'Sum (USD)' | translate" filter="{ paymentSumUSDAsString: 'text'}" sortable="'paymentSumUSDAsString'" class="text-center" ng-if="true">
                    {{p.payment_sum_usd}} {{'USD' | translate}}
                </td>
                <td data-title="'Bonuses (USD)' | translate" filter="{ bonusesSumUSDAsString: 'text'}" sortable="'bonusesSumUSDAsString'" class="text-center" ng-if="true">
                    {{p.bonuses_sum_usd}} {{'USD' | translate}}
                </td>
                <td data-title="'Other (USD)' | translate" filter="{ otherSumUSDAsString: 'text'}" sortable="'otherSumUSDAsString'" class="text-center" ng-if="true">
                    {{p.other_sum_usd}} {{'USD' | translate}}
                </td>
                <td data-title="'Σ (UAH)' | translate" filter="{ sumUAHAsString: 'text'}" sortable="'sumUAHAsString'" class="text-center" ng-if="true">
                    {{p.sum_uah}} {{'UAH' | translate}}
                </td>
                <td data-title="'Σ (USD)' | translate" filter="{ sumUSDAsString: 'text'}" sortable="'sumUSDAsString'" class="text-center" ng-if="true">
                    {{p.sum_usd}} {{'USD' | translate}}
                </td>
                <td data-title="'Status' | translate" filter="{ status: 'select'}" filter-data="payment.getPaymentStatusesFilter()" sortable="'status'" class="text-center" ng-if="true">
                    <span class="label"
                          ng-class="(p.status == payment.statuses.Payed) ? 'label-success' : 'label-info'">
                        {{p.statusAsString | translate}}
                    </span>
                </td>
                <td data-title="'Comment' | translate" filter="{ comment: 'text'}" sortable="'comment'" class="text-center" ng-if="true">
                    <span ng-if="p.comment">{{p.comment}}</span>
                    <span ng-if="!p.comment" class="not-set">({{'Not set' | translate}})</span>
                </td>
                <td data-title="'Billing card number (UAH)' | translate" filter="{ billingCardUAH: 'text'}" sortable="'billingCardUAH'" class="text-center" ng-if="false">
                    {{p.uah_billing_card_number}}
                </td>
                <td data-title="'Billing card number (USD)' | translate" filter="{ billingCardUSD: 'text'}" sortable="'billingCardUSD'" class="text-center" ng-if="false">
                    {{p.usd_billing_card_number}}
                </td>
                <td data-title="'Period of payment' | translate" sortable="'period'" class="text-center" ng-if="true">
                    {{p.period | date: "MM-yyyy"}}
                    <i class="font-icon gray-icon font-icon-clock"></i>
                </td>
                <td data-title="'Date of payment' | translate" sortable="'created_at'" class="text-center" ng-if="true">
                    {{p.created_at}}
                    <i class="font-icon gray-icon font-icon-clock"></i>
                </td>
                <td title="'Actions' | translate" class="td-col-5 text-center actions">
                    <a href="/payment/{{ p.parent }}/version/{{p.version}}"
                       class="action-icon"
                       auth-can="payment.read">
                        <i class="glyphicon glyphicon-eye-open" aria-hidden="true" title="{{'View' | translate}}"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
