<div>
    <a href="/payments"
       class="btn btn-success list-create-btn"
       auth-can="payment.create">
        {{'To all payments' | translate}}
    </a>
    <a href="/payment/{{payment.originalModel.id}}"
       class="btn btn-primary list-create-btn"
       auth-can="payment.create">
        {{'To payment' | translate}} &nbsp;№ {{ payment.originalModel.id }}
    </a>
    <a href="/payment/{{payment.originalModel.id}}/versions"
       class="btn btn-warning list-create-btn"
       auth-can="payment.create">
        {{'To versions of payment' | translate}} &nbsp;№ {{ payment.originalModel.id }}
    </a>
</div>

<div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 box-typical box-typical-padding">

    <table class="table table-hover">
        <thead>
        <tr>
            <th colspan="2" class="view-actions">№ {{ payment.originalModel.id }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                {{ 'Receiver' | translate }}
            </td>
            <td class="color-blue-grey-lighter">
                <span ng-if="payment.originalModel.receiver_id != payment.oldModel.receiver_id">
                    {{ payment.oldModel.receiver.fullName }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{ payment.originalModel.receiver.fullName }}
                </span>
                <span ng-if="payment.originalModel.receiver_id == payment.oldModel.receiver_id">
                    {{ payment.originalModel.receiver.fullName }}
                </span>
            </td>
        </tr>
        <tr>
            <td>
                {{ 'Departments' | translate }}
            </td>
            <td class="color-blue-grey-lighter">
                <!--setted->setted-->
                <span ng-if="payment.originalModel.receiver.departmentsAsString && payment.oldModel.receiver.departmentsAsString">
                    <span ng-if="payment.originalModel.receiver.departmentsAsString != payment.oldModel.receiver.departmentsAsString">
                        {{ payment.oldModel.receiver.departmentsAsString }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{ payment.originalModel.receiver.departmentsAsString }}
                    </span>
                    <span ng-if="payment.originalModel.receiver.departmentsAsString == payment.oldModel.receiver.departmentsAsString">
                        {{ payment.originalModel.receiver.departmentsAsString }}
                    </span>
                </span>

                <!--setted->not_set-->
                <span ng-if="!payment.originalModel.receiver.departmentsAsString && payment.oldModel.receiver.departmentsAsString">
                    {{'!!!!'}}
                    {{ payment.oldModel.receiver.departmentsAsString }}
                    {{ payment.originalModel.receiver.departmentsAsString }}
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <span ng-if="!payment.originalModel.receiver.departmentsAsString" class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </span>

                <!--not_set->setted-->
                <span ng-if="payment.originalModel.receiver.departmentsAsString && !payment.oldModel.receiver.departmentsAsString">
                    <span ng-if="!payment.oldModel.receiver.departmentsAsString" class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    {{ payment.originalModel.receiver.departmentsAsString }}
                </span>

                <!--not_set->not_set-->
                <span ng-if="!payment.originalModel.receiver.departmentsAsString && !payment.oldModel.receiver.departmentsAsString">
                    <span ng-if="!payment.originalModel.receiver.departmentsAsString" class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                {{ 'Sum (UAH)' | translate }}
            </td>
            <td class="color-blue-grey-lighter">
                <span ng-if="payment.originalModel.payment_sum_uah != payment.oldModel.payment_sum_uah">
                    {{ payment.oldModel.payment_sum_uah }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{ payment.originalModel.payment_sum_uah }}
                </span>
                <span ng-if="payment.originalModel.payment_sum_uah == payment.oldModel.payment_sum_uah">
                    {{ payment.originalModel.payment_sum_uah }}
                </span>
            </td>
        </tr>
        <tr>
            <td>
                {{ 'Sum (USD)' | translate }}
            </td>
            <td class="color-blue-grey-lighter">
                <span ng-if="payment.originalModel.payment_sum_usd != payment.oldModel.payment_sum_usd">
                    {{ payment.oldModel.payment_sum_usd }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{ payment.originalModel.payment_sum_usd }}
                </span>
                <span ng-if="payment.originalModel.payment_sum_usd == payment.oldModel.payment_sum_usd">
                    {{ payment.originalModel.payment_sum_usd }}
                </span>
            </td>
        </tr>
        <tr>
            <td>
                {{ 'Bonuses (USD)' | translate }}
            </td>
            <td class="color-blue-grey-lighter">
                <span ng-if="payment.originalModel.bonuses_sum_usd != payment.oldModel.bonuses_sum_usd">
                    {{ payment.oldModel.bonuses_sum_usd }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{ payment.originalModel.bonuses_sum_usd }}
                </span>
                <span ng-if="payment.originalModel.bonuses_sum_usd == payment.oldModel.bonuses_sum_usd">
                    {{ payment.originalModel.bonuses_sum_usd }}
                </span>
            </td>
        </tr>
        <tr>
            <td>
                {{ 'Other (USD)' | translate }}
            </td>
            <td class="color-blue-grey-lighter">
                <span ng-if="payment.originalModel.other_sum_usd != payment.oldModel.other_sum_usd">
                    {{ payment.oldModel.other_sum_usd }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{ payment.originalModel.other_sum_usd }}
                </span>
                <span ng-if="payment.originalModel.other_sum_usd == payment.oldModel.other_sum_usd">
                    {{ payment.originalModel.other_sum_usd }}
                </span>
            </td>
        </tr>
        <tr>
            <td>
                {{ 'Σ (USD)' | translate }}
            </td>
            <td class="color-blue-grey-lighter">
                <span ng-if="payment.originalModel.sum_uah != payment.oldModel.sum_uah">
                    {{ payment.oldModel.sum_uah }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{ payment.originalModel.sum_uah }}
                </span>
                <span ng-if="payment.originalModel.sum_uah == payment.oldModel.sum_uah">
                    {{ payment.originalModel.sum_uah }}
                </span>
            </td>
        </tr>
        <tr>
            <td>
                {{ 'Σ (USD)' | translate }}
            </td>
            <td class="color-blue-grey-lighter">
                <span ng-if="payment.originalModel.sum_usd != payment.oldModel.sum_usd">
                    {{ payment.oldModel.sum_usd }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{ payment.originalModel.sum_usd }}
                </span>
                <span ng-if="payment.originalModel.sum_usd == payment.oldModel.sum_usd">
                    {{ payment.originalModel.sum_usd }}
                </span>
            </td>
        </tr>
        <tr>
            <td>
                {{ 'Status' | translate }}
            </td>
            <td class="color-blue-grey-lighter">
                <span ng-if="payment.originalModel.status != payment.oldModel.status">
                    <span class="label"
                        ng-class="(payment.oldModel.status == payment.statuses.Payed) ? 'label-success' : 'label-info'">
                        {{payment.oldModel.statusAsString | translate}}
                    </span>
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <span class="label"
                        ng-class="(payment.originalModel.status == payment.statuses.Payed) ? 'label-success' : 'label-info'">
                        {{payment.originalModel.statusAsString | translate}}
                    </span>
                </span>
                <span ng-if="payment.originalModel.status == payment.oldModel.status">
                    <span class="label"
                          ng-class="(payment.originalModel.status == payment.statuses.Payed) ? 'label-success' : 'label-info'">
                        {{payment.originalModel.statusAsString | translate}}
                    </span>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                {{ 'Comment' | translate }}
            </td>
            <td class="color-blue-grey-lighter">
                <!--setted->setted-->
                <span ng-if="payment.originalModel.comment && payment.oldModel.comment">
                    <span ng-if="payment.originalModel.comment != payment.oldModel.comment">
                        {{ payment.oldModel.comment }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{ payment.originalModel.comment }}
                    </span>
                    <span ng-if="payment.originalModel.comment == payment.oldModel.comment">
                        {{ payment.originalModel.comment }}
                    </span>
                </span>

                <!--setted->not_set-->
                <span ng-if="!payment.originalModel.comment && payment.oldModel.comment">
                    {{ payment.oldModel.comment }}
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <span ng-if="!payment.originalModel.comment" class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                </span>

                <!--not_set->setted-->
                <span ng-if="payment.originalModel.comment && !payment.oldModel.comment">
                    <span ng-if="!payment.oldModel.comment" class="not-set">
                        ({{'Not set' | translate}})
                    </span>
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    {{ payment.originalModel.comment }}
                </span>

                <!--not_set->not_set-->
                <span ng-if="!payment.originalModel.comment && !payment.oldModel.comment" class="not-set">
                    ({{'Not set' | translate}})
                </span>

            </td>
        </tr>
        <tr>
            <td>
                {{ 'Billing card number (UAH)' | translate }}
            </td>
            <td class="color-blue-grey-lighter">
                <span ng-if="payment.originalModel.uah_billing_card_number != payment.oldModel.uah_billing_card_number">
                    {{ payment.oldModel.uah_billing_card_number }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{ payment.originalModel.uah_billing_card_number }}
                </span>
                <span ng-if="payment.originalModel.uah_billing_card_number == payment.oldModel.uah_billing_card_number">
                    {{ payment.originalModel.uah_billing_card_number }}
                </span>
            </td>
        </tr>
        <tr>
            <td>
                {{ 'Billing card number (USD)' | translate }}
            </td>
            <td class="color-blue-grey-lighter">
                <span ng-if="payment.originalModel.usd_billing_card_number != payment.oldModel.usd_billing_card_number">
                    {{ payment.oldModel.usd_billing_card_number }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{ payment.originalModel.usd_billing_card_number }}
                </span>
                <span ng-if="payment.originalModel.usd_billing_card_number == payment.oldModel.usd_billing_card_number">
                    {{ payment.originalModel.usd_billing_card_number }}
                </span>
            </td>
        </tr>
        <tr>
            <td>
                {{ 'Period of payment' | translate }}
            </td>
            <td class="color-blue-grey-lighter">
                <span ng-if="payment.originalModel.periodAsString != payment.oldModel.periodAsString">
                    {{ payment.oldModel.periodAsString }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{ payment.originalModel.periodAsString }}
                </span>
                <span ng-if="payment.originalModel.periodAsString == payment.oldModel.periodAsString">
                    {{ payment.originalModel.periodAsString }}
                </span>
            </td>
        </tr>
        <tr>
            <td>
                {{ 'Date of payment' | translate }}
            </td>
            <td class="color-blue-grey-lighter">
                <span ng-if="payment.originalModel.updated_at != payment.oldModel.updated_at">
                    <span class="modified">{{ payment.oldModel.updated_at }}</span> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{ payment.originalModel.updated_at }}
                </span>
                <span ng-if="payment.originalModel.updated_at == payment.oldModel.updated_at">
                    {{ payment.originalModel.updated_at }}
                </span>
            </td>
        </tr>

        </tbody>
    </table>

</div>

<div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>