<div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 box-typical box-typical-padding">

    <table class="table table-hover">
        <thead>
        <tr>
            <th colspan="2" class="view-actions">№ {{ payment.model.id }}
                <a href=""
                   class="action-icon pull-right"
                   ng-click="payment.delete(payment.model.id)"
                   auth-can="payment.delete">
                    <i class="glyphicon glyphicon-trash" aria-hidden="true" title="{{'Delete' | translate}}"></i>
                </a>
                <a href="/payment/{{ payment.model.id }}/update"
                   class="action-icon pull-right"
                   auth-can="payment.update">
                    <i class="glyphicon glyphicon-pencil" aria-hidden="true" title="{{'Update' | translate}}"></i>
                </a>
                <a href=""
                   ng-hide="payment.model.status == payment.statuses.Payed"
                   ng-click="payment.pay()"
                   class="action-icon pull-right"
                   auth-can="payment.update">
                    <i class="fa fa-money" aria-hidden="true" title="{{'Pay' | translate}}"></i>
                </a>
                <a href="/payment/{{ payment.model.id }}/versions"
                   class="action-icon pull-right"
                   auth-can="payment.update">
                    <i class="fa fa-history" aria-hidden="true" title="{{'History' | translate}}"></i>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                {{ 'Receiver' | translate }}
            </td>
            <td class="color-blue-grey-lighter actions">
                <span class="user-item">
                    <a href="/user/{{payment.model.receiver.id}}">
                        <img class="user-image" src="{{payment.model.receiver.profile.profileImageFullPath}}">
                        {{payment.model.receiver.fullName}}
                    </a>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                {{ 'Departments' | translate }}
            </td>
            <td class="color-blue-grey-lighter">
                <span ng-if="payment.model.receiver.departmentsAsString">{{ payment.model.receiver.departmentsAsString }}</span>
                <span ng-if="!payment.model.receiver.departmentsAsString" class="not-set">({{'Not set' | translate}})</span>
            </td>
        </tr>
        <tr>
            <td>
                {{ 'Sum (UAH)' | translate }}
            </td>
            <td class="color-blue-grey-lighter">{{ payment.model.payment_sum_uah }}</td>
        </tr>
        <tr>
            <td>
                {{ 'Sum (USD)' | translate }}
            </td>
            <td class="color-blue-grey-lighter">{{ payment.model.payment_sum_usd }}</td>
        </tr>
        <tr>
            <td>
                {{ 'Bonuses (USD)' | translate }}
            </td>
            <td class="color-blue-grey-lighter">{{ payment.model.bonuses_sum_usd }}</td>
        </tr>
        <tr>
            <td>
                {{ 'Other (USD)' | translate }}
            </td>
            <td class="color-blue-grey-lighter">{{ payment.model.other_sum_usd }}</td>
        </tr>
        <tr>
            <td>
                {{ 'Σ (USD)' | translate }}
            </td>
            <td class="color-blue-grey-lighter">{{ payment.model.sum_uah }}</td>
        </tr>
        <tr>
            <td>
                {{ 'Σ (USD)' | translate }}
            </td>
            <td class="color-blue-grey-lighter">{{ payment.model.sum_usd }}</td>
        </tr>
        <tr>
            <td>
                {{ 'Status' | translate }}
            </td>
            <td>
                <span class="label"
                    ng-class="(payment.model.status == payment.statuses.Payed) ? 'label-success' : 'label-info'">
                    {{payment.model.statusAsString | translate}}
                </span>
            </td>
        </tr>
        <tr>
            <td>
                {{ 'Comment' | translate }}
            </td>
            <td class="color-blue-grey-lighter">
                <span ng-if="payment.model.comment">{{ payment.model.comment }}</span>
                <span ng-if="!payment.model.comment" class="not-set">({{'Not set' | translate}})</span>
            </td>
        </tr>
        <tr>
            <td>
                {{ 'Billing card number (UAH)' | translate }}
            </td>
            <td class="color-blue-grey-lighter">{{ payment.model.uah_billing_card_number }}</td>
        </tr>
        <tr>
            <td>
                {{ 'Billing card number (USD)' | translate }}
            </td>
            <td class="color-blue-grey-lighter">{{ payment.model.usd_billing_card_number }}</td>
        </tr>
        <tr>
            <td>
                {{ 'Period of payment' | translate }}
            </td>
            <td class="color-blue-grey-lighter">{{ payment.model.periodAsString }}</td>
        </tr>
        <tr>
            <td>
                {{ 'Date of payment' | translate }}
            </td>
            <td class="color-blue-grey-lighter">{{ payment.model.created_at }}</td>
        </tr>

        </tbody>
    </table>

</div>

<div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>